<template>
  <div id="q-app">
    <!-- <Menu></Menu> -->
    <router-view :key="$route.fullPath" />
  </div>
</template>

<script >
import Menu from './layouts/Menu.vue'
import Estilos from './css/estilos.css'
import Icons from './css/all.min.css'
import PaddingMargin from './css/padding-margin.css'
import GoogleMapsApiLoader from "google-maps-api-loader";
import cordovaPlugins from "./plugins/cordovaPlugins";
import Swal from 'sweetalert2';

export default {
  name: 'App',
  components: {
    Menu
  },
  data(){
    return {
      titleCurrenView: 'Doomi, Actualicaciones',
      autenticado: false,
    }
  },
  async beforeMount() {
    const Swal = require('sweetalert2');
    
    const googleMapApi = await GoogleMapsApiLoader({
      apiKey: "AIzaSyBUPAHemQKCzVuIBCYTJ9AvsEtZDkfOOjY"
    });
    window.google = googleMapApi;
    window.swal = Swal;
    
    this.$store.dispatch('actualizarTodo');
  },
  mounted(){
    this.CordovaP();
    switch(this.$auth.obtenerTipoUsuario()){
      case 'cliente': return this.$router.replace({ name:'home' });
      case 'repartidor': return this.$router.replace({ name:'Pedidos' });
      default: return this.$router.replace({ name:'home' });
    }
  },

  watch: {
    '$route': function(value) {
      // Cerrar el menu cuando la ruta cambie.
      this.$store.commit('closeLeftDrawer');
    },
  },

  methods: {
    CordovaP: function(store) {
      document.addEventListener("deviceready", function() {
        cordovaPlugins.Permissens();
      });
    },

  },
}
</script>
