<template>
	<div class="">
		<q-bar style="justify-content:space-around" dark class="flex q-ma-md">
			<q-btn  flat color="primary" icon="keyboard_arrow_left" label="" to="/Home" />
				<h6>Comercios en Guanare</h6>
				<div class="col-1">
				<q-btn round color="white" text-color="primary" @click="showFilter=!showFilter " icon="search"/>
			</div>
		</q-bar>

		<div class="row q-pa-sm" :class="{hidden: !showFilter}" >
			<div class="col-12" wrap="true">
				<q-input v-model="textFindBusiness" placeholder="Buscar comercio" >
					<template v-slot:prepend>
						<q-icon name="search" />
					</template>
				</q-input>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<q-list bordered separator class="rounded-borders" full-width>
					<q-item clickable v-ripple v-for="ne in business" :key="ne.id" :to="'/company/' + ne.id">
						<q-item-section avatar>
							<q-avatar>
								<img src="https://cdn.quasar.dev/img/avatar2.jpg">
							</q-avatar>
						</q-item-section>

						<q-item-section>
							<q-item-label lines="1">{{ne.name}}</q-item-label>
							<q-item-label caption lines="2">
								{{ne.address}}
							</q-item-label>
						</q-item-section>
					</q-item>
				</q-list>
			</div>
		</div>
	</div>
</template>


<script>

export default {
  name: 'PageIndex',
  data() {
	return {
	  business: [
		{
		  id: '1',
		  img:'https://cdn.quasar.dev/img/avatar4.jpg',
		  name: 'Coco Fresh',
		  address: 'Carrera 12, entre calle 9 y 10',
		  },
		{
		  id: '2',
		  img:'https://cdn.quasar.dev/img/avatar4.jpg',
		  name: 'Tbt Grill',
		  address: 'Carrera 12, entre calle 9 y 10',
		  },
		{
		  id: '3',
		  img:'https://cdn.quasar.dev/img/avatar4.jpg',
		  name: 'Plade Company',
		  address: 'Carrera 12, entre calle 9 y 10',
		  },
	  ],
	  textFindBusiness: '',
	  showFilter: false
	}
  }

}
</script>
