<template>
	<div class="container section">
		<div class="q-mt-xl">
			<div class="flex flex-start">
				<q-btn flat color="primary" icon="keyboard_arrow_left" label="" to="/Home" />
			</div>

			<div class="flex flex-center">
				<h6 style="margin-top:-35px;" >Cambiar Contraseña</h6>
			</div>
		</div>

		<div class="ml-xs">
			<label>Contraseña Actual</label>
		</div>

		<q-form id="form_cambiar" @submit="onSubmit" @reset="onReset" class="q-gutter-md">
			<div class="flex flex-center">
				<q-input style="width:80%;"  class="rounded" name="pass" v-model="password" filled :type="isPwd ? 'password' : 'text'" hint="" v-on:keyup="limpiar">
					<template v-slot:append>
						<q-icon
							:name="isPwd ? 'visibility_off' : 'visibility'"
							class="cursor-pointer"
							@click=" isPwd = !isPwd"
						/>
					</template>
				</q-input>
			</div>

			<div class="ml-xs">
				<label>Contraseña Nueva</label>
			</div>
			
			<div class="flex flex-center">
				<q-input style="width:80%;" name="pass_new" class="rounded" v-model="passwordn" filled :type="isPwdn ? 'password' : 'text'" hint="" v-on:keyup="limpiar">
					<template v-slot:append>
						<q-icon
							:name="isPwdn ? 'visibility_off' : 'visibility'"
							class="cursor-pointer"
							@click="isPwdn = !isPwdn"
						/>
					</template>
				</q-input>
			</div>

			<div class="ml-xs">
				<label>Confirmar contraseña</label>
			</div>
			
			<div class="flex flex-center">
				<q-input style="width:80%;" name="pass_new_con" v-model="passwordn2" filled :type="isPwdn2 ? 'password' : 'text'" hint="" v-on:keyup="limpiar">
					<template v-slot:append>
						<q-icon
							:name="isPwdn2 ? 'visibility_off' : 'visibility'"
							class="cursor-pointer"
							@click="isPwdn2=!isPwdn2"
						/>
					</template>
				</q-input>
			</div>
			
			<div class="flex flex-center" >
				<q-btn style="margin:20px;" label="Guardar" type="submit" class="cl_standar rounded " :disabled="buttonDisabled"/>
			</div>
		</q-form>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				buttonDisabled: false,
				msjError: false,
				msjSucces: false,
				password: '',
				passwordn: '',
				passwordn2: '',
				isPwd: true,
				isPwdn: true,
				isPwdn2: true
			}
		},
		methods: {
			limpiar: function() {
				this.msjError = false;
				this.msjSucces = false;
			},
			onSubmit(evt){
				evt.preventDefault();
				this.buttonDisabled = true;
				this.msjError = false;
				this.msjSucces = false;

				this.formData = new FormData(document.getElementById('form_cambiar'));
				this.$api.general.post('login/cambiar-clave', this.formData)
					.then(r => { 
						if(r.r){ //si todo esta bien, se borran los datos de los campos
							//this.msjSucces = r.msj||r.msg;
							this.email= '';
							swal.fire('Genial!!',r.msj||r.msg,'success');
							this.password= '';
							this.passwordn= '';
							this.passwordn2= '';
						}else
							swal.fire('Oops...',r.msj||r.msg,'error');
						this.buttonDisabled = false;
					})
					.catch(err => {
						swal.fire('Oops...',err.msj||err.msg,'error');
						this.buttonDisabled = false;
					});
			},

			onReset(){},
		},
	}
</script>
