<template>
	<div class="blue cont_home">
		<div  class="text-white">
			<div class="flex flex-start">
				<q-btn  flat color="primary"  icon="keyboard_arrow_left" label="" @click="atras" />
			</div>

			<div  class="flex flex-center">
				<h6 class="mt-1 mb-1">Mi orden</h6>
			</div>
		</div>

		<q-table class=" q-mt-xs degradado shadow-10 text-white text-center" :data="entradas" :columns="columns" row-key="" >
			<template v-slot:body-cell-name="props">
				<q-td :props="props">
					<div>
						<q-badge color="purple" :label="props.value" />
					</div>
				</q-td>
			</template>
		</q-table>

<!--
		<div class="row">
			<div class="col-12 text-center">
				<q-select v-if="hayItems"
					class="q-ma-md"
					style="background-color: white; border-radius: 28px !important;"
					rounded outlined
					v-model="modalidad"
					:options="modalidadesDeTrabajo"
					label="Modalidad de la orden:" />
			</div>
		</div>
-->

		<br/><br/><br/>
		<table id="tabla-totales" class="q-mt-xs text-white text-center mr-1">
			<tr>
				<td colspan="3">TOTALES</td>
			</tr>
			<tr>
				<td>Subtotal:</td>
				<td>{{ precio(subtotal) }}</td>
			</tr>
			<tr>
				<td>Adicionales:</td>
				<td>{{ precio(subtotalAdicionales) }}</td>
			</tr>
			<tr>
				<td>Total:</td>
				<td>{{ precio(total) }}</td>
			</tr>
		</table>
		<br/>

<!--
		<div class="col-12 text-center">
			 <p class="text-h5 text-white degradado rounded q-ma-md ">Seleccionar dirección</p>

			 <div class="text-center">
				<iframe class="q-mt-md" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63043.65933162676!2d-69.77472853484805!3d9.042890588815574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e7cf41c9cd69a57%3A0x3742dfb0d1bf7894!2sGuanare%203350%2C%20Portuguesa!5e0!3m2!1ses!2sve!4v1595857799374!5m2!1ses!2sve" width="85%" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>
		</div>
-->


		<div class="text-center q-mt-sm" style="margin-bottom: 50px;">
			<q-btn :disabled="!botonProcesar" @click="clickProcesar" class="cl_standar w-90 rounded" >Procesar</q-btn>
		</div>
	</div>
</template>

<script>

import { mapGetters } from 'vuex'

export default {

data(){
	return{
		modalidad: null,
		modalidadesDeTrabajo: [],
		botonProcesar: false,
		columns: [
			{
				name: '',
				required: true,
				label: 'Cantidad',
				align: 'center',
				field: row => row.numero,
				format: val => `${val}`,
				sortable: true
			},
			{
				name: 'Descripcion',
				align: 'center',
				label: 'Descripción',
				field: 'descripcion',
				sortable: true
			},
			{
				name: 'Precio',
				label: 'Precio',
				field: 'precio',
				align: 'center'
			},
			{
				name: 'Adicionales',
				label: 'Adicionales',
				field: 'adicionales',
				align: 'center'
			},
			{
				name: 'PrecioAdicionales',
				label: 'Precio',
				field: 'precio_adicionales',
				align: 'center'
			},
			{
				name: 'Subtotaladicionado',
				label: 'Sub-total adicionado',
				field: 'subtotaladicionado',
				align: 'center'
			},
			{
				name: 'Notas',
				label: 'Notas',
				field: 'notas',
				align: 'center'
			},
		],
		data: [],
		dataEmpty: [
			{
				numero: '',
				descripcion: '',
				precio: '',
				adicionales:'',
				precio_adicionales: '',
				subtotaladicionado: '',
				notas: '',
			},
		],

	};
},


mounted(){

	this.idDoomialiado = this.$store.getters['carrito/idDoomialiadoActual'];


	if(this.doomialiado.modalidad_delivery)
		this.modalidadesDeTrabajo.push('Delivery');

	if(this.doomialiado.modalidad_pickup)
		this.modalidadesDeTrabajo.push('Pickup');

	if(this.doomialiado.modalidad_programados)
		this.modalidadesDeTrabajo.push('Programado');

	const datos = [];
	let cuenta = 1;

	for (let item of this.pedidos){
		datos.push({
			numero: item.cantidad,
			descripcion: item.producto.nombre,
			precio: this.precio(item.PRECIO),
			adicionales: item.adicionales.map(e => e.nombre).join(', ') || '---',
			precio_adicionales: this.precio(item.SUBTOTAL_ADICIONALES),
			subtotaladicionado: this.precio(item.TOTAL),
			notas: item.notas,
		});
	}


	if(datos.length > 0){
		this.data = datos;
		this.botonProcesar = true;
	}
	else{
		this.data = this.dataEmpty;
	}

},


computed: {
	...mapGetters({
		pedidos: 'carrito/pedidosDetallados',
		total: 'carrito/total',
		subtotal: 'carrito/subtotal',
		subtotalAdicionales: 'carrito/subtotalAdicionales',
		hayItems: 'carrito/items',
	}),

	entradas(){
		if(!this.hayItems)
			return this.dataEmpty;

		return this.pedidos.map(item => ({
			numero: item.cantidad,
			descripcion: item.producto.nombre,
			precio: this.precio(item.PRECIO),
			adicionales: item.adicionales.map(e => e.nombre).join(', ') || '---',
			precio_adicionales: this.precio(item.SUBTOTAL_ADICIONALES),
			subtotaladicionado: this.precio(item.TOTAL),
			notas: item.notas,
		}), this);

	},

	doomialiado(){
		return this.$store.getters['doomis/porId'](this.idDoomialiado);
	},

},


methods:{
	precio(val){
		return this.$utils.precio(val, '$')
	},

	clickProcesar(){
		// this.$router.push({path:'/Formasdepago'})
		this.$store.dispatch('ordenes/checkout')
			.then(r => {
				swal.fire({
					text: r,
					icon: 'info',
					showCancelButton: true,
					cancelButtonText: 'Cerrar',
					confirmButtonText: 'Ver ordenes',
					showClass: {popup: 'animate__animated animate__fadeIn'},
					hideClass: {popup: 'animate__animated animate__fadeOut'},
				}).then(res => { if(res.isConfirmed) this.$router.push('Misordenes') });
			})
			.catch(this.notificar);
	},

	atras(){
		this.$router.back();
	},

	notificar(text){
		swal.fire({
			text,
			icon: 'info',
			showClass: { popup: 'animate__animated animate__fadeIn'},
			hideClass: {popup: 'animate__animated animate__fadeOut'}
		});
	},
},


};</script>

<style type="text/css">
	#tabla-totales {
		font-size: 20px;
		text-align: right;
		margin-left: auto; margin-right: 0;
	}

	#table-totales td,th {
		min-width: 70px;
	}

	#tabla-totales td:last-child {
		width: 80px;
		font-weight: bold;
	}
</style>