<template>
	<div class="blue cont_home">
		<div class="row">
			<div class="col-12">
				<q-input borderless rounded outlined v-model="text" label="Buscar Doomialiado" class=" m-2 rounded input-search ">
					<template v-slot:prepend>
						<q-icon name="search" />
					</template>
				</q-input>
			</div>
		</div>

		<div class=" flex q-mt-xs">
			<div class="flex flex-start">
				<q-btn  flat color="primary" icon="keyboard_arrow_left" label="" @click="Atras()" />
			</div>

			<div class="flex flex-center">
				<h6 class="w-100" style="margin-left:79px;margin-top:0px;margin-bottom:0px;color:white;" >{{ categoria.nombre }}</h6>
			</div>
		</div>

		<div class="row">
			<div style="height:40px:width:100%" class=" col-12 degradado rounded text-center q-mt-md q-mb-md text-white q-pa-md">
				<p class="m-0" >{{ categoria.nombre }}</p>
			</div>
		</div>

		<q-scroll-area style="height: 50vh; max-width: 100%;">
			<div class="q-pa-xs">
				<div class="row" v-if="menus && menus.length > 0">
					<div
						v-for="plato in menus"
						:key="plato.id"
						@click="clickPlato(plato)"
						class="col-4 text-center" style="margin-bottom: 10px;">
							<img :src="plato.img || 'statics/images/logo.png'" style="background-color: #FFF" class="img-xs rounded-1" alt="">
							<p class="text-center clr_white m-0">{{ plato.nombre }}</p>
							<p class="text-center clr_white m-0" > {{ plato.descripcion }} </p>
							<p class="text-center clr_white m-0" > {{ $utils.precio(plato.precio_usd, null, '$') }} </p>
					</div>
				</div>
			
				<div v-else style="height:40px:width:100%" class=" col-12 rounded text-center q-mt-md q-mb-md text-white q-pa-md">
					<center><b><i>No hay menús en esta categoría</i></b></center>
				</div>
			</div>
		</q-scroll-area>

		<div class="row">
			<div style="height:40px:width:100%" class=" col-12 degradado rounded text-center q-mt-md q-mb-md text-white q-pa-md">
				<p class="m-0" > Negocios cerrados/no disponibles.</p>
			</div>
		</div>

		<q-scroll-area style="height: 50vh; max-width: 100%;">
			<div v-for="n in 4" :key="n" class="q-pa-xs">
				<div class="row">
					<div  class="col-4 text-center no-disponible">
						<img src="statics\images\2.png" class="img-xs rounded-1 " alt="">
						<p class="text-center clr_white m-0">Doomialiado</p>
						<p class="text-center clr_white m-0" > Celebraciones </p>
						<p class="text-center clr_white m-0" > Decoración </p>
					</div>

					<div class="col-4 text-center no-disponible">
						<img src="statics\images\1.jpg" class="img-xs rounded-1" alt="">
						<p class="text-center clr_white m-0 ">Doomialiado </p>
						<p class="text-center clr_white m-0" > Comidas <br> Rápidas </p>
						<p class="text-center clr_white m-0" > Merienda </p>
					</div>

					<div  class="col-4 text-center no-disponible">
						<img src="statics\images\4.png" class="img-xs rounded-1" alt="">
						<p class="text-center clr_white m-0 ">Doomialiado </p>
						<p class="text-center clr_white m-0" > Electrónica </p>
						<p class="text-center clr_white m-0" > Equipos </p>
					</div>
				</div>
			</div>
		</q-scroll-area>
	</div>
</template>


<script>
	export default {
	name: 'Home',


	props: {
		// idCategoria: {validator: v => +v===+v}, // Validar que sea numerico.
		categoria: { validator: v => v && v.id },
	},


	data() {
		return {
			nombreCategoria: '',
			fav1: 0,
			fav2: 0,
			fav3: 0,
			fav4: 0,
			estado: true,
			Comidas: null,
			Licores: null,
			Postres: null,
			Otras: null,
			text: null,

			news: [
				{
					id: '1',
					img:'https://cdn.quasar.dev/img/avatar4.jpg',
					name: 'Carlos Castellanos',
					text: 'Realizo una compra en TBTGRILL',
					time: 'Hace 1 minuto',
				},
				{
					id: '2',
					img:'https://cdn.quasar.dev/img/avatar4.jpg',
					name: 'Carlos Castellanos',
					text: 'Realizo una compra en TBTGRILL',
					time: 'Hace 1 minuto',
					},
				{
					id: '3',
					img:'https://cdn.quasar.dev/img/avatar4.jpg',
					name: 'Carlos Castellanos',
					text: 'Realizo una compra en TBTGRILL',
					time: 'Hace 1 minuto',
				},
			],

		};
	},

	computed: {
		menus(){
			if (this.categoria.id >= 0){
				return this.$store.getters['productos/porIdCategoria'](this.idCategoria);
			}

			switch(this.categoria.id){
				case -1: return this.$store.getters['productos/productos'];
				case -2: return this.$store.getters['productos/doomisAbiertos'];
				case -3: return this.$store.getters['productos/doomisCerrados'];
			}
		},
	},


	methods:{
		Agregar(){
			this.$q.notify({
				message: 'Agregado a mis favoritos',
				color: 'purple',
				textColor: 'white',
				icon: 'done_all'
			})
		},

		Eliminar(){
			this.$q.notify({
				message: 'Eliminado de mis favoritos',
				color: 'green-4',
				textColor: 'white',
				icon: 'done_all'
			})
		},

		Estado(){
			this.estado = !this.estado
		},

		Vermas(){
			this.$router.push({ path:'/menudoomialiadohome' })
		},

		Vertodo(){
			this.$router.push({ path:'/Vertodos' })
		},

		Atras(){
			this.$router.go(-1)
		},

		clickPlato(plato){
			console.log('plato:', plato.nombre);
		},
	},
};
</script>
