<template>
	<div class="">
		<div class="row">
			<div class="col">
				 <q-card class="my-card">
					<q-img
						src="https://cdn.quasar.dev/img/parallax2.jpg"
						basic>
						<div class="absolute-bottom text-subtitle2 text-center">
							Plade Company
						</div>
					</q-img>
				</q-card>
			</div>
		</div>

		<div class="row">
			<div class="col">
				 <div class="q-gutter-y-md" style="max-width: 600px">
					<q-card>
						<q-tabs
							v-model="tab"
							dense
							class="text-grey"
							active-color="primary"
							indicator-color="primary"
							align="justify"
							narrow-indicator>
							<q-tab class="q-pa-none" name="info" color-text="primary" icon="info"/>
							<q-tab class="q-pa-none" name="categories" color-text="primary" icon="list"/>
							<q-tab class="q-pa-none" name="contact" color-text="primary" icon="phone"/>
							<q-tab class="q-pa-none" name="payments" color-text="primary" icon="attach_money"/>
							<q-tab class="q-pa-none" name="suscribe" color-text="primary" icon="check"/>
						</q-tabs>
						<q-separator />

						<q-tab-panels v-model="tab" animated>
							<q-tab-panel name="info" class="q-pa-none">
								<q-bar dark class="bg-primary text-white row">
									<div class="col-12 text-center text-weight-bold">
										Información del comercio
									</div>
								</q-bar> 
								<div class="row">
									<div class="col q-pa-sm">
										<p>
											Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu 
											Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu 
											Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu 
											Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu 
											Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu 
											</p>
									</div>
								</div>
							</q-tab-panel>

							<q-tab-panel name="categories" class="q-pa-none">
								<q-bar dark class="bg-primary text-white row q-pa-lg">
									<div class="col-1 text-center text-weight-bold" 
									v-if="!showCategories "
									>
										<q-btn icon="arrow_back" round color="white" 
										text-color="primary"
										@click="showCategories=!showCategories;titleTabCategory='Categorias' "
										/>
									</div>
									<div class="col text-center text-weight-bold">
										{{titleTabCategory}}
									</div>
									<div class="col-1" v-if="!showCategories ">
										<q-btn round color="white" text-color="primary" @click="showFilter=!showFilter " icon="search"  />
									</div>
								</q-bar> 

								<div class="row q-pa-sm" :class="{hidden: !showFilter}" >
									<div class="col-12" wrap="true">
										<q-input v-model="textFindProduct" placeholder="Buscar producto" >
											<template v-slot:prepend>
												<q-icon name="search" />
											</template>
										</q-input>
									</div>
								</div>  

								<div class="row" :class="{ hidden : !showCategories }">
									<div class="col q-pa-sm">
										<q-list bordered separator class="rounded-borders" full-width>
											<q-item clickable v-ripple v-for="ne in categories" :key="ne.id"
												@click="
													showCategories=!showCategories;
													titleTabCategory='Productos ('+ne.name+')';
													categoryId=ne.id
													"
											>
												<q-item-section>
													<q-item-label lines="1">{{ne.name}}</q-item-label>
												</q-item-section>
											</q-item>
										</q-list>
									</div>
								</div>

								<div class="row" v-if="!showCategories ">
									<div class="col q-pa-sm">
										<ProductsByCategory
											:categoryId='categoryId' 
											v-on:showCategories="showCategories=true"
										></ProductsByCategory>
									</div>
								</div>
							</q-tab-panel>

							<q-tab-panel name="contact" class="q-pa-none">
								<q-bar dark class="bg-primary text-white row">
									<div class="col-12 text-center text-weight-bold">
										Información de contacto
									</div>
								</q-bar> 
								<div class="row">
									<div class="col q-pa-sm">
										<p>
											Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu 
											Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu 
											Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu 
											Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu 
											Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu 
											</p>
									</div>
								</div>
							</q-tab-panel>

							<q-tab-panel name="payments" class="q-pa-none">
								<q-bar dark class="bg-primary text-white row">
									<div class="col-12 text-center text-weight-bold">
										Metodos de pagos
									</div>
								</q-bar> 
								<div class="row">
									<div class="col q-pa-sm">
										<p>
											Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu 
											Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu 
											Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu 
											Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu 
											Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu Lorem y tu 
											</p>
									</div>
								</div>
							</q-tab-panel>

							<q-tab-panel name="suscribe" class="q-pa-none">
								<q-bar dark class="bg-primary text-white row">
									<div class="col-12 text-center text-weight-bold">
										Suscripciones
									</div>
								</q-bar> 
								<div class="row">
									<div class="col q-pa-lg" align="center">
										<q-btn label="Suscribirse" icon="check" color="primary" />
									</div>
								</div>
								<q-separator />
								<div class="row">
									<div class="col q-pa-lg" align="center">
										<div class="text-subtitle1 text-center">
											Este comercio tiene <b>100</b> suscriptores  
										</div>
										<div>
											<q-icon name="person_add" style="font-size:5rem" />
										</div >
									</div>
								</div>
							</q-tab-panel>
						</q-tab-panels>
					</q-card>
				</div>
			</div>
		</div>
	</div>
</template>


<script>

import ProductsByCategory from 'components/ProductsByCategory.vue'

export default {
	name: 'Company',
	data() {
		return {
			tab: 'info',
			showCategories: true,
			titleTabCategory: 'Categorías',
			showFilter: false,
			textFindProduct: '',
			categoryId: null,
			categories: [
				{
					id: '1',
					name: 'Categoría 1',
					},
				{
					id: '2',
					name: 'Categoría 2',
					},
				{
					id: '3',
					name: 'Categoría 3',
					},
			]
		}
	},
	methods: {
		backToCategories(data){
			alert(1)
		}
					 }, components:{
		ProductsByCategory 
	}
}
</script>
<style lang="sass" scoped>
.my-card
	width: 100%
	max-width: 100%
</style>
