<template>
	<div class="container section">
		<div class="q-mt-xl">
			<div class="flex flex-start">
				<q-btn  flat color="primary" icon="keyboard_arrow_left" label="" to="/Pedidos" />
			</div>
			
			<div class="flex flex-center">
				<h6 style="margin-top:-35px;" >Cambiar Contraseña</h6>
			</div>
		</div>

		<div style="margin-left:10%;" class="">
			<label>Contraseña Actual</label>
		</div>
		
		<div class="flex flex-center">
			<q-input style="width:80%;" v-model="password" filled :type="isPwd ? 'password' : 'text'" hint="">
				<template v-slot:append>
					<q-icon
						:name="isPwd ? 'visibility_off' : 'visibility'"
						class="cursor-pointer"
						@click="isPwd = !isPwd"
					/>
				</template>
			</q-input>
		 </div>

		<div style="margin-left:10%;" class="">
			<label>Contraseña Nueva</label>
		</div>
		
		<div class="flex flex-center">
			<q-input style="width:80%;" v-model="password" filled :type="isPwd ? 'password' : 'text'" hint="">
				<template v-slot:append>
					<q-icon
						:name="isPwd ? 'visibility_off' : 'visibility'"
						class="cursor-pointer"
						@click="isPwd = !isPwd"
					/>
				</template>
			</q-input>
		 </div>

		<div style="margin-left:10%;" class="">
			<label>Confirmar contraseña</label>
		</div>
		
		<div class="flex flex-center">
			<q-input style="width:80%;" v-model="password" filled :type="isPwd ? 'password' : 'text'" hint="">
				<template v-slot:append>
					<q-icon
						:name="isPwd ? 'visibility_off' : 'visibility'"
						class="cursor-pointer"
						@click="isPwd = !isPwd"
					/>
				</template>
			</q-input>
		</div>
		
		<div class="flex flex-center" >
			<q-btn style="margin:20px;" label="Guardar" type="Guardar" class="cl_standar rounded"  />
		</div>
	</div>
</template>

<script>
export default {
	data () {
		return {
			password: '',
			isPwd: true,
			email: ''
		}
	}
}
</script>
