<template>
<div class="blue cont_home">
        <div class="text-white">
			<div class="flex item-center flex-start q-mb-sm">
				<q-btn  flat color="primary" icon="keyboard_arrow_left" label="" @click="atras()" />
				<h6 style="margin-top:0px;margin-bottom:0px;margin-left:10%"  >Detalles del pedido</h6>
			</div>
		</div>
         
         <div class="row q-ml-xl q-mr-xl q-mb-md">
         <div class="flex item-center text-white q-mt-md m-0 col-12 content-between">
            <p class="m-0 " >#Id doomialidado</p>
            <div class="w-50">
				 <b><p class="etiquetas m-0 " >{{Iddoomi}}</p></b> 
			</div>
        </div>
         <div class="flex item-center text-white m-0 q-mt-md col-12 content-between">
            <p class="m-0" >Doomialiado</p>
            <div class="w-50">
			 <b>	<p class="etiquetas m-0 " >{{Doomialiado}}</p> </b> 
			</div>
        </div>
        <div class="flex item-center text-white m-0 q-mt-md col-12 content-between">
            <p class="m-0" >#Id pedido</p>
             <div class="w-50">
			<b>	<p class="etiquetas m-0 " >{{Idpedido}}</p> </b> 
			</div>
        </div>
        <div class="flex item-center m-0 text-white col-12 q-mt-md content-between">
            <p class="m-0" >Estatus</p>
            <div class="w-50">
				<b> <p class="etiquetas m-0 " >{{Estatus}}</p> </b> 
			</div>
        </div>
        <div class="flex item-center m-0 text-white q-mt-md col-12 content-between">
            <p class="m-0" >Fecha</p>
             <div class="w-50">
			 <b>	<p class="etiquetas m-0 " >{{Fecha}}</p> </b> 
			</div>
        </div>
        <div class="flex item-center m-0 text-white col-12 q-mt-md content-between">
            <p class="m-0" >Hora</p>
             <div class="w-50">
			<b>	<p class="etiquetas m-0 " >{{Hora}}</p> </b> 
			</div>
        </div>
        </div>

        <q-table class=" q-mt-xs degradado shadow-10 text-white text-center q-mt-md" :data="data" :columns="columns" row-key="" >
			<template v-slot:body-cell-name="props">
				<q-td :props="props">
					<div>
						<q-badge color="purple" :label="props.value" />
					</div>
				</q-td>
			</template>
		</q-table>

         <br>
		<table id="tabla-totales" class="q-mt-xs text-white text-center mr-1">
			<tr>
				<td colspan="3">TOTALES</td>
			</tr>
			<tr>
				<td>Subtotal:</td>
				<td></td>
			</tr>
			<tr>
				<td>Adicionales:</td>
				<td></td>
			</tr>
			<tr>
				<td>Total:</td>
				<td></td>
			</tr>
		</table>
		<br/>

        <div class="row q-ma-md ">
           <div class="flex item-center text-white q-mt-md col-12 m-0 content-between">
            <p class="m-0" >Modalidad del pedido</p>
             <div class="w-50">
				<p class="etiquetas m-0 " >{{Modalidad}}</p>
			</div>
        </div>
        <div class="flex item-center text-white col-12 q-mt-md m-0 content-between">
            <p class="m-0" >Direccion</p>
            <div class="w-50">
				<p class="etiquetas m-0 " >{{Direccion}}</p>
			</div>
        </div>
         <div class="flex item-center text-white col-12 q-mt-md  content-between">
            <p class="m-0" >Ubicacion</p>
                <div class="w-50">
				<p class="etiquetas m-0 " >{{Ubicacion}}</p>
			</div>
        </div>
                               
								<div class="col-11 text-center q-ma-md">
									<google-map>
										<slot :lat="lat" :lon="lon" slot-scope="{ lat, lon }">
											<input name="lat_dir" v-model="lat" type="hidden" />
											<input name="lon_dir" v-model="lon" type="hidden" />
										</slot>
									</google-map>
								</div>
           <div class="flex item-center text-white col-12 q-mt-md content-around">
            <p class="m-0" >Punto de referencia</p>
                <div class="w-50">
				<p class="etiquetas m-0 " >{{referencia}}</p>
			</div>
        </div>

        <div class="col-6 text-center q-mt-md q-mb-md">
            <q-btn  class="cl_standar rounded w-70 " size="xs" to="/Formasdepago" label="Procersar pago" ></q-btn>
        </div>	
        <div class="col-6 text-center  q-mt-md q-mb-md">
            <q-btn  class="cl_standar rounded w-70 " size="xs" label="Cancelar pedido" ></q-btn>
        </div>	
        </div>

</div>
</template>

<style>
.q-field__native{
    text-align:center;
    font-size: 13px;
}

#tabla-totales {
		font-size: 20px;
		text-align: right;
		margin-left: auto; margin-right: 0;
	}

	#table-totales td,th {
		min-width: 70px;
	}

	#tabla-totales td:last-child {
		width: 80px;
		font-weight: bold;
	}
</style>

<script>
import GoogleMap from 'components/GoogleMap';
export default {
    components: {GoogleMap},

    data(){
        return{
          Iddoomi:'#1',
          Doomialiado:'Donas express Guanare',
          Idpedido:'#13',
          Estatus:'En transito',
          Fecha:'26/09/2000',
          Hora:'13:50',
          Modalidad:'Pick up',
          Direccion:'Mi casa',
          Ubicacion:'Al lado del hotel california calle 3 casa 44 donde hay 2 arboles en el frente',
          referencia:'Bajando por el hotel california',
          columns: [
			{
				name: '',
				required: true,
				label: 'Cantidad',
				align: 'center',
				field: row => row.numero,
				format: val => `${val}`,
				sortable: true
			},
			{
				name: 'Descripcion',
				align: 'center',
				label: 'Descripción',
				field: 'descripcion',
				sortable: true
			},
			{
				name: 'Precio',
				label: 'Precio',
				field: 'precio',
				align: 'center'
			},
			{
				name: 'Adicionales',
				label: 'Adicionales',
				field: 'adicionales',
				align: 'center'
			},
			{
				name: 'PrecioAdicionales',
				label: 'Precio',
				field: 'precio_adicionales',
				align: 'center'
			},
			{
				name: 'Subtotaladicionado',
				label: 'Sub-total adicionado',
				field: 'subtotaladicionado',
				align: 'center'
			},
			{
				name: 'Notas',
				label: 'Notas',
				field: 'notas',
				align: 'center'
			},
        ],
        data: [
			{
				numero: '',
				descripcion: '',
				precio: '',
				adicionales:'',
				precio_adicionales: '',
				subtotaladicionado: '',
				notas: '',
			},
		],

        }
    },
    methods: {
         atras(){
		this.$router.go(-1);
	}
    }
}
</script>