<template>
	<div class="blue cont_home">
		<div class="text-white">
			<div class="flex flex-start">
				<q-btn  flat color="primary" icon="keyboard_arrow_left" label="" to="/Home" />
			</div>

			 <div  class="flex flex-center">
			 	<h6 style="margin-top:-35px;" >Mis favoritos</h6>
			 </div>
		</div>

		<div v-for="doomi in doomisFavoritos" class="row flex flex-center q-ml-md q-mr-md ">
			<q-card class="my-card col-12 rounded-1  c_white degradado q-mt-md row flex item-center ">
			 <div class="col-4 q-pl-sm " >
				<q-rating
							@click="eliminar(doomi)"
							v-model="dummyFav"
							max="1"
							size="30px"
							color="red"
							icon="favorite_border"
							icon-selected="favorite"
							icon-half="favorite"
							no-dimming
							style="position:absolute;z-index:1;right:0"
						/>
			  
				<q-img
 
					class="rounded-1"
					:src="doomi.img || 'statics/images/logo.png'"
					basic
				>
				</q-img>
              </div>
				<q-card-section class="col-8" >
				 <h4 class="m-0 text-titulo " > <b> {{ doomi.nombre }} </b> </h4>
				  <div class="flex item-center ">
					<p  class="m-0 mayusculas text-categoria " >{{ doomi.categoria.nombre }}</p>
					<p style="margin: 0px 4px" class="" > - </p>
					<div style="justify-content:space-between" class="flex">
						<p  class="m-0 mayusculas text-subcateria " >
						 {{ (doomi.subcategorias.map(s => s.nombre)).join(', ') }}
						</p>
					</div>
					</div>
					<div class="text-start">
						<q-btn label="Ver mas" size="xs" class=" cl_standar rounded" @click="verMas(doomi)"></q-btn>
					</div>

				</q-card-section>
			</q-card>
		</div>

		<div v-if="!doomisFavoritos[0]" style="width: 100%; font-size: 15px; margin-top: 50px; color: white;">
			<center><b><i>No tienes doomialiados favoritos</i></b></center>
		</div>
	</div>
</template>

<style>


</style>

<script>

import { mapGetters } from 'vuex'

export default {

data(){
	return {};
},


computed: {
	...mapGetters({
		favoritos: 'cliente/favoritos',
	}),

	doomisFavoritos(){
		return this.favoritos.map(e => this.getDoomi(e));
	},

	dummyFav:{
		get(){return 1},
		set(){},
	},
},


methods: {
	getDoomi(id){
		return this.$store.getters['doomis/porId'](id);
	},

	eliminar(doomi){
		this.$store.dispatch('cliente/favorito', [doomi.id, false]);

		this.$q.notify({
			message: 'Eliminado de mis favoritos',
			color: 'green-4',
			textColor: 'white',
			icon: 'done_all',
			timeout: 2500,
		})
	},

	verMas(doomi){
		this.$router.push({
			path:'/Menudoomialiadohome/'+doomi.id,
			// params: {id: doomi.id}
		});
	},
},


};</script>