<template>
	<div style="height:160vh" class="">
		<div  class="">
			<div class="flex flex-start">
				<q-btn  flat color="primary" icon="keyboard_arrow_left" label="" to="/Carrito" />
			</div>

			<div  class="flex flex-center">
				<h6 style="margin-top:-35px;" >Forma de pago</h6>
			</div>
		</div>

		<q-select
			class="q-ma-md"
			rounded outlined
			emit-value
			map-options
			option-value="id"
			option-label="nombre"
			v-model="cuenta"
			:options="cuentas"
			label="Tipo de cuenta:" />

		<q-select
			class="q-ma-md q-mt-xl"
			rounded outlined
			emit-value
			map-options
			option-value="id"
			option-label="nombre"
			v-model="metodo"
			:options="metodos"
			label="Metodos de pago" />

		<div class="flex flex-center">
			<q-btn label="Aceptar" @click="clickAceptar" class="q-ma-md q-mt-xl rounded cl_standar" ></q-btn>
			<q-btn label="Cancelar" to="/Home" class="q-ma-md q-mt-xl rounded cl_standar"  ></q-btn>
		</div>
	</div>
</template>

<script>
export default {

data () {
	return {
		cuenta: null,
		metodo: null,
		metodos: null, //['Transferencia','Deposito','Pago móvil'],
		cuentas: null, //['Mercantil','Venezuela','Bicentenario','BBVA','Banesco'],
	};
},


created(){
	const idDoomi = this.$store.getters['carrito/idDoomialiadoActual'];

	if(!idDoomi){
		this.notificar('El carrito está vacío');
		return this.$router.push({path:'/Home'});
	}

	this.$api.general.recuperarData(`/cuentas/?tipo_usu=cliente&id_res=${idDoomi}`)
		.then(data => this.cuentas = data);

	this.$api.general.recuperarData(`/metodos_pagos/?tipo_usu=cliente&id_res=${idDoomi}`)
		.then(data => this.metodos = data);
},


methods: {
	clickAceptar(){
		if(this.cuenta !== null && this.metodo !== null){
			console.log({cuenta:this.cuenta, metodo: this.metodo});

			this.$router.push({
				name: 'pago',
				params:{cuenta:this.cuenta, metodo: this.metodo}
			});
		}

		else
			this.notificar('Seleccione una cuenta y un método de pago');
	},

	notificar(text){
		swal.fire({
			text,
			icon: 'info',
			showClass: { popup: 'animate__animated animate__fadeIn'},
			hideClass: {popup: 'animate__animated animate__fadeOut'}
		});
	},
},



};</script>
