<template>
	<div style="height:100%" class="blue cont_home" >
		<div class="q-pa-sm q-gutter-sm ">
			<div class="q-mt-sm">
				<div class="flex flex-center q-mt-xs">
					<h6 style="color:white;margin:0" >Pedidos</h6>
				</div>
			</div>

			<q-banner rounded class="degradado shadow-10">
				<template v-slot:avatar>
					<img class="img-xs rounded-1" src="statics/images/1.jpg" >
				</template>

				 <div class="text-white">
					<h6 style="" class="m-0" >Donas express Guanare</h6>
					<h6 style="" class="m-0" >Estatus: Completado</h6>
					
					<q-rating
						v-model="model"
						max="5"
						size="1.5em"
						color="yellow"
						icon="star_border"
						icon-selected="star"
						icon-half="star_half"
						no-dimming
						/>
				</div>
		 
				<template v-slot:action>
					<q-btn class="cl_standar rounded"  to="/Vermashistorial1"  label="Ver mas" />
				</template>
			</q-banner>

			<q-banner rounded class="degradado shadow-10 q-mt-xl">
				<template v-slot:avatar>
					<img class="img-xs rounded-1" src="statics/images/2.png" >
				</template>

				<div style="color:white;" class="">
					<h6 style="" class="m-0" >Snarpy</h6>
					<h6 style="" class="m-0" >Estatus: Completado</h6>
					<q-rating
						v-model="model"
						max="5"
						size="1.5em"
						color="yellow"
						icon="star_border"
						icon-selected="star"
						icon-half="star_half"
						no-dimming
					/>
			 	</div>
		 
				<template v-slot:action>
					<q-btn class="cl_standar rounded" to="/Vermashistorial2"   label="Ver mas" />
				</template>
			</q-banner>

			 <q-banner rounded class="degradado shadow-10 q-mt-xl">
				<template v-slot:avatar>
					<img class="img-xs rounded-1" src="statics/images/3.jpg" >
				</template>

				 <div style="color:white;" class="">
					<h6 style="" class="m-0" >Coco fresh</h6>
					<h6 style="" class="m-0" >Estatus: Completado</h6>
					<q-rating
						v-model="model"
						max="5"
						size="1.5em"
						color="yellow"
						icon="star_border"
						icon-selected="star"
						icon-half="star_half"
						no-dimming
					/>
				 </div>
			 
				<template v-slot:action>
					<q-btn  class="cl_standar rounded" to="/Vermashistorial3"  label="Ver mas" />
				</template>
			</q-banner>

			<q-banner rounded class="degradado shadow-10 q-mt-xl">
				<template v-slot:avatar>
					<img class="img-xs rounded-1" src="statics/images/4.png">
				</template>

				 <div style="color:white;" class="">
					<h6 class="m-0" >Tecnoberry.ca</h6>
					<h6 style="" class="m-0" >Estatus: No completado</h6>
					
					<q-rating
						v-model="modelo"	 
						max="5"
						size="1.5em"
						color="red"
						icon="star_border"
						icon-selected="star"
						icon-half="star_half"
						no-dimming
					/>
				 </div>
			 
				<template v-slot:action>
					<q-btn class="cl_standar rounded"  to="/Vermashistorial4"  label="Ver mas" />
				</template>
			</q-banner>
		</div>
	</div>    
</template>

<script>
	export default {
		data(){
			 return {
			model: 5,
			modelo:1
			}
		}
	}
</script>