<template>
	<div  class="blue cont_home">
		<div class="row">
			<div class="col-12">
				<q-input borderless rounded outlined v-model="text" label="Buscar Doomialiado" class=" m-2 rounded input-search ">
					<template v-slot:prepend>
						<q-icon name="search" />
					</template>
				</q-input>
           </div>
<!--
				<q-list bordered separator class="rounded-borders" full-width>
					<q-item clickable v-ripple v-for="ne in news" :key="ne.id">
					<q-item-section avatar>
						<q-avatar>
							<img src="https://cdn.quasar.dev/img/avatar2.jpg">
						</q-avatar>
					</q-item-section>
				</q-list>
-->
            

                 <q-scroll-area
      horizontal
      style="height: 55px; width:100%;"
      class="degradado rounded-borders q-mb-sm q-mt-sm "
    >
      <div class="row no-wrap ">
        <div @click="Vertodo()" style="width: 600px;height:1px " class="q-pa-sm flex ">
                <q-chip  v-model="Comidas"  color="primary" text-color="white">
				Abierto
				</q-chip>

				<q-chip  v-model="Licores" color="primary" text-color="white">
				Cerrado
				</q-chip>

				<q-chip v-model="Postres"  color="primary" text-color="white">
				Categoria1
				</q-chip>

				<q-chip v-model="Otras"  color="primary" text-color="white">
				categoria2
				</q-chip>

				<q-chip v-model="Otras"  color=primary text-color="white">
				categoria3
				</q-chip>

				<q-chip v-model="Otras" @click="Vermas()" color="primary" text-color="white">
				TODOS
				</q-chip>
				
        </div>
      </div>
     </q-scroll-area>
		</div>

       <q-scroll-area
      style="height: 50vh; max-width: 100%;"
    >
      <div class="q-pa-xs">
       <div class="row">
       		<div @click=" Vermas()" v-for="res in negocios" v-if="res.laborando == '1'"class="col-4 text-center">
					<img :src="res.img" class="img-xs rounded-1" alt="">
					<p class="text-center clr_white m-0" >{{res.nombre}}</p>
					<p class="text-center clr_white m-0" v-for="opc in res.subcategorias">{{opc.nombre}}</p>
			</div>

			<!--<div @click=" Vermas()" class="col-4 text-center">
			
					<img src="statics\images\2.png" class="img-xs rounded-1" alt="">
					<p class="text-center clr_white m-0">Doomialiado</p>
					<p class="text-center clr_white m-0" > Celebraciones </p>
					<p class="text-center clr_white m-0" > Decoración </p>
					
			
			</div>

			<div  @click="Vermas()" class="col-4 text-center">
				
					<img src="statics\images\1.jpg" class="img-xs rounded-1" alt="">
					
						<p class="text-center clr_white m-0 ">Doomialiado </p>
						<p class="text-center clr_white m-0" > Comidas <br> Rápidas </p>
						<p class="text-center clr_white m-0" > Merienda </p>
					
				
				   
			</div>
			
			<div  @click="Vermas()" class="col-4 text-center">
	
					<img src="statics\images\3.jpg" class="img-xs rounded-1" alt="">
					<p class="text-center clr_white m-0 ">Doomialiado </p>
					 <q-separator />
						<p class="text-center clr_white m-0" >Bebidas </p>
						 <q-separator />
						<p class="text-center clr_white m-0" > Merienda </p>
			
			</div>

			<div  @click="Vermas()" class="col-4 text-center">
				
					<img src="statics\images\4.png" class="img-xs rounded-1" alt="">
					<p class="text-center clr_white m-0 ">Doomialiado </p>
						<p class="text-center clr_white m-0" > Electrónica </p>
						<p class="text-center clr_white m-0" > Equipos </p>
				
			</div>

			<div  @click="Vermas()" class="col-4 text-center">
				
					<img src="statics\images\logo.png" class="img-xs bg-white rounded-1" alt="">
					<p class="text-center clr_white">Doomialiado</p>

			</div>

			<div  @click="Vermas()" class="col-4 text-center">
				
					<img src="statics\images\logo.png" class="img-xs bg-white rounded-1" alt="">
					<p class="text-center clr_white">Doomialiado	</p>
				
			</div>-->

		</div>
      </div>
    </q-scroll-area>

     <div class="row">
			<div style="height:40px:width:100%" class=" col-12 degradado rounded text-center q-mt-md q-mb-md text-white q-pa-md">
			<p class="m-0"> Negocios cerrados/no disponibles.</p>
		</div>
		</div>
       
          <q-scroll-area
      style="height: 50vh; max-width: 100%;"
    >
      <div v-for="n in 4" :key="n" class="q-pa-xs">
       <div class="row">
          <div @click=" Vermas()" v-for="res in negocios" v-if="res.laborando == '0'"class="col-4 text-center">
					<img :src="res.img" class="img-xs rounded-1" alt="">
					<p class="text-center clr_white m-0" >{{res.nombre}}</p>
					<p class="text-center clr_white m-0" v-for="opc in res.subcategorias">{{opc.nombre}}</p>
			</div>

		</div>
      </div>
    </q-scroll-area>

        
		
		

	</div>
</template>


<script>
	export default {
	name: 'Home',

	data() {
		return {
			fav1: 0,
			fav2: 0,
			fav3: 0,
			fav4: 0,
			estado: true,
			Comidas: null,
			Licores: null,
			Postres: null,
			Otras: null,
			text: null,
			negocios: [],
		news: [
			{
				id: '1',
				img:'https://cdn.quasar.dev/img/avatar4.jpg',
				name: 'Carlos Castellanos',
				text: 'Realizo una compra en TBTGRILL',
				time: 'Hace 1 minuto',
			},
			{
			  id: '2',
			  img:'https://cdn.quasar.dev/img/avatar4.jpg',
			  name: 'Carlos Castellanos',
			  text: 'Realizo una compra en TBTGRILL',
			  time: 'Hace 1 minuto',
			  },
			{
			  id: '3',
			  img:'https://cdn.quasar.dev/img/avatar4.jpg',
			  name: 'Carlos Castellanos',
			  text: 'Realizo una compra en TBTGRILL',
			  time: 'Hace 1 minuto',
			  }
		  ]
		}
	  },
	  mounted(){
		this.cargarRestaurantes();
	  },
	  methods:{
	  	async cargarRestaurantes(){
	  		var cordenadas = await this.geo();
	  		this.$api.general.recuperarDataConData('restaurantes/app', {lat:cordenadas.lat, lon: cordenadas.lon})
	        .then(r => {
	        	this.negocios = r;
	          console.log(this.negocios);
	        })
	        .catch(err => {
	          console.log(err);
	        });
	  	},
		  Agregar(){
			   this.$q.notify({
		message: 'Agregado a mis favoritos',
		color: 'purple',
		textColor: 'white',
		icon: 'done_all'
	  })
		  },
		   Eliminar(){
			   this.$q.notify({
		message: 'Eliminado de mis favoritos',
		color: 'green-4',
		textColor: 'white',
		icon: 'done_all'
	  })
	  },
	  Estado(){
		  this.estado = !this.estado
	  },
	   Vermas(){
            this.$router.push({ path:'/menudoomialiadohome' })
		},
		Vertodo(){
            this.$router.push({ path:'/Vertodos' })
        },

        geo() {
            return new Promise((resolve, reject) => {
            var device = document.addEventListener("deviceready", function() {
                if (canRequest == "") {
                    cordova.plugins.locationAccuracy.canRequest(canrequest, ErrorCant);
                } else {
                    canrequest();
                }
                    function canrequest() {
                        canRequest = 1;
                        cordova.plugins.locationAccuracy.request(
                            function(success) {
                                navigator.geolocation.getCurrentPosition(
                                    function(pos) {
                                        
                                        resolve({
                                            lat: pos.coords.latitude,
                                            lon: pos.coords.longitude
                                        });
                                    },
                                    function(error) {
                                        
                                        console.log(error);
                                        reject();
                                    }
                                );
                            },
                            function(error) {
                                console.log(error);
                                navigator.geolocation.getCurrentPosition(
                                    function(pos) {
                                        
                                        resolve({
                                            lat: pos.coords.latitude,
                                            lon: pos.coords.longitude
                                        });
                                    },
                                    function(error) {
                                       
                                        console.log(error);
                                        reject();
                                    }
                                );
                                if (
                                    error.code !==
                                    cordova.plugins.locationAccuracy
                                        .ERROR_USER_DISAGREED
                                ) {
                                    
                                    reject();
                                }
                            },
                            cordova.plugins.locationAccuracy
                                .REQUEST_PRIORITY_HIGH_ACCURACY
                        );
                    }
                    function ErrorCant() {
                       
                        console.log(error);
                        reject();
                    }
            });
            if (!device) {
                navigator.geolocation.getCurrentPosition(
                    function(pos) {
                       
                        resolve({
                            lat: pos.coords.latitude,
                            lon: pos.coords.longitude
                        });
                    },
                    function(error) {
                        
                        console.log(error);
                        reject();
                    }
                );
            }
        });
       }
	}
	}
</script>
