<template>
	<div class="blue cont_home">
		<div class="row">
			<div class="col-12">
				<q-input borderless rounded outlined v-model="text" label="Buscar Doomialiado" class=" m-2 rounded input-search ">
					<template v-slot:prepend>
						<q-icon name="search" />
					</template>
				</q-input>
			</div>


			<q-scroll-area horizontal style="height: 55px; width:100%;" class="degradado rounded-borders q-mb-sm q-mt-sm ">
				<filter-tags :tags="categorias" />
			</q-scroll-area>
		</div>

		<div  class="flex flex-center">
			<h6 class="w-100 text-center" style="margin-top:0px;margin-bottom:0px;color:white;text-transform: uppercase;" >{{this.txt_tit}}</h6>
		</div>

		<q-scroll-area style="height: 50vh; max-width: 100%;" v-if="ver_abiertos" >
			<div class="row" v-if="domi && domi.length > 0">
				<div class="col-4 text-center"
					v-for="doomi in domi"
					:key="doomi.id"
					@click=" verMas(doomi)">

					<img :src="doomi.img || 'statics/images/logo.png'" style="background-color: #FFF" class="img-xs rounded-1" alt="">
					<p class="text-center clr_white m-0" style="text-transform: uppercase;"><b>{{ doomi.nombre }}</b></p>
					
					<div class="">
						<p class="text-center clr_white m-0 elipses" ><span style="text-transform: uppercase;">{{ doomi.nombre_cat }}</span><br>{{ doomi.ubicacion }}</p>
					</div>
					
					<p class="text-center clr_white m-0" ></p>
				</div>
			</div>

			<div v-else style="height:40px:width:100%" class=" col-12 rounded text-center q-mt-md q-mb-md text-white q-pa-md">
				<center><b><i>No hay doomialiados que mostrar</i></b></center>
			</div>
		</q-scroll-area>

		<div class="row" v-if="ver_abiertos && ver_cerrados">
			<div style="height:40px:width:100%" class=" col-12 degradado rounded text-center q-mt-md q-mb-md text-white q-pa-md">
				<p class="m-0"> Negocios cerrados/no disponibles.</p>
			</div>
		</div>

		<q-scroll-area style="height: 50vh; max-width: 100%;" v-if="ver_cerrados">	
			<div class="row" v-if="domi_ce && domi_ce.length > 0">
				<div class="col-4 text-center no-disponible"
					v-for="doomi in domi_ce"
					:key="doomi.id"
					@click=" verMas(doomi)">

					<img :src="doomi.img || 'statics/images/logo.png'" style="background-color: #FFF" class="img-xs rounded-1" alt="">
					<p class="text-center clr_white m-0" style="text-transform: uppercase;">{{ doomi.nombre }}</p>
					<div class="">
						<p class="text-center clr_white m-0 elipses" ><span style="text-transform: uppercase;">{{ doomi.nombre_cat }}</span><br>{{ doomi.ubicacion }}</p>
					</div>
					<p class="text-center clr_white m-0" ></p>
				</div>
			</div>

			<div v-else style="height:40px:width:100%" class=" col-12 rounded text-center q-mt-md q-mb-md text-white q-pa-md">
				<center><b><i>No hay doomialiados que mostrar</i></b></center>
			</div>
		</q-scroll-area>
	</div>
</template>

<script>

import { mapGetters } from 'vuex'
import FilterTags from 'components/FilterTags'

export default {
name: 'Home',

components: {
	FilterTags,
},


data() {
	return {
		fav1: 0,
		fav2: 0,
		fav3: 0,
		fav4: 0,
		ver_abiertos: false,
		ver_cerrados: false,
		estado: true,
		Comidas: null,
		Licores: null,
		Postres: null,
		Otras: null,
		text: null,
		domi: [],
		domi_ce: [],
		iden: 0,
		txt_tit: '',
		news: [
			{
				id: '1',
				img:'https://cdn.quasar.dev/img/avatar4.jpg',
				name: 'Carlos Castellanos',
				text: 'Realizo una compra en TBTGRILL',
				time: 'Hace 1 minuto',
			},
			{
				id: '2',
				img:'https://cdn.quasar.dev/img/avatar4.jpg',
				name: 'Carlos Castellanos',
				text: 'Realizo una compra en TBTGRILL',
				time: 'Hace 1 minuto',
				},
			{
				id: '3',
				img:'https://cdn.quasar.dev/img/avatar4.jpg',
				name: 'Carlos Castellanos',
				text: 'Realizo una compra en TBTGRILL',
				time: 'Hace 1 minuto',
			}
		]
	};
},
mounted(){
	//this.$q.loading.show();
	this.cargarRestaurantes();
},
methods: {
	async cargarRestaurantes(){
		if(this.$route.params.id)
			this.iden = this.$route.params.id;
		//console.log(this.iden);
		await this.$store.dispatch('actualizarTodo');
		
		
		var cordenadas = await this.$api.general.geo();
		//console.log(cordenadas);
		this.$api.general.recuperarDataConData('restaurantes/app', {lat:cordenadas.lat, lon: cordenadas.lon})
			.then(r => {
				//VER TODOS
				if(this.iden=='-1'){
					this.$router.push({ path:'/Vertodos' });
				}else if(this.iden=='-2'){
					this.txt_tit = 'ABIERTOS';
					this.ver_cerrados = false; this.ver_abiertos = true;
					this.domi =  r.filter((e)=>{
						return e.laborando;
					});
				}else if(this.iden=='-3'){
					this.txt_tit = 'CERRADOS';
					this.ver_cerrados = true; this.ver_abiertos = false;
					this.domi_ce =  r.filter((e)=>{
						return !e.laborando;
					});
				}else if(this.iden!='0' && this.iden!='-1'){
					this.ver_cerrados = true; this.ver_abiertos = true;
					this.$api.general.recuperarDataPorId('categorias/', this.iden)
						.then(d => this.txt_tit = d.nombre)
						.catch(err => console.log(err));

					this.domi =  r.filter((e)=>{
						return e.laborando && e.id_categoria==this.iden;
					});

					this.domi_ce =  r.filter((e)=>{
						return !e.laborando && e.id_categoria==this.iden;
					});	
				}else{

					this.txt_tit = '';
					this.ver_cerrados = true; this.ver_abiertos = true;
					this.domi =  r.filter((e)=>{
						return e.laborando;
					});

					this.domi_ce =  r.filter((e)=>{
						return !e.laborando;
					});
				}
				//console.log(this.domi);
				//this.$q.loading.hide();
			})
			.catch(err => {
				//this.$q.loading.hide();
				console.log(err);
			});
	},
	Agregar(){
		this.$q.notify({
			message: 'Agregado a mis favoritos',
			color: 'purple',
			textColor: 'white',
			icon: 'done_all'
		})
	},
	Eliminar(){
		this.$q.notify({
			message: 'Eliminado de mis favoritos',
			color: 'green-4',
			textColor: 'white',
			icon: 'done_all'
		})
	},
	Estado(){
		this.estado = !this.estado
	},
	verMas(doomi){
		this.$router.push({ path:'/Menudoomialiadohome/'+doomi.id, params: {id:doomi.id} })
	},
	Vertodo(){
		this.$router.push({ path:'/Vertodos' })
	}
},


computed: {
	...mapGetters({
		categorias: 'doomis/categorias',
		//doomialiados: 'doomis/doomialiadosAbiertosCercanos',
		//doomialiados_cerrados: 'doomis/doomialiadosCerradosCercanos',
	}),
},


};
</script>
