<template>
	<div id="Iniciodesesion">
		<div class="q-mt-xl">
			<div class="flex flex-start">
				<q-btn  flat color="primary" icon="keyboard_arrow_left" label="" @click="atras()" />
			</div>
			<div  class="flex flex-center">
				<h6 style="margin-top:-35px;" >Iniciar Sesión</h6>
			</div>
		</div>

		<div class="row">
			<div class="ml-xs">
				<label>Correo</label>
			</div>

			<div class="col-12 flex flex-center">
				<q-input style="width:80%;" v-model="email" filled type="email" hint=""  :rules="[this.$utils.verificarCorreo]" />
			</div>
		</div>

		<div  class="ml-xs">
			<label>Contraseña</label>
		</div>
		
		<div class="flex flex-center">
			<q-input style="width:80%;" v-model="password" filled :type="isPwd ? 'password' : 'text'" hint="">
			<template v-slot:append>
			<q-icon
				:name="isPwd ? 'visibility_off' : 'visibility'"
				class="cursor-pointer"
				@click="isPwd = !isPwd"
			/>
			</template>
			</q-input>
		</div>
		<!--
		<div class="col-12 text-center" v-if="loginError">
			<p style="color:red;">Usuario no encontrado</p>
		</div>
		-->

		<div class="col-12 text-center" v-if="msjError">
			<p style="color:red;">{{ msjError }}</p>
		</div>

		<div class="flex flex-center" >
			<q-btn style="margin:20px;" :disabled="buttonDisabled" @click="login" label="Aceptar" type="Guardar" class="rounded cl_standar"/>
		</div>
		<div class="flex flex-center q-ma-md">
			<q-btn style="margin:20px;" flat to="/Recuperarcontraseña"  label="Recuperar contraseña" type="Guardar" color="primary"/>
		</div>
		<div class="flex flex-center q-ma-md">
			<q-btn style="margin:5px;" flat to="/registroRepartidor"  label="Registrarse como repartidor" type="Guardar" color="primary"/>
		</div>
		<div class="flex flex-center q-ma-md">
			<q-btn style="margin:5px;" flat to="/Sesionrepartidor"  label="Ingresar como repartidor" type="Guardar" color="primary"/>
		</div>
	</div>
</template>

<script>

export default {
	data () {
		return {
			msjError: false,
			buttonDisabled: false,
			password: '',
			isPwd: true,
			email: '',
			// loginError: false,
		}
	},
	methods: {
		login(){
			this.buttonDisabled = true;
			this.msjError = false;
			this.$auth.autenticar(this.email, this.password)
				.then(res=>{

					const tipoUsuario = this.$auth.obtenerTipoUsuario();
					console.log('logueado:', tipoUsuario);

					if(tipoUsuario=='repartidor'){
						this.$router.push({ name:'Pedidos' })
					}
					else if(tipoUsuario=='cliente'){
						this.$router.push({ path:'/Home' })
					}
					else{this.$router.push({ path:'/' })}
				})
				.catch(err=>{
					this.msjError = err.msj || 'Error al iniciar sesión';
					this.buttonDisabled = false;
				});
		},

		atras(){
			// this.$router.go(-1)
			this.$router.replace({name: 'home'});
		},

	},

}
</script>
