<template>
	<div class="blue cont_home" >
	<div class="m-0">
		<div class="flex flex-start">
			<q-btn  flat color="primary" icon="keyboard_arrow_left" label="" to="/Home" />
		</div>

		<div class="flex flex-center text-white ">
			<h6 style="margin-top:-35px;" >Mis Direcciones</h6>
		</div>
	</div>

	<div class="row">
		<div style="text-align:right" class=" col-12">
			<q-btn class="q-ma-md cl_standar rounded" label="Agregar" to="/Misdirecciones" icon="edit_location" />
		</div>
	</div>


	<div class="q-ma-sm text-white ">
		<q-separator color="white" />
			<div v-if="direcciones.length > 0"  v-for="dir in direcciones">
				<div @click="Verdirec(dir.id)"  style="justify-content:space-around;align-items:center" class="flex flex-center q-pa-md ">
					<div  class=" m-0 col-4">
						<h6 class="m-0" >#{{dir.autoicrement}}</h6>
					</div>
					<div class=" m-0 col-8">
						<q-input
							style="font-size:15px"
							dark
							readonly
							v-model="dir.nom_dir"
							filled
							autogrow
						/>
					</div>
				</div>
				<q-separator color="white" />
			</div>
			<div v-if="direcciones.length === 0" style="height:40px:width:100%" class="col-12 rounded text-center q-mt-md q-mb-md text-white q-pa-md">
				<center><b><i>No tiene direcciones registradas</i></b></center>
			</div>
		</div>
	</div>
</template>

<script>
export default {
		data() {
				return {
						direcciones: [],
				}
		},
		mounted(){
			this.cargarDirecciones();
		},
		methods:{
			cargarDirecciones(){
				const data_user = this.$api.cliente.obtenerDatos();
				this.$api.general.recuperarDataConData('direcciones/', {id_cli:data_user.id})
					.then(r => {
						for (var i = 0; i < r.length; i++) {
							r[i].autoicrement=i+1;
						}
						this.direcciones = r;
						//console.log(this.direcciones);
					}).catch(err => {
						console.log(err);
					});
			},
			Verdirec(id_dir){
				this.$router.push({ path:'/Editardireccion/'+id_dir })
			}
		}
}
</script>