<template>
	<div class="">
		<div class="q-mt-md">
			<div class="flex flex-start">
				<q-btn  flat color="primary" icon="keyboard_arrow_left" label="" to="/Home" />
			</div>
			<div  class="flex flex-center">
				<h6 style="margin-top:-35px;margin-bottom: 15px;" >Mapa</h6>
			</div>
		</div>

		<div style="width:60px;height:90px" class="bg-white  q-pa-xs rounded-1 position-map">
			<div class="flex item-center">
				<img src="statics\images\map-verde.png" width="20px" alt="">
				<p style="font-size:5px" class="m-0" >Abiertos</p>
			</div>

			<div class="flex item-center q-mt-sm">
				<img src="statics\images\map-gris.png" width="20px" alt="">
				<p style="font-size:5px" class="m-0" >Cerrados</p>
			</div>
			
			<div class="flex item-center q-mt-sm">
				<img src="statics\images\map-aqui-estoy.png" width="20px" alt="">
				<p style="font-size:5px" class="m-0" >Mi ubicacion</p>
			</div>
		</div>
		<google-map></google-map>
	</div>
</template>


<script>
import { EventBus } from '../router/index';
import GoogleMap from 'components/GoogleMapHome'

export default {

	components: {GoogleMap},

	data () {
		return {
			mapConfig: {zoom:8},	
		}
	},


};
</script>
