<template>
	<div class="blue cont_home" >
		<div  class="">
			<div class="flex flex-start">
				<q-btn  flat color="primary" icon="keyboard_arrow_left"  label="" @click="Atras()" />
			</div>

			<div class="flex flex-center">
				<h6 style="margin-top:-35px;color:white;" >Mapa</h6>
			</div>
		</div>
		
		<div class="row">
			<div class="col-12 flex flex-center">
				<label style="color:white" >Puntos de referencia</label>
			</div>
		
			<div class="col-12 flex flex-center">
				<q-input style="width:80%;" class="bg-white" filled type="email" label="Av.libertad bajando por la autopista"  readonly="" />
			</div>
		</div>

		<div class="text-center">
			<iframe class="q-mt-md" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63043.65933162676!2d-69.77472853484805!3d9.042890588815574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e7cf41c9cd69a57%3A0x3742dfb0d1bf7894!2sGuanare%203350%2C%20Portuguesa!5e0!3m2!1ses!2sve!4v1595857799374!5m2!1ses!2sve" width="85%" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</div>
	</div>
</template>

<script>
export default {
	data() {
      
	},
	methods:{
		 Atras(){
            this.$router.go(-1)
        }
	}
}
</script>