<template>
	<div class="">
		<div class="q-mt-md mt-0">
			<div class="flex flex-start">
				<q-btn class="pt-2" flat color="primary" icon="keyboard_arrow_left" label="" to="/Home" style="position:absolute;" />
			</div>

			<div class=" position flex flex-right">
				<q-rating
					v-if="this.$auth.autenticado()"
					v-model="favorito"
					max="1"
					size="3em"
					color="red"
					color-selected="red-9"
					icon="favorite_border"
					icon-selected="favorite"
					icon-half="favorite"
					no-dimming
				/>
			</div>
		</div>

		<div class="q-pa-md pb-0">
			<div class="row">
				<div class="col-12 text-center">
					<a>
					<q-img :src="doomialiado.img || 'statics/images/logo.png'" :ratio="16/11" spinner-color="white" class="portada_doomialiado" />
					</a>
				</div>
			</div>

			<div class="cont_doomialidado">
				<div class="row">
					<div class="col-12 text-center">
						<q-img :src="doomialiado.img_portada || 'statics/images/logo.png'" spinner-color="white" class="logo_doomialiado" />
					</div>

					<div class="col-8">
						<h5 class="m-0 pl-1">{{ doomialiado.nombre }}</h5>
						<b class="pl-1 text-b">
							{{ doomialiado.categoria.nombre.toUpperCase() }} /
							{{ doomialiado.subcategorias.map(e=>e.nombre.toUpperCase()).join(' - ') }}
						</b>
					</div>

					<div class="col-4 mt-1" style="font-size:15px;" @click="dialogHorario = true">
						<small class="text-left m-0 text-bold">{{ horarioDeHoy }}</small><br>
						<b class="text-left m-0 text-b">HORARIO</b>
						<br/>
						<!-- <a push class="bg-blue rounded q-pa-sm q-ma-xs text-white" @click="dialogHorario = true" >Pedidos Programados</a> -->
					</div>

					<div style="margin-top:10px; margin-bottom: 10px;">
						<div class="col-12">
							<p class="m-0 pl-1">Modalidad de Trabajo:</p>
						</div>

						<div style="font-size:15px" class="col-10 flex">
							<p class="q-ma-xs">
								<b>{{ modalidadesDeTrabajo.join(', ') }}</b>
							</p>
						</div>
					</div>

					<!-- <CATEGORIAS-FILTRO> -->
					<div class="col-12">
						<q-scroll-area horizontal class="cont_categorias rounded-borders q-mt-sm ">
							<div class="row no-wrap q-pa-sm flex " style="width: 600px;height:1px ">
								<q-chip clickable @click="filtrarPorCategoria(chip_todos)" color="primary" text-color="white">
									TODOS
								</q-chip>

								<q-chip
									clickable
									color="primary"
									text-color="white"
									v-for="cat in categoriasMenu"
									:key="cat.id"
									@click="filtrarPorCategoria(cat)"
									>
										{{ cat.nombre.toUpperCase() }}
								</q-chip>
							</div>
						</q-scroll-area>
					</div>
					<!-- </CATEGORIAS-FILTRO> -->
				</div>
			</div>
		</div>

		<div class="q-pa-md pt-1 cont_menu">
			<q-scroll-area :thumb-style="thumbStyle" class="cont_menu--scroll">
				<div class="q-pa-xs">
					<div class="row">
						<div
							:style="{background:'#f1f1f1', 'border-radius':'.5rem', border: producto.estatus ? '1px solid #ddd' : 'none'}" class="col-12 mb-2" v-for="producto in productos" :key="producto.id" >
							<div @click="verMas(producto)" class="row" :disabled="!producto.existencias" v-if="producto.estatus">
								<div  class="col-3">
									<img :src="producto.img || 'statics/images/logo.png'" class="img-xxs rounded-1 " alt="">
								</div>

								<div class="col-7">
									<h6 class="m-0 cont_menu--nombre">{{ producto.nombre }}</h6>
								</div>

								<div class="col-2 text-center">
									<h6 class="m-0 cont_menu--precio"><b>$&nbsp;</b>{{ $utils.precio(producto.precio_usd) }}</h6>
									<q-btn @click.stop="clickCarrito(producto)" :disabled="!producto.existencias" rounded color="primary" label="" icon="fa fa-shopping-cart" size="xs" />
								</div>
							</div>
						</div>

						<div v-if="productos && !productos[0]" class="cont_menu--nohay">
							<center><b><i>No hay productos aquí</i></b></center>
						</div>
					</div>
				</div>
			</q-scroll-area>
		</div>

		<!--modal horarios-->
		<div class="q-pa-md q-gutter-sm">
			<q-dialog v-model="dialogHorario">
				<q-card>
					<q-card-section>
						<div class="text-center"><b>Horario</b></div>
					</q-card-section>

					<q-card-section class="q-pt-none">
						<div class="q-pa-md">
							<div class="row"v-for="hor in horarios" :key="hor.id">

									<div class="col-6 p-2 cont_horario--dia">{{ hor.dia }}</div>
									<div class="col-6 p-2 cont_horario--hora">
										{{$utils.de24a12(hor.inicio_hor)}} - {{$utils.de24a12(hor.fin_hor)}}
									</div>

								<!--
								<div class="col-6 p-2 cont_horario--dia">Martes</div>
								<div class="col-6 p-2 cont_horario--hora">7:00am - 12:00pm</div>
								<div class="col-6 p-2 cont_horario--dia">Miércoles</div>
								<div class="col-6 p-2 cont_horario--hora">7:00am - 12:00pm</div>
								<div class="col-6 p-2 cont_horario--dia">Jueves</div>
								<div class="col-6 p-2 cont_horario--hora">7:00am - 12:00pm</div>
								<div class="col-6 p-2 cont_horario--dia">Viernes</div>
								<div class="col-6 p-2 cont_horario--hora">7:00am - 12:00pm</div>
							-->
							</div>
						</div>
					</q-card-section>

					<q-card-actions align="right">
						<q-btn flat label="OK" color="primary" v-close-popup />
					</q-card-actions>
				</q-card>
			</q-dialog>
		</div>
	</div>
</template>

<script>  export default {

props: {
	id: {required: false, validator: v => +v===+v},
},

data() {
	return {
		idDoomialiado: null,
		nulo: null,
		favorito: null,
		modalidadesDeTrabajo: [],
		dialogHorario: false,
		pedidos: {
			'idProducto': {cantidad: 0, adicionales:[]},
		},
		adicionales: { 'idAdicional': Boolean },
		dialogAdicionales: {mostrar: false, producto: {}},
		idCategoriaFiltro: null,

		chip_todos: {id:-1, nombre:'TODOS'},

		thumbStyle: {
			right: '4px',
			borderRadius: '5px',
			backgroundColor: '#027be3',
			width: '5px',
			opacity: 0.75
		},
	};
},

created(){
	if(!this.id && !this.$route.params.id)
		return this.$router.push({path: '/Home'});

	this.idDoomialiado = this.id || this.$route.params.id;


	if(this.doomialiado.modalidad_delivery)
		this.modalidadesDeTrabajo.push('Delivery');

	if(this.doomialiado.modalidad_pickup)
		this.modalidadesDeTrabajo.push('Pickup');

	if(this.doomialiado.modalidad_programados)
		this.modalidadesDeTrabajo
			.push(`Programados (${this.doomialiado.modalidad_programados_cantidad})`);


	let esFavorito = this.$store.getters['cliente/esFavorito'](this.idDoomialiado);
	this.favorito =  esFavorito ? 1 : 0;
},


methods: {
	clickCarrito(producto){
		let pedido = {
			cantidad: 1,
			idDoomialiado: this.idDoomialiado,
			idProducto: producto.id,
		};

		this.$store.dispatch('carrito/agregar', pedido)
			.then(r => this.notificar(r))
			.catch(e => swal.fire({
				title: 'No se puede agregar',
				text: e,
				icon: 'info',
				showClass: { popup: 'animate__animated animate__fadeIn'},
				hideClass: {popup: 'animate__animated animate__fadeOut'}
				})
			);
	},

	filtrarPorCategoria(categoria){
		this.idCategoriaFiltro = categoria.id || -1;
	},

	verMas(producto){
		this.$router.push({
			path: '/Menudetallehome/'+producto.id,
			// params: {id: producto.id},
		});
	},

	ordenarHorariosDesdeHoy(hors) {
		let day_of_week = 0;//new Date().getDay();
		let list = ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'];
		let sorted_list = list.slice(day_of_week).concat(list.slice(0,day_of_week));
		return hors.sort(function(a,b) {return sorted_list.indexOf(a.dia) - sorted_list.indexOf(b.dia); });
	},

	notificar(message, timeout=2000){
		this.$q.notify({
			message,
			timeout,
			color: 'green-4',
			textColor: 'white',
			icon: 'done_all',
		});
	},

},


computed: {
	doomialiado(){
		return this.$store.getters['doomis/porId'](this.idDoomialiado);
	},

	categoriasMenu(){
		return this.$store.getters['productos/categoriasPorIdDoomialiado'](this.idDoomialiado);
	},

	horarios(){
		let h = this.$store.getters['doomis/horariosDoomialiado'](this.idDoomialiado);
		return this.ordenarHorariosDesdeHoy(h);
	},

	horarioDeHoy(){
		return this.$store.getters['doomis/horarioDoomialadoDeHoy'](this.idDoomialiado);
	},

	productos(){
		let productos;

		if(!this.idCategoriaFiltro || this.idCategoriaFiltro < 0)
			productos = this.$store.getters['productos/porIdDoomialiado'](this.idDoomialiado);
		else
			productos = this.$store.getters['productos/porIdDoomialiadoYCategoria'](this.idDoomialiado, this.idCategoriaFiltro);

		// Poner productos sin existencias hasta el final.
		return productos.sort(  (a,b) => b.existencias - a.existencias  );
	},
},


watch: {
	favorito(val, oldVal){
		if(oldVal===null) return;

		this.$store.dispatch('cliente/favorito', [this.doomialiado.id, val]);

		this.notificar(val ? 'Agregado a mis favoritos' : 'Eliminado de mis favoritos');
	},
},



};</script>


<style type="text/css">

	.chip-text-grande {
		font-size: 15px !important;
	}

	.chip-text-medio {
		font-size: 10px !important;
	}

</style>