<template>
	<div class="q-pa-md">

	<div class="flex flex-start">
		<q-btn class="pt-2" flat color="primary" icon="keyboard_arrow_left" label="" @click="atras" style="position:absolute;" />
	</div>
	
	<br /><br /><br />
		<div class="q-col-gutter-md row items-start">
			<div class="col-12">
				<q-img
					:src=" producto.img || 'statics/images/logo.png' "
					:ratio="16/9"
				/>
			</div>

			<div class="col-12">
				<h6 class="text-center m-0">{{ producto.nombre }}</h6>
			</div>

			<div class="col-8">
				<p class="text-justify m-0">{{ producto.descripcion }}</p>
				<p class="m-0"><b>Categoria:</b> {{ producto.categoria.nombre }}</p>
			</div>

			<div class="col-2">
				<h6 class="m-0">${{ producto.precio_usd }}</h6>
			</div>

			<div class="col-12 text-center">
				<h6 class="m-0">Adicionales</h6>
				<q-checkbox
					v-for="adi in producto.adicionales"
					:key="adi.id"
					v-model="adicionales[adi.id]"
					val="chocolate"
					:label="adi.nombre"
					@click="checkAdicional(adi, $event)"
				/>
			</div>

			<div class="col-12">
				<h6 class="m-0">Nota:</h6>
				<q-input
				v-model="nota"
				filled
				type="textarea"
				/>
			</div>

			<div class="col-12 text-center">
				<q-btn :disabled="!producto.existencias" @click="cambiarCantidad(-1)" rounded color="primary" label="" icon="fa fa-minus" size="xs" />
				<span class="m-0" style="font-size: 22px;font-weight: bold;"> {{ cantidad }} </span>
				<q-btn :disabled="!producto.existencias" @click="cambiarCantidad(+1)" rounded color="primary" label="" icon="fa fa-plus" size="xs" />
			</div>

			<div class="col-12 text-center">
				<q-btn @click="clickAgregar()" :disabled="!cantidad" rounded color="primary" label="Agregar" icon="fa fa-shopping-cart" size="sm" />
			</div>
		</div>
	</div>
</template>



<script>

import { mapGetters } from 'vuex'

export default {


props: {
	id: {required: false, validator: v => +v===+v},
},

data () {
	return {
		idProducto: null,
		selection: ['fresa', 'arequipe', 'chocolate'],
		nota: '',
		cantidad: 0,
		adicionales: {},
	};
},


created(){
	if(!this.id && !this.$route.params.id)
		return this.$router.push({path: '/Home'});
	
	this.idProducto = this.id || this.$route.params.id;
},


mounted(){
	for (let adi of this.producto.adicionales){
		this.$set(this.adicionales, adi.id, false);
	}

	let pedido = this.$store.getters['carrito/pedidoPorId'](this.idProducto);

	if(!pedido)
		this.cantidad = 0;
	else
		this.cantidad = pedido.cantidad;
},



methods: {
	checkAdicional(adi, val){
		this.adicionales[adi.id] = Boolean(val);

		if(!this.pedido.idAdicionales.includes(adi.id))
			this.pedido.idAdicionales.push(adi.id);
	},

	cambiarCantidad(cambio){
		if((this.cantidad+cambio >= 0) && (this.cantidad+cambio < this.producto.existencias)){
			this.cantidad += cambio;
			// this.$store.dispatch('carrito/cambiarCantidadPedido', [this.idProducto, cambio]);
		}
	},

	clickAgregar(){
		let pedido = {
			cantidad: this.cantidad,
			idProducto: this.idProducto,
			nota: this.nota,
			idAdicionales: Object.entries(this.adicionales).map(e => e[1] ? e[0] : null).filter(e => e),
		};
		this.$store.dispatch('carrito/agregar', pedido);

		this.$q.notify({
			message: 'Agregado al carrito',
			color: 'green-4',
			textColor: 'white',
			icon: 'done_all',
			timeout: 2000,
		});
	},

	aumentar(){ this.$store.dispatch('carrito/cambiarCantidadPedido', [this.idProducto, +1]) },
	disminuir(){ this.$store.dispatch('carrito/cambiarCantidadPedido', [this.idProducto, -1]) },

	atras(){ this.$router.back() },
},


computed: {
	producto(){
		return this.$store.getters['productos/porId'](this.idProducto);
	},

	// cantidad(){ return this.$store.getters['carrito/cantidadPedido'](this.idProducto) },
},


}</script>