<template>
	<div>
		<div class="q-mt-md">
			<div class="flex flex-start">
				 <q-btn  flat color="primary" icon="keyboard_arrow_left" label="" @click="Atras()" />
			</div>
			<div  class="flex flex-center">
				<h6 style="margin-top:-35px;" >Mi Dirección</h6>
			</div>
		</div>
		
		<div class="q-pa-md">
			<div class="row">
				<div class="col-12">
					<div class="q-pa-md">
						<q-form id="form_direc" @submit="onSubmit" @reset="onReset" class="q-gutter-md">
							<div class="row">
								<div class="col-12 text-center">
									<q-input class="q-mb-sm"  label="Nombre *" name="nombre_dir" v-model="nombre" filled type="text" hint=""  :rules="[ val => val && val.length > 2 || 'Mínimo 2 caracteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12 text-center">
									<q-input  v-model="text" filled type="textarea" name="direc_dir" label="Dirección" :rules="[ val => val && val.length > 2 || 'Mínimo 2 caracteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12 text-center">
									<google-map>
										<slot :lat="lat" :lon="lon" slot-scope="{ lat, lon }">
											<input name="lat_dir" v-model="lat" type="hidden" />
											<input name="lon_dir" v-model="lon" type="hidden" />
										</slot>
									</google-map>
								</div>
							</div>

							<div class="row">
								<div class="col-12 text-center">
									<q-input class="q-mt-md"  v-model="ref" name="ref_dir" filled type="textarea" label="Punto de referencia (opcional)" />
								</div>
							</div>
							

							<div class="row">
								<div class="col-12 text-center" v-if="formadd">
									<q-btn style="margin:20px;" label="Guardar" type="submit" class="cl_standar rounded" :disabled="buttonDisabled" />
								</div>
								<div class="col-12 text-center" v-if="formedit">
									<q-btn style="margin:20px;" label="Guardar cambios" type="submit" class="cl_standar rounded" :disabled="buttonDisabled" />
									<q-btn style="margin:20px;" label="Eliminar" type="button" color="primary" class="cl_standar rounded" v-on:click="__alertConfirm(id_direccion)" :disabled="buttonDisabledEli" />
								</div>
							</div>
						</q-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import GoogleMap from 'components/GoogleMap';
	export default {
		components: {GoogleMap},

		 data() {
				return {
					text:null,
					nombre:null,
					ref:null,
					buttonDisabled: false,
					buttonDisabledEli: false,
					msjError: false,
					formadd: true,
					formedit: false,
					id_direccion: 0
				}
		 },
		 mounted(){
			if(this.$route.params.id){ 
				this.id_direccion = this.$route.params.id;
				this.cargarData(this.$route.params.id);
			}
			
		 },
		 methods: {
			cargarData(id_dir){
				this.$api.general.recuperarData('direcciones/'+id_dir)
					.then(r => {
						this.nombre = r.nom_dir;
						this.text = r.dir_dir;
						this.ref = r.ref_dir; 
						this.formedit = true;
						this.formadd = false;
					}).catch(err => {
						console.log(err);
					});
			},
			onSubmit(evt){
				evt.preventDefault();

				this.msjError = false;
				this.buttonDisabled = true;
				const data_user = this.$api.cliente.obtenerDatos();

				const formData = new FormData(document.getElementById('form_direc'));
				
				if(this.$route.params.id){ //EDITAR
					formData.append('iden',this.$route.params.id);
					this.$api.general.put('direcciones/edit', formData)
						.then(r => { 
							if(r.r){ //si todo esta bien, se borran los datos de los campos
								swal.fire('Genial!!',r.msj||r.msg,'success');
								this.$router.push({path:'/Listadirecciones'})
							}else
								swal.fire('Oops...',r.msj||r.msg,'error');
							this.buttonDisabled = false;
						})
						.catch(err => {
							swal.fire('Oops...',err.msj||err.msg,'error');
							this.buttonDisabled = false;
						});
				}else{ //REGISTRAR
					formData.append('id_cli',data_user.id);
					this.$api.general.post('direcciones/add', formData)
						.then(r => { 
							if(r.r){ //si todo esta bien, se borran los datos de los campos
								swal.fire('Genial!!',r.msj||r.msg,'success');
								this.nombre= '';
								this.text= '';
								this.ref= '';
								this.lat= '';
								this.lon= '';
								this.$router.push({path:'/Listadirecciones'})
							}else
								swal.fire('Oops...',r.msj||r.msg,'error');
							this.buttonDisabled = false;
						})
						.catch(err => {
							swal.fire('Oops...',err.msj||err.msg,'error');
							this.buttonDisabled = false;
						});
				}
				
			},
			__alertConfirm(ideli) {
				this.buttonDisabledEli = true;
				swal.fire({
					title: "¿Esta seguro?",
					text: "¿Desea eliminar este registro?",
					icon: "warning",
					showCancelButton: true,
					confirmButtonText: 'Si',
					cancelButtonText: 'No'
				})
				.then((res) => {
					if (res.value) {
						this.$api.general.eliminarruta('direcciones/delete/'+ideli)
						.then(r => { 
							if(r.r){ 
								swal.fire('Genial!!',r.msj||r.msg,'success');
								this.$router.push({path:'/Listadirecciones'})
							}else
								swal.fire('Oops...',r.msj||r.msg,'error');
							this.buttonDisabledEli = false;
						})
						.catch(err => {
							swal.fire('Oops...',err.msj||err.msg,'error');
							this.buttonDisabledEli = false;
						});
						
						
					}else{
						this.buttonDisabledEli = false;
					}
				});
			},
			onReset(){},
			Atras(){
				this.$router.go(-1)
			}
		 },
	}
</script>