<template>
	<div  class="blue cont_home">
		<div  class="text-white">
			<div class="flex item-center flex-start q-mb-md">
				<q-btn  flat color="primary" icon="keyboard_arrow_left" label="" to="/Home" />
				<h6 style="margin-top:0px;margin-bottom:0px;margin-left:20%"  >Mis ordenes</h6>
			</div>
		</div>

	<div class=" text-white degradado flex item-center row rounded-1 q-pa-sm q-ml-sm q-mr-sm q-mb-md">

		<div class="flex col-10 content-around item-center">

					<div class="flex item-center w-70 content-between">
				<p style="margin:0px 3px" >Desde: </p>
						<q-btn icon="event" size="sm" round color="primary">
							<q-popup-proxy @before-show="updateProxy" transition-show="scale" transition-hide="scale">
								<q-date v-model="proxyDate">
										<div class="row items-center justify-end q-gutter-sm">
											<q-btn label="Cancel" color="primary" flat v-close-popup />
											<q-btn label="OK" color="primary" flat @click="save" v-close-popup />
										</div>
								</q-date>
								</q-popup-proxy>
							</q-btn>
				<p class="m-0" >{{desde}}</p>
			</div>

			<div class="flex item-center w-70 content-between">
				<p style="margin:0px 3px" >Hasta:  </p>
						<q-btn icon="event" size="sm" round color="primary">
							<q-popup-proxy @before-show="updateProxy" transition-show="scale" transition-hide="scale">
								<q-date v-model="proxyDate">
										<div class="row items-center justify-end q-gutter-sm">
											<q-btn label="Cancel" color="primary" flat v-close-popup />
											<q-btn label="OK" color="primary" flat @click="save" v-close-popup />
										</div>
								</q-date>
								</q-popup-proxy>
							</q-btn>
				<p class="m-0" >{{hasta}}</p>
				</div>

						<div  class="flex item-center content-between w-70 q-mt-sm">
				<p  class="m-0" >Estatus: </p>
					<q-select style="height:20px"  class="rounded input-search w-70" v-model="model" :options="options"  />
				</div>

		</div>

		<div class="col-2">
				<q-btn class="cl_standar rounded-1" size="sm" icon="search" ></q-btn>
			</div>


	</div>

		<q-card class="my-card degradado q-ml-sm q-mr-sm text-white row flex  " flat bordered>
			<q-card-section horizontal class="item-center" >
				<q-card-section class="col-6">
					<q-img
						class="rounded-1"
						src="statics\images\1.jpg"
					/>
				</q-card-section>

				<q-card-section style="width:90%" class="q-pt-xs col-6  ">
					<div class="text-overline">#1</div>
					<div class=" q-mt-sm q-mb-xs text-titulo m-0"> <b> Donas express Guanare </b> </div>

					<div class="text-caption text-white ">
						<p class="m-0" >Estatus: En proceso</p>
						<div style="width:100%" class="flex item-center ">
						<q-btn flat round icon="event" />
						<q-btn flat> 26/09/2020</q-btn>
						</div>
							 <div class="flex item-center ">
						<q-btn flat round icon="alarm" />

						<q-btn flat>7:30pm</q-btn>
						</div>
					</div>

					<q-card-actions class="flex flex-center" >
						<q-btn label="Ver más" size="sm" to="/Detallescliente" class=" rounded cl_standar"></q-btn>
					</q-card-actions>
				</q-card-section>
			</q-card-section>
		</q-card>



		<q-card-actions  class=" flex flex-center">
			<q-btn label="Ver todos" size="sm" class=" rounded cl_standar"></q-btn>
		</q-card-actions>


	</div>
</template>


<script>
export default {

data () {
	return {
	desde: '2019/03/01',
	hasta: '2019/15/01',
	proxyDate: '2019/03/01',
	model: null,
	options: ['Enviado', 'Verificando', 'Aceptado', 'En transito', 'Entregado',"Finalizado","Rechazado"]
	};
},


computed: {
	ordenes(){
		this.$store.getters['ordenes/all']
	},
},


methods: {
	updateProxy () {
		this.proxyDate = this.date
	},

	save () {
		this.date = this.proxyDate
	}
},

};</script>


<style>
.q-field__control-container{
text-align: center;
}

.q-field__native{
	margin-left: 27px;
}

.q-item{
	margin-bottom: -15px;
	margin-top: -13px;
}
</style>