<template>
	<div class="">
		<div class="q-mt-xl">
			<div class="flex flex-start">
				<q-btn  flat color="primary" icon="keyboard_arrow_left" label="" @click="Atras()" />
			</div>

			<div  class="flex flex-center">
				<h6 style="margin-top:-35px;" >¿Registrar cómo?</h6>
			</div>
		</div>

		<div class="flex flex-center">
			<q-btn style="margin:20px;" label="Cliente" type="Guardar" color="primary" to="/registro/" />
			<q-btn style="margin:20px;" label="Repartidor" type="Guardar" color="primary" to="/registroRepartidor/" />
		</div>
	</div>
</template>

<script>
export default {
	 data(){
		  return{

		  }
	 },
	 methods:{
		  Atras(){
			this.$router.go(-1)
		}
	 }
}
</script>
