<template>
	<div class="">
		<div class="">
			<div class="flex flex-start">
				<q-btn  flat color="primary" icon="keyboard_arrow_left" label="" to="/Carrito" />
			</div>

			<div class="flex flex-center">
				<h6 style="margin-top:-35px;" >Pago</h6>
			</div>
		</div>
		<q-form id="form-pago" @submit="onSubmit">
			<div class="q-ma-md">
				<label>Adjuntar</label>
				<q-file filled bottom-slots name="img" v-model="img"  label="Subir imágen" counter>
					<template v-slot:prepend>
						<q-icon name="cloud_upload" @click.stop />
					</template>
					
					<template v-slot:append>
						<q-icon name="close" @click.stop="img = null" class="cursor-pointer" />
					</template>
				</q-file>
			</div>

			<div class="q-ma-md">
				<label>Referencia</label>
				<q-input v-model="referencia" name="referencia" filled type="text" :rules="[ v => v && v.length > 3 || 'Ingrese la referencia' ]" />
			</div>

			<div class="col-12 text-center" v-if="msjError">
				<p style="color:red;">{{ msjError || 'Error'}}</p>
			</div>

			<div class="flex flex-center">
				<q-btn label="Aceptar" type="submit" class="q-ma-md q-mt-xl cl_standar rounded"></q-btn>
				<q-btn label="Cancelar" to="/Home" class="q-ma-md q-mt-xl cl_standar rounded"  ></q-btn>
			</div>

			<q-dialog  v-model="alert">
				<q-card>
					<q-card-section class="bg_blue text-white">
						<div class="text-h6 text-center">Completado</div>
					</q-card-section>

					<q-card-section class="q-pt-none text-center bg_blue text-white ">
					 <img src="statics\images\checkmark.png" style="width:100px" alt="">
					 <p>Su pago ha sido procesado con exito</p>
					</q-card-section>

					<q-card-actions align="center" class="bg_blue">
						<q-btn push class="rounded cl_standar" to="/Home" text-color="white" label="Aceptar" v-close-popup />
					</q-card-actions>
				</q-card>
			</q-dialog>
		</q-form>
		</div>
</template>

<script>
export default {

props:{
	cuenta: {required: true, validator: v => +v === +v},
	metodo: {required: true, validator: v => +v === +v},
},

data(){
	return{
		msjError: null,
		alert: false,
		img: null,
		referencia: null,
		idCuenta: this.cuenta,
		idMetodo: this.metodo,
	};
},

created(){
	if(!this.cuenta || !this.metodo)
		this.$router.push({path: '/Home'});
},

methods: {
	onSubmit(evt){
		// Verificar datos:
		this.msjError = null;
		if(this.img === null) {
			this.msjError = 'Seleccione una imagen';
			return;
		}

		// const data = new FormData(document.getElementById('form-pago'));

		const checkout = this.$store.dispatch('ordenes/checkout', {
			cuenta: this.idCuenta,
			metodo: this.idMetodo,
			referencia: this.referencia
		})
		.then(()=>{
			this.alert = true;
			console.log('CHECKOUT READY!');
		});
	},
},



};</script>
