<template>
	<div id="Pedidos">
		<div style="height:100%" class="blue cont_home" >
			<div class="q-pa-sm q-gutter-sm ">
				<div class="q-mt-sm ">
					<div  class="flex flex-center q-mt-xs">
						<h6 style="color:white;margin:0" >Pedidos</h6>
					</div>
				</div>

				<q-banner rounded class="degradado shadow-10">
					<template v-slot:avatar>
						<img class="q-mt-xl rounded-1" src="statics/images/1.jpg" style="width: 100px; height: 100px;">
					</template>

					<div style="color:white;" class="">
						<h6 style="font-size:19px" class="m-0" >Donas express Guanare</h6>
						<p style="font-size:13px" >Las mejores donas al alcance del guanareño </p>
						<p style="font-size:13px" > <b>Categoria:</b>Comidas Rápidas </p>
						<p style="font-size:13px" > <b>Subcategoria:</b>Merienda </p>
					</div>
				 
					<template v-slot:action>
						<q-btn class="cl_standar rounded"  to="/Vermas1"  label="Ver mas" />
					</template>
				</q-banner>

				<q-banner rounded class="degradado shadow-10 q-mt-xl">
					<template v-slot:avatar>
						<img class="q-mt-xl rounded-1" src="statics/images/2.png" style="width: 100px; height: 100px">
					</template>

					<div style="color:white;" class="">
						<h6 class="q-mt-xs q-mb-xs" >Snarpy</h6>
						<p style="font-size:15px" > Arreglos para todos y en todo momento</p>
						<p style="font-size:13px" > <b>Categoria:</b>Celebraciones </p>
						<p style="font-size:13px" > <b>Subcategoria:</b>Decoración </p>
					</div>
				 
					<template v-slot:action>
						<q-btn class="cl_standar rounded"  to="/Vermas2"   label="Ver mas" />
					</template>
				</q-banner>

				<q-banner rounded class="degradado shadow-10 q-mt-xl">
					<template v-slot:avatar>
						<img class="q-mt-xl rounded-1" src="statics/images/3.jpg" style="width: 100px; height: 100px">
					</template>

					<div style="color:white;" class="">
						<h6 class="q-mt-xs q-mb-xs" >Coco Fresh</h6>
						<p style="font-size:15px"><b> Coco Fresh te trae las mejores cocadas </b></p>
						<p style="font-size:13px"><b>Categoria:</b>Bebidas </p>
						<p style="font-size:13px"><b>Subcategoria:</b>Merienda </p>
					 </div>
				 
					<template v-slot:action>
						<q-btn class="cl_standar rounded" to="/Vermas3"  label="Ver mas" />
					</template>
				</q-banner>

				<q-banner rounded class="degradado shadow-10 q-mt-xl">
					<template v-slot:avatar>
						<img class="q-mt-xl rounded-1 " src="statics/images/4.png" style="width: 100px; height: 100px">
					</template>

					<div style="color:white;" class="">
						<h6 class="q-mt-xs q-mb-xs" >Tecnoberry.ca</h6>
						<p style="font-size:15px" > <b> Venta y reparacion de equipos para celular </b></p>
						<p style="font-size:13px" > <b>Categoria:</b>Electrónica </p>
						<p style="font-size:13px" > <b>Subcategoria:</b>Equipos </p>
					</div>
				 
					<template v-slot:action>
						<q-btn class="cl_standar rounded"  to="/Vermas4"  label="Ver mas" />
					</template>
				</q-banner>
			</div>
		</div>
	</div>
</template>

<script>


export default {
	data(){
		return {}
	},
	mounted(){
	},
}
</script>
