<template>
	<div class="">
		<div class="q-mt-md">
			<div class="flex flex-start">
				<q-btn  flat color="primary" icon="keyboard_arrow_left" label="" to="/Home" />
			</div>
				<div  class="flex flex-center">
					<h6 style="margin-top:-35px;" >Perfil</h6>
				</div>
			</div>
			
			<div class="q-pa-md">
				<div class="row">
					<div class="col-12">
						<div class="q-pa-md">
							<q-form id="form_perfil" @submit="onSubmit" @reset="onReset" class="q-gutter-md">
								<input type="hidden" name="iden" value="" v-model="iden">
							<div class="row">
								<div class="col-12 text-center">
									<q-img :src="foto" class="img-perfil" :ratio="16/11" spinner-color="white"/>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
									<q-file filled bottom-slots @input.native="procesarImagen" name="foto" label="Subir imágen" counter>
										<template v-slot:prepend>
											<q-icon name="cloud_upload" @click.stop />
										</template>
										
										<template v-slot:append>
											<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
										</template>
									</q-file>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled v-model="iden" label="ID *" lazy-rules readonly />
								</div>
							</div>

							<div class="row">
								<div class="col-3">
								<q-select filled name="identificacion" v-model="identificacion" :options="identificaciones" label="---" />
								</div>

								<div class="col-9">
								<q-input filled name="cedula" v-model="cedula" label="Escribe tu cédula *" hint="" lazy-rules :rules="[ val => val && val.length > 3 || 'Mínimo 7 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled name="nombre" v-model="nombre" label="Escribe tu nombre *" hint="" lazy-rules :rules="[ val => val && val.length > 3 || 'Mínimo 3 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled name="apellido" v-model="apellido" label="Escribe tu apellido *" hint="" lazy-rules :rules="[ val => val && val.length > 3 || 'Mínimo 3 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-select filled name="sexo" v-model="sexo" :options="generos" label="Sexo" emit-values />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled name="telefono" type="text" v-model="telefono" label="Teléfono *" hint="" lazy-rules :rules="[this.$utils.verificarTelefono]" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled name="whatsapp" type="text" v-model="whatsapp" label="Escribe tu WhatsApp *" hint="" lazy-rules :rules="[this.$utils.verificarTelefono]" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled name="facebook" v-model="facebook" label="Escribe tu facebook (opcional)" hint="" lazy-rules :rules="[ val => !val || val.length > 5 || 'Mínimo 5 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled name="instagram" v-model="instagram" label="Escribe tu instagram (opcional)" hint="" lazy-rules :rules="[ val => !val || val.length > 5 || 'Mínimo 5 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled name="usuario" v-model="usuario" label="Escribe tu usuario *" hint="" lazy-rules :rules="[ val => val && val.length > 2 || 'Mínimo 3 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled name="correo" type="email" v-model="correo" label="Escribe tu correo *" hint="" lazy-rules :rules="[ val => val && val.length > 5 || 'Mínimo 5 carácteres']" />
								</div>
							</div>
							<input type="hidden" name="pass" value="" v-model="pass">
	<!--
							<div class="row">
								<div class="col-12">
								<q-input filled name="pass" :type="isPwd ? 'password' : 'text'" v-model="pass" label="Cambiar contraseña" hint="" lazy-rules :rules="[ val => !val || val.length > 4 || 'Mínimo 4 carácteres']">
									<template v-slot:append>
									<q-icon
									:name="isPwd ? 'visibility_off' : 'visibility'"
									class="cursor-pointer"
									@click="isPwd = !isPwd"
									/>
									</template>
								</q-input>
								</div>
							</div>

							<div class="row" v-if="pass">
								<div class="col-12">
								<q-input filled :type="isPwd ? 'password' : 'text'" v-model="pass2" label="Confirma tu contraseña *" hint="" lazy-rules :rules="[ val => !val || val.length > 4 || 'Mínimo 4 carácteres', val => val == this.pass || 'Las contraseñas no coinciden']" >
									<template v-slot:append>
									<q-icon
									:name="isPwd ? 'visibility_off' : 'visibility'"
									class="cursor-pointer"
									@click="isPwd = !isPwd"
									/>
									</template>
								</q-input>
								</div>
							</div>
	-->
							<div class="row">
								<div class="col-12">
								<q-select filled name="pais" v-model="pais" :options="paises" label="País" option-value="id" option-label="nombre" emit-value map-options />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-select filled name="estado" v-model="estado" :options="estados" label="Estado" option-value="id" option-label="nombre" emit-value map-options />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-select filled name="ciudad" v-model="ciudad" :options="ciudades" label="Ciudad" option-value="id" option-label="nombre" emit-value map-options />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input name="direccion" v-model="direccion" filled type="textarea" label="Dirección" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
									<google-map>
										<slot :lat="lat" :lon="lon" slot-scope="{ lat, lon }">
											<input name="lat" v-model="lat" type="hidden" />
											<input name="lon" v-model="lon" type="hidden" />
										</slot>
									</google-map>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input name="punto_referencia" v-model="punto_referencia" filled type="textarea" label="Punto de referencia (opcional)" />
								</div>
							</div>

							<div class="col-12 text-center" v-if="msjError">
								<p style="color:red;">{{ msjError || 'Error al actualizar datos'}}</p>
							</div>

							<div class="row">
								<div class="col-12 text-center">
								<q-btn style="margin:20px;" label="Guardar" type="submit" class="cl_standar rounded" :disabled="buttonDisabled" />
								</div>
							</div>
						</q-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


<script>
import { EventBus } from '../router/index';
import GoogleMap from 'components/GoogleMap'

export default {

components: {GoogleMap},

data () {
	return {
		posicionInicialMarcador: {},
		iden: null,
		buttonDisabled: false,
		msjError: false,
		isPwd: false,
		model: null,
		foto: this.$config.imagenes.userIcon,
		nombre: null,
		apellido: null,
		identificacion: null,
		cedula: null,
		pass: null,
		pass2: null,
		correo: null,
		usuario: null,
		sexo: null,
		telefono: null,
		whatsapp: null,
		facebook: null,
		instagram: null,
		direccion: null,
		pais: null,
		paises: [],
		estado: null,
		estados: [],
		ciudad: null,
		ciudades: [],
		punto_referencia: null,
		
		mapConfig: {zoom:8},

		identificaciones: ['V', 'E' , 'J'],
		generos: [
		{label:'Masculino', value:'M'},
		{label:'Femenino', value:'F'}
		],
	}
},


created(){
	this.$api.cliente.recuperarPaises()
		.then(paises => this.paises = paises);

	EventBus.$on('EmitirLAT', (data) => {
            console.log("CODIGO BUS" , data);
    });
},


watch: {
	pais(id_pais){
		this.$api.cliente.recuperarEstados(id_pais)
			.then(estados => {
				this.estados = estados;
				// this.estado = this.ciudad = null;
			});
	},

	estado(id_estado){
		this.$api.cliente.recuperarCiudades(id_estado)
			.then(ciudades => {
				this.ciudades = ciudades;
				// this.ciudad = null;
			});
		},
},


mounted(){
	this.cargarDatos();
},

methods: {
	onSubmit(evt){
		evt.preventDefault();

		this.msjError = false;
		this.buttonDisabled = true;

		const formData = new FormData(document.getElementById('form_perfil'));

		this.$api.cliente.editar(formData)
			.then(r => {
				swal.fire({icon: 'success', title:'Perfil actualizado'});
				this.$router.push({path:'/Home'})
			})
			.catch(err => {
				this.msjError = err.msj;
				this.buttonDisabled = false;
			})
	},

	procesarImagen(evt){ this.$utils.procesarImagen(evt, this) },

	cargarDatos(){
		const datos = this.$api.cliente.obtenerDatos();

		console.log('datos:', datos)

		if(!datos) return;

		this.iden = datos.id;
		this.correo = datos.correo;
		this.direccion = datos.direccion;
		this.usuario = datos.usuario;
		this.nombre = datos.nombre;
		this.apellido = datos.apellido;
		this.cedula = datos.cedula;
		this.identificacion = datos.identificacion;
		this.sexo = datos.sexo;
		this.telefono = datos.telefono;
		this.whatsapp = datos.whatsapp;
		this.pais = datos.id_pais;
		this.estado = datos.id_estado;
		this.ciudad = datos.id_ciudad;
		this.punto_referencia = datos.punto_referencia;

		// this.mapConfig.center = {lat:datos.lat, lon:datos.lon};
		this.lat = datos.lat;
		this.lon = datos.lon;

		let centroMarcador = {lat:datos.lat, lon:datos.lon};
		// this.posicionInicialMarcador = centroMarcador
		this.$root.$emit('setMarker', centroMarcador);
		if(datos.foto)
			this.foto = datos.foto;
	},

	onReset(){},
}


};
</script>
