<template>
	<div class="">
		<div class="q-mt-md">
			<div class="flex flex-start">
				 <q-btn  flat color="primary" icon="keyboard_arrow_left" label="" to="/Pedidos" />
			</div>
				<div  class="flex flex-center">
				<h6 style="margin-top:-35px;" >Perfil de Repartidor</h6>
				</div>
			</div>
			
			<div class="q-pa-md">
				<div class="row">
					<div class="col-12">
						<div class="q-pa-md">
							<q-form id="form_perfil_repartidor" @submit="onSubmit" @reset="onReset" class="q-gutter-md">
							<q-input name="iden" v-model="iden" type="hidden" />
							<div class="row">
								<div class="col-12 text-center">
									<q-img :src="img" class="img-perfil" :ratio="16/11" spinner-color="white"/>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
									<q-file @input.native="procesarImagen" name="img" filled bottom-slots label="Subir imágen" counter >
										<template v-slot:prepend>
											<q-icon name="cloud_upload" @click.stop />
										</template>
										
										<template v-slot:append>
											<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
										</template>
									</q-file>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled v-model="id_repartidor" name="id_repartidor" label="ID *" lazy-rules readonly />
								</div>
							</div>

							<div class="row">
								<div class="col-3">
								<q-select filled v-model="identificacion" name="identificacion" :options="identificaciones" label="V" />
								</div>

								<div class="col-9">
								<q-input filled v-model="cedula" name="cedula" label="Escribe tu cédula *" hint="" lazy-rules :rules="[ val => val && val.length > 3 || 'Mínimo 7 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled v-model="nombre" name="nombre" label="Escribe tu nombre *" hint="" lazy-rules :rules="[ val => val && val.length > 3 || 'Mínimo 3 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled v-model="apellido" name="apellido" label="Escribe tu apellido *" hint="" lazy-rules :rules="[ val => val && val.length > 3 || 'Mínimo 3 carácteres']" />
								</div>
							</div>

							<div class="col-12 text-center">
									<q-img :src="img_rif" class="img-perfil" :ratio="16/11" spinner-color="white"/>
								</div>

							<div class="row">
								<div class="col-12">
									<q-file @input.native="procesarImagen" filled bottom-slots name="img_rif" label="Imagen Rif (Opcional)" counter >
										<template v-slot:prepend>
											<q-icon name="cloud_upload" @click.stop />
										</template>
										
										<template v-slot:append>
											<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
										</template>
									</q-file>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-select filled v-model="tipo_veh" name="tipo_veh" :options="vehiculos" label="Tipo de vehículo" />
								</div>
							</div>

							<div class="row">
								<div class="col-12 text-center">
									<p>Fotos del vehículo</p>
								</div>

								<div class="col-4">
									<q-img :src="img1" :ratio="16/11" spinner-color="white"/>
									<q-file v-if="imagenesVehiculos" @input.native="procesarImagen" filled bottom-slots name="img1" counter >
										<template v-slot:prepend>
											<q-icon name="cloud_upload" @click.stop />
										</template>
										
										<template v-slot:append>
											<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
										</template>
									</q-file>
								</div>

								<div class="col-4">
									<q-img :src="img2" :ratio="16/11" spinner-color="white"/>
									<q-file v-if="imagenesVehiculos" @input.native="procesarImagen" filled bottom-slots name="img2" counter >
										<template v-slot:prepend>
											<q-icon name="cloud_upload" @click.stop />
										</template>
										
										<template v-slot:append>
											<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
										</template>
									</q-file>
								</div>

								<div class="col-4">
									<q-img :src="img3" :ratio="16/11" spinner-color="white"/>
									<q-file v-if="imagenesVehiculos" @input.native="procesarImagen" filled bottom-slots name="img3" counter >
										<template v-slot:prepend>
											<q-icon name="cloud_upload" @click.stop />
										</template>
										
										<template v-slot:append>
											<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
										</template>
									</q-file>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-select filled v-model="sexo" name="sexo" :options="generos" label="Género" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled type="text" v-model="telefono" name="telefono" label="Escribe tu teléfono *" hint="" lazy-rules :rules="[this.$utils.verificarTelefono]" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled type="text" v-model="whatsapp" name="whatsapp" label="Escribe tu WhatsApp *" hint="" lazy-rules :rules="[this.$utils.verificarTelefono]" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled type="email" v-model="correo" name="correo" label="Escribe tu correo *" hint="" lazy-rules :rules="[this.$utils.verificarCorreo]" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled v-model="domicilio" name="domicilio" label="Escribe tu domicilio *" hint="" lazy-rules :rules="[ val => !val || val && val.length > 3 || 'Mínimo 3 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled v-model="usuario" name="usuario" label="Escribe tu usuario *" hint="" lazy-rules :rules="[ val => val && val.length > 2 || 'Mínimo 3 carácteres']" />
								</div>
							</div>

	<!--
							<div class="row">
								<div class="col-12">
								<q-input filled :type="isPwd ? 'password' : 'text'" v-model="pass" name="pass" label="Contraseña" placeholder="Sin cambios" hint="" lazy-rules :rules="[val => !val || val.length > 4 || 'Mínimo 4 carácteres', val => val == this.pass || 'Las contraseñas no coinciden']">
									<template v-slot:append>
									<q-icon
									:name="isPwd ? 'visibility_off' : 'visibility'"
									class="cursor-pointer"
									@click="isPwd = !isPwd"
									/>
									</template>
								</q-input>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled :type="isPwd ? 'password' : 'text'" v-model="pass2" label="Confirma tu contraseña *" hint="Confirmar contraseña" lazy-rules :rules="[val => !val || val.length > 4 || 'Mínimo 4 carácteres']" v-if="pass">
									<template v-slot:append>
									<q-icon
									:name="isPwd ? 'visibility_off' : 'visibility'"
									class="cursor-pointer"
									@click="isPwd = !isPwd"
									/>
									</template>
								</q-input>
								</div>
							</div>
	-->
							<div class="col-12 text-center" v-if="msjError">
								<p style="color:red;">{{ msjError }}</p>
							</div>

							<div class="row">
								<div class="col-12 text-center">
								<q-btn label="Guardar" type="Guardar" class="cl_standar rounded" />
								</div>
							</div>
						</q-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


<script>

export default {
	data(){
		return {
			model: null,
			msjError: null,
			id_repartidor: null,
			iden: null,
			email: null,
			correo: null,
			domicilio: null,
			usuario: null,
			pass: null,
			pass2:null,
			nombre: null,
			apellido: null,
			cedula: null,
			identificacion: null,
			isPwd: false,
			img_rif: null,
			img: this.$api.config.imagenes.userIcon,
			img1: this.$api.config.imagenes.autoDefault,
			img2: this.$api.config.imagenes.autoDefault,
			img3: this.$api.config.imagenes.autoDefault,
			sexo: null,
			identificaciones: ['V', 'E' , 'J'],
			generos: [
				{
					value:'F',
					label: 'Femenino'
				},
				{
					value: 'M',
					label: 'Masculino'
				}
			],
			tipo_veh: null,
			vehiculos: [
				{
					value: 1,
					label: "Auto",
				},
				{
					value: 2,
					label: "Moto",
				},
				{
					value: 3,
					label: "Bicicleta",
				}],
			telefono: null,
			whatsapp: null,
			imagenesVehiculos: true,
		}
	},

	mounted(){
		this.formData = new FormData();
		this.cargarDatos();
	},

	methods: {
		onSubmit(e){
			e.preventDefault();

			let formData = new FormData(document.getElementById('form_perfil_repartidor'));

			this.$api.repartidor.editar(formData)
				.then(r => this.$router.push({path:'/Pedidos'}))
				.catch(err => {
					this.msjError=err.msj || `Error al actualizar datos`;
					console.log(err)
				});
		},

		procesarImagen(e){
			this.formData.append(e.target.name, e.target.files[0]);
			this.$utils.procesarImagen(e, this);
		},

		cargarDatos(){

			const datos = this.$api.repartidor.obtenerDatos();

			this.$api.repartidor.recuperarTipoVehiculos(datos.id)
				.then(data => this.tipo_veh = {value: data.id, label: data.nombre_veh})
				.catch(err => console.log('PerfRep:mounted:', err));

			this.iden = datos.id;
			this.id_repartidor = datos.id_repartidor;
			this.correo = datos.correo;
			this.domicilio = datos.domicilio;
			this.usuario = datos.usuario;
			this.nombre = datos.nombre;
			this.apellido = datos.apellido;
			this.cedula = datos.cedula;
			this.identificacion = datos.identificacion;
			this.sexo = datos.sexo;
			this.telefono = datos.telefono;
			this.whatsapp = datos.whatsapp;
			this.tipo_veh = {value: datos.vehiculo[0].id, label: datos.vehiculo[0].nombre_veh};

			if(datos.img)
				this.img = datos.img;

			if(datos.img1 || datos.foto_1)
				this.img1 = datos.img1 || datos.foto_1;

			if(datos.img2 || datos.foto_2)
				this.img2 = datos.img2 || datos.foto_2;

			if(datos.img3 || datos.foto_3)
				this.img3 = datos.img3 || datos.foto_3;

			if(datos.img_rif)
				this.img_rif = datos.img_rif;

			if(datos.aprobado)
				this.imagenesVehiculos = false;
		},

		onReset(){},

	},
}

</script>
