<template>
<div >
      <div class="q-mt-xl">
  <div class="flex flex-start">
     <q-btn  flat color="primary" icon="keyboard_arrow_left" label="" to="/Sesionrepartidor" />
  </div>
     <div  class="flex flex-center">
     <h6 style="margin-top:-35px;" >Recuperar Contraseña</h6>
     </div>
</div>
      <div class="row">
            <div style="margin-left:10%;" class="">
      <label>Correo</label>
      </div>
           <div class="col-12 flex flex-center">
     <q-input style="width:80%;" v-model="email" filled type="email" hint=""  :rules="[ val => val && val.length > 10 || 'Ingrese una dirección de correo válida']" />
           </div>
      </div>
     <div class="flex flex-center" >
          <q-btn style="margin:20px;" label="Enviar" type="Guardar" color="primary"/>
     </div>
</div>
</template>
