<template>
<div >
      <div class="q-mt-xl">
  <div class="flex flex-start">
     <q-btn  flat color="primary" icon="keyboard_arrow_left" label="" to="/Iniciodesesion" />
  </div>
     <div  class="flex flex-center">
     <h6 style="margin-top:-35px;" >Recuperar Contraseña</h6>
     </div>
</div>
   <q-form id="form_recuperar" @submit="onSubmit" @reset="onReset" class="q-gutter-md">
      <div class="row">
            <div  class="ml-xs">
              <label>Correo</label>
           </div>
           <div class="col-12 flex flex-center">
               <q-input style="width:80%;" name="correo" v-model="correo" filled type="email" hint="" v-on:keyup="limpiar"   />
           </div>
      </div>

      <div class="col-12 text-center" v-if="msjError || msjSucces ">
        <p style="color:red;" v-if="msjError">{{ msjError }}</p>
        <p style="color:green;" v-if="msjSucces">{{ msjSucces }}</p>
      </div>

     <div class="flex flex-center" >
          <q-btn style="margin:20px;" label="Enviar" type="submit" :disabled="buttonDisabled" class="cl_standar rounded" />
     </div>
   </q-form>
</div>
</template>

<script>
export default {
      data() {
            return{
                   buttonDisabled: false,
                   msjError: false,
                   msjSucces: false,
                  correo:''
            }
      },
      methods: {
           limpiar: function() {
      this.msjError = false;
      this.msjSucces = false;
    },

            onSubmit(evt){
      evt.preventDefault();
      this.buttonDisabled = true;
      this.msjError = false;
      this.msjSucces = false;

      this.formData = new FormData(document.getElementById('form_recuperar'));
      this.$api.general.post('login/recuperar_app', this.formData)
        .then(r => { 
          if(r.r){ //si todo esta bien, se borran los datos de los campos
            this.msjSucces = r.msj||r.msg;
            this.correo= '';
             swal.fire('Genial!!',r.msj||r.msg,'success');
          }else
             swal.fire('Oops...',r.msj||r.msg,'error');
          this.buttonDisabled = false;
        })
        .catch(err => {
          swal.fire('Oops...',err.msj||err.msg,'error');
          this.buttonDisabled = false;
        });
    },
    onReset(){},
      },
}
</script>
