<template>
	<div class="">	
		<div class="q-mt-xl">
			<div class="flex flex-start">
				 <q-btn  flat color="primary" icon="keyboard_arrow_left" label="" @click="Atras()" />
			</div>

			<div  class="flex flex-center">
				<h6 style="margin-top:-35px;" >Registro de Repartidor</h6>
			</div>
		</div>
		
			<div class="q-pa-md">
				<div class="row">
					<div class="col col-md-12">
						<div class="q-pa-md">
							<q-form id="form_registro_repartidor" @submit="onSubmit" @reset="onReset" class="q-gutter-md">
							<div class="row">
								<div class="col-12 text-center">
									<q-img :src="img" class="img-perfil" :ratio="16/11" spinner-color="white"/>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
									<q-file filled bottom-slots @input.native="procesarImagen" name="img" label="Subir imágen" counter>
										<template v-slot:prepend>
											<q-icon name="cloud_upload" @click.stop />
										</template>
										
										<template v-slot:append>
											<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
										</template>
									</q-file>
								</div>
							</div>


							<div class="row">
								<div class="col-12">
									<q-input filled v-model="id" label="ID *" lazy-rules readonly />
								</div>
							</div>

							<div class="row">
								<div class="col-3">
								<q-select filled v-model="identificacion" name="identificacion" :options="identificaciones" label="---" />
								</div>

								<div class="col-9">
								<q-input filled v-model="cedula" name="cedula" label="Escribe tu cédula *" hint="" lazy-rules :rules="[ val => val && val.length > 6 || 'Mínimo 7 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled v-model="nombre" name="nombre" label="Escribe tu nombre *" hint="" lazy-rules :rules="[ val => val && val.length > 3 || 'Mínimo 3 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled v-model="apellido" name="apellido" label="Escribe tu apellido *" hint="" lazy-rules :rules="[ val => val && val.length > 3 || 'Mínimo 3 carácteres']" />
								</div>
							</div>

							<div class="col-12 text-center">
									<q-img :src="img_rif" class="img-perfil" :ratio="16/11" spinner-color="white"/>
								</div>

							<q-file filled bottom-slots  @input.native="procesarImagen" name="img_rif" label="Imagen Rif (Opcional)" counter>
								<template v-slot:prepend>
									<q-icon name="cloud_upload" @click.stop />
								</template>
								
								<template v-slot:append>
									<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
								</template>
							</q-file>

							<div class="row">
								<div class="col-12">
								<q-select filled v-model="tipo_veh" name="tipo_veh" :options="vehiculos" label="Tipo de vehículo" />
								</div>
							</div>

							<div class="row">
								<div class="col-12 text-center">
									<p>Fotos del vehículo</p>

									<div class=" row q-mb-md flex flex-center">
									<div class="col-4">
	                                   <q-img :src="img1"  class="img-perfil q-pa-xl" :ratio="16/11" spinner-color="white"/>
									</div>
									<div class="col-4">
	                                   <q-img :src="img2" class="img-perfil q-pa-xl" :ratio="16/11" spinner-color="white"/>
									</div>
									<div class="col-4">
	                                   <q-img :src="img3" class="img-perfil q-pa-xl" :ratio="16/11" spinner-color="white"/>
									</div>
									
								</div>
								</div>

								

								<div class="col-4">
									<q-file filled bottom-slots  @input.native="procesarImagen" name="img1" counter>
										<template v-slot:prepend>
											<q-icon name="cloud_upload" @click.stop />
										</template>
										
										<template v-slot:append>
											<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
										</template>
									</q-file>
								</div>

								<div class="col-4">
									<q-file filled bottom-slots  @input.native="procesarImagen" name="img2" counter>
										<template v-slot:prepend>
											<q-icon name="cloud_upload" @click.stop />
										</template>
										
										<template v-slot:append>
											<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
										</template>
									</q-file>
								</div>

								<div class="col-4">
									<q-file filled bottom-slots  @input.native="procesarImagen" name="img3" counter>
										<template v-slot:prepend>
											<q-icon name="cloud_upload" @click.stop />
										</template>
										
										<template v-slot:append>
											<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
										</template>
									</q-file>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-select filled v-model="sexo" name="sexo" :options="generos"  label="Sexo" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled  v-model="telefono" name="telefono" label="Teléfono *" hint="" lazy-rules :rules="[this.$utils.verificarTelefono]" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled  v-model="whatsapp" name="whatsapp" label="Escribe tu WhatsApp *" hint="" lazy-rules :rules="[this.$utils.verificarTelefono]" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled type="email" v-model="correo" name="correo" label="Escribe tu correo *" hint="" lazy-rules :rules="[this.$utils.verificarCorreo]" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled v-model="domicilio" name="domicilio" label="Escribe tu domicilio *" hint="" lazy-rules :rules="[ val => val && val.length > 3 || 'Mínimo 3 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled v-model="usuario" name="usuario" label="Escribe tu usuario *" hint="" lazy-rules :rules="[ val => val && val.length > 2 || 'Mínimo 3 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled :type="isPwd ? 'password' : 'text'" v-model="pass" name="pass" label="Escribe tu contraseña *" hint="" lazy-rules :rules="[ val => val && val.length > 4 || 'Mínimo 4 carácteres']">
									<template v-slot:append>
									<q-icon
									:name="isPwd ? 'visibility_off' : 'visibility'"
									class="cursor-pointer"
									@click="isPwd = !isPwd"
									/>
									</template>
								</q-input>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled :type="isPwd ? 'password' : 'text'" v-model="pass2" label="Confirma tu contraseña *" hint="" lazy-rules :rules="[ val => val && val.length > 4 || 'Mínimo 4 carácteres', val => val==this.pass || 'Las contraseñas no coinciden']" >
									<template v-slot:append>
									<q-icon
									:name="isPwd ? 'visibility_off' : 'visibility'"
									class="cursor-pointer"
									@click="isPwd = !isPwd"
									/>
									</template>
								</q-input>
								</div>
							</div>

							<div class="col-12 text-center" v-if="msjError">
								<p style="color:red;">{{ msjError || 'Error al registrar'}}</p>
							</div>

							<div class="row">
								<div class="col-12 text-center">
								<q-btn label="Registrar" type="submit" class="rounded cl_standar"  :disabled="buttonDisabled" />
								</div>
							</div>
						</q-form>
					</div>
				</div>
			</div>
		</div>

		<!--modal-->
		<q-dialog  v-model="showAlert">
			<q-card>
				<q-card-section class="bg_blue text-white">
					<div class="text-h6 text-center">Bienvenido...</div>
				</q-card-section>

				<q-card-section class="q-pt-none text-center bg_blue text-white ">
					<img src="statics\images\checkmark.png" style="width:100px" alt="">
					<p>Debe esperar que el Administrador    verifique su registro para poder disfrutar de los servicios de la aplicación.</p>
				</q-card-section>

				<q-card-actions align="center" class="bg_blue">
					<q-btn push class="cl_standar rounded"  to="/home"  label="Aceptar" v-close-popup />
				</q-card-actions>
			</q-card>
		</q-dialog>
		<!--modal-->

	</div>
</template>


<script>
export default {
	data () {
		return {
			showAlert:false,
			model: null,
			buttonDisabled: false,
			msjError: false,
			id: null,
			email: null,
			correo: null,
			domicilio: null,
			usuario: null,
			pass: null,
			pass2:null,
			nombre: null,
			apellido: null,
			cedula: null,
			identificacion: null,
			isPwd: true,
			img_rif: null,
			img: this.$api.config.imagenes.userIcon,
			img1: null,
			img2: null,
			img3: null,
			sexo: null,
			identificaciones: ['V', 'E' , 'J'],
			generos: [
				{
					value:'F',
					label: 'Femenino'
				},
				{
					value: 'M',
					label: 'Masculino'
				}
			],
			tipo_veh: null,
			vehiculos: [
				{
					value: 1,
					label: "Auto",
				},
				{
					value: 2,
					label: "Moto",
				},
				{
					value: 3,
					label: "Bicicleta",
				}],
			telefono: null,
			whatsapp: null,
		}
	},
	methods: {
		onSubmit(e){
			e.preventDefault();

			this.msjError = false;
			this.buttonDisabled = true;

			let form = document.getElementById('form_registro_repartidor');
			let formData = new FormData(form);

			this.$api.repartidor.registrar(formData)
				// .then(r => this.$router.push({path:'/verificar'}))
				.then(r => this.showAlert=true)
				.catch(err => {
					this.buttonDisabled = false;
					this.msjError = err.msj;
					this.buttonDisabled = false;
				});
		},

		Atras(){
			// this.$router.go(-1);
			this.$router.push('home');
		},

		procesarImagen(e){
			this.formData.append(e.target.name, e.target.files[0]);
			this.$utils.procesarImagen(e, this);
		},

		onReset(){},

	},
	mounted(){
		this.formData = new FormData();
		this.$api.repartidor.recuperarNuevaID().then(ID=>{this.id = ID});
	},
}

</script>
