<template>
	<div class="">
		<div class="q-mt-xl">
			<div class="flex flex-start">
				<q-btn  flat color="primary" icon="keyboard_arrow_left" label="" @click="atras()" />
			</div>
				<div  class="flex flex-center">
					<h6 style="margin-top:-35px;" >Registro</h6>
				</div>
			</div>
		
			<div class="q-pa-md">
				<div class="row">
					<div class="col col-md-12">
						<div class="q-pa-md">
							<q-form id="form_registro" @submit="onSubmit" @reset="onReset" class="q-gutter-md">
	<!--
							<div class="row">
								<div class="col-12 text-center">
									<q-img :src="foto" class="img-perfil" :ratio="16/11" spinner-color="white"/>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
									<q-file filled bottom-slots @input.native="procesarImagen" name="foto" label="Subir imágen" counter>
										<template v-slot:prepend>
											<q-icon name="cloud_upload" @click.stop />
										</template>
										
										<template v-slot:append>
											<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
										</template>
									</q-file>
								</div>
							</div>
	 -->

							<div class="row">
								<div class="col-3">
								<q-select filled name="identificacion" v-model="identificacion" :options="identificaciones" label="---" />
								</div>

								<div class="col-9">
								<q-input filled name="cedula" v-model="cedula" label="Escribe tu cédula *" hint="" lazy-rules :rules="[ val => val && val.length > 3 || 'Mínimo 7 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled name="nombre" v-model="nombre" label="Escribe tu nombre *" hint="" lazy-rules :rules="[ val => val && val.length > 3 || 'Mínimo 3 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled name="apellido" v-model="apellido" label="Escribe tu apellido *" hint="" lazy-rules :rules="[ val => val && val.length > 3 || 'Mínimo 3 carácteres']" />
								</div>
							</div>
	<!--
							<div class="row">
								<div class="col-12">
								<q-select filled name="sexo" v-model="sexo" :options="generos" label="Sexo" emit-values map-options/>
								</div>
							</div>
	-->
							<div class="row">
								<div class="col-12">
								<q-input filled type="text" name="telefono" v-model="telefono" label="Teléfono *" hint="" lazy-rules :rules="[this.$utils.verificarTelefono]" />
								</div>
							</div>
	<!--
							<div class="row">
								<div class="col-12">
								<q-input filled type="text" name="whatsapp" v-model="whatsapp" label="Escribe tu WhatsApp *" hint="" lazy-rules :rules="[this.$utils.verificarTelefono]" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled name="facebook" v-model="facebook" label="Escribe tu facebook (opcional)" hint="" lazy-rules :rules="[ val => !val || val.length > 5 || 'Mínimo 5 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled name="instagram" v-model="instagram" label="Escribe tu instagram (opcional)" hint="" lazy-rules :rules="[ val => !val || val.length > 5 || 'Mínimo 5 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled name="usuario" v-model="usuario" label="Escribe tu usuario *" hint="" lazy-rules :rules="[ val => val && val.length > 2 || 'Mínimo 3 carácteres']" />
								</div>
							</div>
	-->
							<div class="row">
								<div class="col-12">
								<q-input filled type="email" name="correo" v-model="correo" label="Escribe tu correo *" hint="" lazy-rules :rules="[this.$utils.verificarCorreo]" />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled :type="isPwd ? 'password' : 'text'" name="pass" v-model="pass" label="Escribe tu contraseña *" hint="" lazy-rules :rules="[ val => val && val.length > 4 || 'Mínimo 4 carácteres']">
									<template v-slot:append>
									<q-icon
									:name="isPwd ? 'visibility_off' : 'visibility'"
									class="cursor-pointer"
									@click="isPwd = !isPwd"
									/>
									</template>
								</q-input>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled :type="isPwd ? 'password' : 'text'" v-model="pass2" label="Confirma tu contraseña *" hint="" lazy-rules :rules="[ val => val && val.length > 4 || 'Mínimo 4 carácteres', val => val == this.pass || 'Las contraseñas no coinciden']" >
									<template v-slot:append>
									<q-icon
									:name="isPwd ? 'visibility_off' : 'visibility'"
									class="cursor-pointer"
									@click="isPwd = !isPwd"
									/>
									</template>
								</q-input>
								</div>
							</div>
	<!--
							<div class="row">
								<div class="col-12">
								<q-select filled name="pais" v-model="pais" :options="paises" label="País" option-value="id" option-label="nombre" emit-value map-options/>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-select filled name="estado" v-model="estado" :options="estados" label="Estado" option-value="id" option-label="nombre" emit-value map-options />
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-select filled name="ciudad" v-model="ciudad" :options="ciudades" label="Ciudad" option-value="id" option-label="nombre" emit-value map-options />
								</div>
							</div>
	-->
							<div class="row">
								<div class="col-12">
								<q-input name="direccion" v-model="direccion" filled type="textarea" label="Dirección" />
								</div>
							</div>
	<!--
							<div class="row">
								<div class="col-12">
									<google-map>
										<slot slot-scope="{ lat, lon }">
											<input name="lat" v-model="lat" type="hidden" />
											<input name="lon" v-model="lon" type="hidden" />
										</slot>
									</google-map>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input v-model="punto_referencia" filled type="textarea" label="Punto de referencia (opcional)" />
								</div>
							</div>
	-->
							<div class="col-12 text-center" v-if="msjError">
								<p style="color:red;">{{ msjError || 'Error al registrar' }}</p>
							</div>

							<div class="row">
								<div class="col-12 text-center">
								<q-btn label="Registrar" type="submit" class="rounded cl_standar" :disabled="buttonDisabled"/>
								</div>
							</div>
							</q-form>
						</div>
					</div>
				</div>
			</div>

		<!--modal-->
		<q-dialog  v-model="showAlert">
			<q-card>
				<q-card-section class="bg_blue text-white">
					<div class="text-h6 text-center">Bienvenido...</div>
				</q-card-section>

				<q-card-section class="q-pt-none text-center bg_blue text-white ">
					<img src="statics\images\checkmark.png" style="width:100px" alt="">
					<p>Debe revisar su correo para confirmar cuenta   y asi podrá disfrutar de los servicios de la aplicación.</p>
				</q-card-section>

				<q-card-actions align="center" class="bg_blue">
					<q-btn push color="white" to="/Home" text-color="primary" label="Aceptar" v-close-popup />
				</q-card-actions>
			</q-card>
		</q-dialog>
		<!--modal-->
	</div>
</template>




<script>

// import GoogleMap from 'components/GoogleMap'

export default {

// components: {GoogleMap},

data () {
	return {
		showAlert:false,
		buttonDisabled: false,
		msjError: false,
		isPwd: true,
		model: null,
		foto: this.$config.imagenes.userIcon,
		nombre: null,
		apellido: null,
		identificacion: null,
		cedula: null,
		pass: null,
		pass2: null,
		correo: null,
		usuario: null,
		sexo: null,
		telefono: null,
		whatsapp: null,
		facebook: null,
		instagram: null,
		direccion: null,
		pais: null,
		paises: null,
		estado: null,
		estados: null,
		ciudad: null,
		ciudades: null,
		punto_referencia: null,
		// lat:0, lon:0,


		identificaciones: ['V', 'E' , 'J'],
		generos: [
		{label:'Masculino', value:'M'},
		{label:'Femenino', value:'F'}
		],
	}
},

/*
created(){
	this.$api.cliente.recuperarPaises()
		.then(paises => this.paises = paises);
},


watch: {
	pais(id_pais){
		this.$api.cliente.recuperarEstados(id_pais)
			.then(estados => {
				this.estados = estados;
				this.estado = this.ciudad = null;
			});
	},

	estado(id_estado){
		this.$api.cliente.recuperarCiudades(id_estado)
			.then(ciudades => {
				this.ciudades = ciudades;
				this.ciudad = null;
			});
		},
},
*/

methods: {
	atras(){ this.$router.go(-1) },

	procesarImagen(evt){ this.$utils.procesarImagen(evt, this) },

	onSubmit(evt){
		evt.preventDefault();

		this.buttonDisabled = true;
		this.msjError = false;

		this.formData = new FormData(document.getElementById('form_registro'));

		this.$api.cliente.registrar(this.formData)
			// .then(r => this.$router.push({path:'/Home'}))
			.then(r => this.showAlert=true)
			.catch(err => {
				this.msjError = err.msj;
				this.buttonDisabled = false;
			});
	},

	onReset(){},
},

};
</script>
