<template>
	<div>
		<div class="q-mt-xl">
			<div class="flex flex-start">
				<q-btn flat color="primary" icon="keyboard_arrow_left" label="" to="/" />
			</div>

			<div  class="flex flex-center">
				<h6 style="margin-top:-35px;" >Iniciar Sesión</h6>
			</div>
		</div>
		
		<div class="row">
			<div style="margin-left:10%;" class="">
				<label>Correo</label>
			</div>

			<div class="col-12 flex flex-center">
				<q-input style="width:80%;" v-model="email" filled type="email" hint=""  :rules="verificarEmail" />
			</div>
		</div>

		<div style="margin-left:10%;" class="">
			<label>Contraseña</label>
		</div>

		<div class="flex flex-center">
			<q-input style="width:80%;" v-model="password" filled :type="isPwd ? 'password' : 'text'" hint="">
				<template v-slot:append>
					<q-icon
					:name="isPwd ? 'visibility_off' : 'visibility'"
					class="cursor-pointer"
					@click="isPwd = !isPwd"
					/>
				</template>
			</q-input>
		</div>

		<div class="col-12 text-center" v-if="loginError">
			<p style="color:red;">Usuario no encontrado</p>
		</div>

		<div class="flex flex-center" >
			<q-btn style="margin:20px;" @click="login"  label="Aceptar" type="Guardar" color="primary"/>
		</div>

		<div class="flex flex-center q-ma-md">
			<q-btn style="margin:20px;" flat to="/Recuperarrepartidor"  label="Recuperar contraseña" type="Guardar" color="primary"/>
		</div>
	</div>
</template>


<script>

export default {
	data () {
		return {
			password: '',
			isPwd: true,
			email: '',
			loginError: false,
			verificarEmail: [this.$utils.verificarCorreo],
		}
	},
	methods: {
		login() {
			this.$auth.autenticar(this.email, this.password)
				.then(res=>{
					if(this.$auth.obtenerTipoUsuario()=='repartidor'){
						this.$router.push({ name:'Pedidos' })
					}
				})
				.catch(err=>{
					this.loginError=true
				});
		},
	},
}


</script>
