<template>
	<div class="flex flex-center">
		<div class="w-100 text-center">
			<h4>Cargando...</h4>
		</div>
		
		<div class="">
			<q-circular-progress
			indeterminate
			size="200px"
			:thickness="0.22"
			color="lime"
			track-color="grey-3"
			class="q-ma-md"
			/>
		</div>
	</div>
</template>

<script>
export default {
  data () {
	return {
	  value: 61
	}
  }
}
</script>