<template>
	<div class="blue cont_home">
		<div class="row">
			<div class="col-12">
				<q-input borderless rounded outlined v-model="text" label="Buscar Doomialiado" class=" m-2 rounded input-search ">
					<template v-slot:prepend>
						<q-icon name="search" />
					</template>
				</q-input>
			</div>

			<q-scroll-area horizontal style="height: 55px; width:100%;" class="degradado rounded-borders q-mb-sm q-mt-sm" >
				<div class="row no-wrap ">
					<div style="width: 600px;height:1px " class="q-pa-sm flex ">
						<q-chip  v-model="Comidas"  color="primary" text-color="white">
						Abierto
						</q-chip>

						<q-chip  v-model="Licores" color="primary" text-color="white">
						Cerrado
						</q-chip>

						<q-chip v-model="Postres"  color="primary" text-color="white">
						Categoria1
						</q-chip>

						<q-chip v-model="Otras"  color="primary" text-color="white">
						categoria2
						</q-chip>

						<q-chip v-model="Otras"  color=primary text-color="white">
						categoria3
						</q-chip>

						<q-chip v-model="Otras"  color="primary" text-color="white">
						TODOS
						</q-chip>
					</div>
				</div>
			</q-scroll-area>
		</div>

		<div class=" flex q-mt-xs">
			<div class="flex flex-start">
				<q-btn  flat color="primary" icon="keyboard_arrow_left" label="" @click="Atras()" />
			</div>

			<div  class="flex flex-center">
				<h6 class="w-100" style="margin-left:30px;margin-top:0px;margin-bottom:0px;color:white;" >Todas las categorías</h6>
			</div>
		</div>

		<div class="row text-center q-mt-sm ">
			<div style="justify-content:space-around"  class="col-12 flex flex-center ">
				<q-chip v-model="Postres"  color="primary" text-color="white">
					Categoria1
				</q-chip>
				
				<q-btn icon-right="keyboard_arrow_right" class="rounded cl_standar" to="/Categoria" >Ver todo</q-btn>
			</div>
			
			<div style="justify-content:space-around" class=" col-12 row bordes rounded q-ml-xs q-mr-xl ">
				<div class="col-4 text-center q-pa-sm">			
					<img src="statics\images\2.png" class="img-xxs circle" alt="">
				</div>

				<div class="col-4 text-center q-pa-sm ">
					<img src="statics\images\1.jpg" class="img-xxs circle" alt="">
				</div>
				
				<div class="col-4 text-center q-pa-sm">
					<img src="statics\images\3.jpg" class="img-xxs circle" alt="">
				</div>
			</div>
		</div>

		<div class="row text-center q-mt-md">
			<div style="justify-content:space-around"  class="col-12 flex flex-center ">
				<q-chip v-model="Postres"  color="primary" text-color="white"> Categoria2 </q-chip>
				<q-btn icon-right="keyboard_arrow_right" class="rounded cl_standar" to="/Categoria" >Ver todo</q-btn>
			</div>
			
			<div style="justify-content:space-around" class=" col-12 row bordes rounded q-ml-xs q-mr-xl ">
				<div  class="col-4 text-center q-pa-sm">
					<img src="statics\images\2.png" class="img-xxs circle" alt="">
				</div>

				<div class="col-4 text-center q-pa-sm ">
					<img src="statics\images\1.jpg" class="img-xxs circle" alt="">
				</div>
			
				<div class="col-4 text-center q-pa-sm">
					<img src="statics\images\3.jpg" class="img-xxs circle" alt="">
				</div>
			</div>
		</div>

		<div class="row text-center q-mt-md">
			<div style="justify-content:space-around"  class="col-12 flex flex-center ">
				<q-chip v-model="Postres"  color="primary" text-color="white">Categoria3</q-chip>
				<q-btn icon-right="keyboard_arrow_right" class="rounded cl_standar" to="/Categoria" >Ver todo</q-btn>
			</div>
			
			<div style="justify-content:space-around" class=" col-12 row bordes rounded q-ml-xs q-mr-xl ">
				<div  class="col-4 text-center q-pa-sm">  
					<img src="statics\images\2.png" class="img-xxs circle" alt="">
				</div>

				<div class="col-4 text-center q-pa-sm">
					<img src="statics\images\1.jpg" class="img-xxs circle" alt="">
				</div>
			
				<div class="col-4 text-center q-pa-sm">
					<img src="statics\images\3.jpg" class="img-xxs circle" alt="">
				</div>
			</div>
		</div>
	</div>
</template>


<script>
	export default {
	name: 'Home',

	props: {
		idCategoria: {validator: v => +v===+v}, // Validar que sea numerico.
	},


	data() {
		return {
			fav1: 0,
			fav2: 0,
			fav3: 0,
			fav4: 0,
			estado: true,
			Comidas: null,
			Licores: null,
			Postres: null,
			Otras: null,
			text: null,
			news: [
			{
				id: '1',
				img:'https://cdn.quasar.dev/img/avatar4.jpg',
				name: 'Carlos Castellanos',
				text: 'Realizo una compra en TBTGRILL',
				time: 'Hace 1 minuto',
			},
			{
				id: '2',
				img:'https://cdn.quasar.dev/img/avatar4.jpg',
				name: 'Carlos Castellanos',
				text: 'Realizo una compra en TBTGRILL',
				time: 'Hace 1 minuto',
				},
			{
				id: '3',
				img:'https://cdn.quasar.dev/img/avatar4.jpg',
				name: 'Carlos Castellanos',
				text: 'Realizo una compra en TBTGRILL',
				time: 'Hace 1 minuto',
				}
			]
		}
	},


	created(){
		console.log('idCategoria:', this.idCategoria);
		this.$api.general.recuperarDataPorId('categorias_menu/', this.idCategoria)
			.then(d => console.log(d))
			.catch(err => console.log(err));
	},


	methods:{
		Agregar(){
			this.$q.notify({
				message: 'Agregado a mis favoritos',
				color: 'purple',
				textColor: 'white',
				icon: 'done_all'
			})
		},

		Eliminar(){
			this.$q.notify({
				message: 'Eliminado de mis favoritos',
				color: 'green-4',
				textColor: 'white',
				icon: 'done_all'
			})
		},

		Estado(){
			this.estado = !this.estado
		},

		Vermas(){
			this.$router.push({ path:'/menudoomialiadohome' })
		},

		Atras(){
			this.$router.go(-1)
		},
	},
};
</script>
