<template>
	<div style="height:100%;" class="blue cont_home">
		<div class="q-pa-md text-center">
			<div class="q-mt-md">
				<div class="flex flex-start">
					<q-btn  flat color="primary" icon="keyboard_arrow_left" label="" to="/Pedidos" />
				</div>

				<div class="flex flex-center">
					<h6 style="margin-top:-35px;color:white;" >Pedido</h6>
				</div>
			</div>

			<div class="row q-ml-md q-mr-md q-mb-xs">
				<div class="col-6">
					<q-img class="circle img-sm" src="statics/images/1.jpg">
						<div style="font-size:10px" class="absolute-bottom text-subtitle1 text-center">
							Donas express Guanare
						</div>
					</q-img>
				</div>

				<div class="col-6">
					<q-img class="circle img-sm" src="statics\images\user.png">
						<div class="absolute-bottom text-subtitle1 text-center">
							Usuario
						</div>
					</q-img>
				</div>
			</div>
		</div>

		<div class=" q-mt-xs ">
			<label class="degradado q-m-0" style="display:block;color:white;text-align:center;font-size:20px" >Pedido</label>
			<q-table class=" q-mt-xs degradado shadow-10 text-white text-center" :data="data" :columns="columns" row-key="">
				<template v-slot:body-cell-name="props">
					<q-td :props="props">
						<div>
							<q-badge color="purple" :label="props.value" />
						</div>
						<div class="my-table-details">
							{{ props.row.details }}
						</div>
					</q-td>
				</template>
			</q-table>
		</div>

		<div class="row q-ma-md">
			<div style="color:white;justify-content:space-between;align-items:center" class="col-12 flex">
							<div style="margin-left:3%;" class="">
			<label>Total a pagar</label>
			</div>
				<q-input class="bg-white" style="height:30px" filled v-model="id" color="white" label="_________55$________" lazy-rules readonly />
			</div>
		</div>

		<div class="row q-ma-md">
			<div style="color:white;justify-content:space-between;align-items:center" class="col-12 flex">
				<div style="margin-left:3%;" class="">
				<label>Dirección</label>
			</div>
			
				<q-input class="bg-white" style="height:30px" filled v-model="id" color="white" label="Urb. los Cocos" lazy-rules readonly />
			</div>
		</div>

		<div class="row q-ma-md">
			<div style="color:white;" class="col-12">
				<div style="margin-left:3%;" class="">
					<label>Punto de referencia</label>
				</div>
				<q-input class="q-mt-md bg-white" style="height:70px" v-model="text" filled type="textarea" label="Bajando por el hotel california" />
			</div>
		</div>

		<div class="text-center q-mt-md ">
			<q-btn color="primary" to="/Mapa" class="q-mb-md" icon="maps" label="Mapa" />
		</div>
	</div>
</template>

<script>
export default {
	data () {
		return {
			columns: [
				{
					name: '',
					required: true,
					label: 'Cantidad',
					align: 'center',
					field: row => row.name,
					format: val => `${val}`,
					sortable: true
				},
				 { name: 'calories', align: 'center', label: 'Descripción', field: 'calories', sortable: true },
				{ name: 'carbs', label: '$', field: 'carbs', align: 'center' },
				
			],

			data: [
				{
					name: '3',
					details: 'Riquisimas donas con relleno de nutella para todos los gustos ',
					calories: 'Donas de nutella',
					fat: 'Donas de nutella',
					carbs: '10',
					protein: '$10',
					sodium: 87,
					calcium: '14%',
					iron: '1%'
				},
				{
					name: '2',
					details: 'Riquisimas donas con relleno de nutella para todos los gustos ',
					calories: 'Refrescos',
					fat: 'Refrescos',
					carbs: '10',
					protein: '$10',
					sodium: 87,
					calcium: '14%',
					iron: '1%'
				},
				{
					name: 1,
					details: 'Riquisimas donas con relleno de nutella para todos los gustos ',
					calories: 'cafe',
					fat: '5',
					carbs: '5',
					protein: '$10',
					sodium: 87,
					calcium: '14%',
					iron: '1%'
				},
			]
		}
	}
}
</script>

<style>
.my-table-details {
	font-size: 0.85em;
	font-style: italic;
	max-width: 200px;
	white-space: normal;
	color:white;
	margin-top: 4px;
}
</style>