<template>
	<div  class="blue cont_home">
		<div class="row">
			<div class="col-12">
				<q-input borderless rounded outlined v-model="text" label="Buscar Doomialiado" class=" m-2 rounded input-search ">
					<template v-slot:prepend>
						<q-icon name="search" />
					</template>
				</q-input>
			</div>
			
			<q-scroll-area horizontal style="height: 55px; width:100%;" class="degradado rounded-borders q-mb-sm q-mt-sm ">
				<filter-tags :tags="categorias" />
			</q-scroll-area>
		</div>

		<div class=" flex q-mt-xs">
			<div class="flex flex-start">
				<q-btn  flat color="primary" icon="keyboard_arrow_left" label="" @click="Atras()" />
			</div>

			<div  class="flex flex-center">
				<h6 class="w-100" style="margin-left:30px;margin-top:0px;margin-bottom:0px;color:white;" >Todas las categorías</h6>
			</div>
		</div>
	
		<!--<div v-for="cat in allcategorias" v-if="cat && cat.restaurantes.length > 0" :key="cat.id" class="row text-center q-mt-sm ">
			<div style="justify-content:space-around"  class="col-12 flex flex-center ">
				<q-chip color="primary" text-color="white">
					{{cat.nombre}}
				</q-chip>
				<q-btn icon-right="keyboard_arrow_right" class="rounded cl_standar" @click="verTodos(cat.id)" >Ver todo</q-btn>
			</div>

			<q-scroll-area horizontal style="height: 94px; " class="row col-12 bordes">
				<div class="row no-wrap q-pa-sm flex " style="width:100%;">
					<div class="col-4 text-center" v-for="res in cat.restaurantes">  
						<img :src="res.img || 'statics/images/logo.png'" class="img-xxs circle" alt="" @click=" Vermas(res)">
					</div>
				</div>
				
			</q-scroll-area>
		</div>-->
		<div v-for="cat in allcategorias" v-if="cat && cat.restaurantes.length > 0 " :key="cat.id" class="row text-center q-mt-sm all-cate">
			<div style="height:40px:width:100%" class="row col-12 degradado rounded text-left q-mt-md q-mb-md text-white q-pa-md">
				<div class="row col-7">
					<p class="m-0" style="padding-top: 8px;font-weight: bold;text-transform:uppercase;">{{cat.nombre}}</p>
				</div>
				<div class="col-5 text-right">
					<q-btn icon-right="keyboard_arrow_right" class="right rounded cl_standar" @click="verTodos(cat.id)" style="" >Ver todos</q-btn>
				</div>	
			</div>
			
			<q-scroll-area horizontal style="height: 94px;" class="row col-12">
				<div class="row no-wrap q-pa-sm flex " style="width:100%;">
					<div class="col-4 text-center" v-for="(res, i) in cat.restaurantes" v-if="i < 6">  
						<img  :src="res.img || 'statics/images/logo.png'" class="img-xxs circle" alt="" @click=" Vermas(res)">
					</div>
				</div>
			</q-scroll-area>
		</div>
	</div>
</template>


<script>
	import { mapGetters } from 'vuex'
	import FilterTags from 'components/FilterTags'
	export default {
		name: 'Home',
		components: {
			FilterTags,
		},
		data() {
			return {
				text: '',
				allcategorias: [],
			}
		  },
		mounted(){
			this.cargartodaslascategorias();
		},
		methods:{
			async cargartodaslascategorias(){
				var cordenadas = await this.$api.general.geo();
			//console.log(cordenadas);
			this.$api.general.recuperarDataConData('restaurantes/app_categoria', {lat:cordenadas.lat, lon: cordenadas.lon})
				.then(r => {
					this.allcategorias = r;
					//console.log(this.allcategorias);
				})
				.catch(err => {
					//this.$q.loading.hide();
					console.log(err);
				});
			},
			verTodos(idcat){
				this.$router.push({ path:'/Home/'+idcat });
			},	   
			Vermas(doomi){
				this.$router.push({ name:'Menudoomialiadohome', params: {idDoomialiado:doomi.id} })
			},
			Atras(){
				this.$router.go(-1)
			}
		},
		computed: {
			...mapGetters({
				categorias: 'doomis/categorias',
			}),
		},
	}
</script>
