<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=pedidos" class="clr_white"><i class="fa fa-lock prefix"></i> Cambiar contraseña </a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12 m6 offset-m3">
		<div class="row">
			<form action="" id="cambiar_clave" method="POST" enctype="multipart/form-data" data-parsley-validate class="col s12">
				<div class="row">
					<div class="input-field col s12">
						<p for="pass" class="m-0">Contraseña actual</p>
						<input id="pass" name="pass" type="password" placeholder="" class="form-control mb-0 validate" required>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<p for="pass_new" class="m-0">Contraseña nueva</p>
						<input id="pass_new" name="pass_new" type="password" placeholder="" class="form-control mb-0 validate" required>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<p for="pass_new_con" class="m-0">Confirmar contraseña</p>
						<input id="pass_new_con" name="pass_new_con" type="password" placeholder="" class="form-control mb-0 validate" required>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12 text-center">
						<button type="submit" name="bt_pass" id="bt_pass" class="btn btn-primary waves-effect">Guardar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>