<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=categorias" class="clr_white"><i class="fa fa-list prefix"></i> Categorías </a>
		</div>
	</div>
</div>

<div class="text-right mb-3">
	<br><a class="waves-effect waves-light modal-trigger btn btn-primary" href="#md-nuevaCategoria" onclick='$("#form_registrar_categoria")[0].reset();$("#iden").val("");$(".bt_save").html("Guardar");$("#tit-mod").html("Nueva categoría");'>Nuevo <i class="fa fa-plus"></i></a><br>
</div>

<table id="data-table-simple" class="table display dt-responsive" cellspacing="0">
	<thead>
		<tr>
			<th>#</th>
			<th>Nombre de la categoría</th>
			<th>Opciones</th>
		</tr>
	</thead>

	<tbody>
		<!--
		<tr>
			<td>#</td>
			<td>Nombre de la categoría</td>
			<td>
				<a href="#md-verCategoria" class="btn btn-floating btn-primary modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ver información de la categoría"><i class="fa fa-eye"></i></a>
				<a href="#md-nuevaCategoria" class="btn btn-floating btn-primary modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar la categoría"><i class="fa fa-edit"></i></a>
				<a class="waves-effect btn btn-primary btn-floating tooltipped" data-position="bottom" data-delay="50" data-tooltip="Eliminar administrador" onclick="Materialize.toast('<span>¿Desea eliminar éste registro?</span><a class=&quot;btn-flat green-text&quot; href=&quot;#!&quot;>Sí<a><a class=&quot;btn-flat blue-text&quot; href=&quot;#!&quot;>No<a>', 5000)"><i class="fa fa-trash"></i></a>
			</td>
		</tr>
		-->
	</tbody>
</table>

<div id="md-nuevaCategoria" class="modal">
	<div class="modal-header">
		<span>Nueva categoría</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<form action="" method="" id="form_registrar_categoria">
				<input id="iden" name="iden" type="hidden" value="">
				<div class="row">
					<div class="input-field col s12">
						<p class="m-0">Nombre</p>
						<input type="text" id="nombre" name="nombre" class="form-control">
					</div>
				</div>
				
				<div class="row">
					<div class="progress col s12 fileprogress hide" style="">
						<div class="determinate" style="width: 50%"></div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="form-group text-center">
						<button type="submit" name="btg" class="waves-effect waves-green btn btn-primary bt_save">Guardar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="md-verCategoria" class="modal">
	<div class="modal-header">
		<span>Ver detalles</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<ul class="collection with-header">
				<li class="collection-header">
					<h6 class="text-bold text-center">Detalles de la categoría</h6>
				</li>
				<li class="collection-item"><b>Nombre:</b> <span class="nom-view"></span></li>
			</ul>
		</div>
	</div>
</div>
