<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=clientes" class="clr_white"><i class="fa fa-user-circle prefix"></i> Clientes </a>
		</div>
	</div>
</div>
<br>

<table id="data-table-simple" class="table display dt-responsive" cellspacing="0">
	<thead>
		<tr>
			<th>#</th>
			<th>Nombre y apellido</th>
			<th>Opciones</th>
		</tr>
	</thead>

	<tbody>
		<!--
		<tr>
			<td>#</td>
			<td>Nombre y apellido</td>
			<td>
				<a href="#md-verCliente" class="btn btn-floating btn-primary modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ver información del cliente"><i class="fa fa-eye"></i></a>
				<a href="#md-verPedidos" class="btn btn-floating btn-primary modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ver solicitudes del cliente"><i class="fa fa-inbox"></i></a>
			</td>
		</tr>
		-->
	</tbody>
</table>

<div id="md-verCliente" class="modal">
	<div class="modal-header">
		<span>Ver detalles</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<ul class="collection with-header">
				<li class="collection-header">
					<h6 class="text-bold text-center">Detalles del cliente</h6>
				</li>
				<li class="collection-item"><b>Cédula: </b><span id="ver-cedula"></span></li>
				<li class="collection-item"><b>Nombre: </b><span id="ver-nombre"></span></li>
				<li class="collection-item"><b>Apellido: </b><span id="ver-apellido"></span></li>
				<li class="collection-item"><b>Sexo: </b><span id="ver-sexo"></span></li>
				<li class="collection-item"><b>Teléfono: </b><span id="ver-telefono"></span></li>
				<li class="collection-item"><b>Correo: </b><span id="ver-correo"></span></li>
				<li class="collection-item"><b>Usuario: </b><span id="ver-usuario"></span></li>
				<li class="collection-item"><b>Whatsapp: </b><span id="ver-whatsapp"></span></li>
			</ul>
		</div>
	</div>
</div>


<div id="md-verPedidos" class="modal modalFull">
	<div class="modal-header">
		<span>Ver detalles</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<div class="row mt-3 mb-3">
				<div class="input-field col s12 m2 offset-m1">
					<p class="m-0">Desde</p>
					<input type="date" id="" name="" class="form-control mb-0">
				</div>

				<div class="input-field col s12 m2">
					<p class="m-0">Hasta</p>
					<input type="date" id="" name="" class="form-control mb-0">
				</div>

				<div class="input-field col s12 m2">
					<p class="m-0">Repartidores</p>
					<div class="select-wrapper">
						<select name="" id="" class="initialized">
							<option value="">Seleccione</option>
							<option></option>
							<option></option>
						</select>
					</div>
				</div>

				<div class="input-field col s12 m3">
					<p class="m-0">Restaurantes</p>
					<div class="select-wrapper">
						<select name="" id="" class="initialized">
							<option value="">Seleccione</option>
							<option></option>
							<option></option>
						</select>
					</div>
				</div>

				<div class="input-field col s12 m2 text-center">
					<br>
					<a href="#" class="btn btn-primary">Buscar <i class="fa fa-search"></i></a>
				</div>
			</div>

			<table class="table display dt-responsive" cellspacing="0" style="width: 100%">
				<thead>
					<tr>
						<th>#</th>
						<th>Nombre y apellido</th>
						<th>Fecha del pedido</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>#</td>
						<td>Nombre y apellido</td>
						<td>Fecha del pedido</td>
					</tr>
				</tbody>
			</table>


			<div id="md-verPedido" class="modal">
				<div class="modal-header">
					<span>Ver detalles</span>
					<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
				</div>

				<div class="modal-content">
					<div class="modal-body">
						<h6>Pedidos realizados por el cliente: <b>Daniela Manzanilla</h6>

						<ul class="collection with-header">
							<li class="collection-item bg_gray">#1 - <i class="fa fa-calendar"></i> 12/06/20</li>
							<li class="collection-item">Usuario: Usuario</li>
							<li class="collection-item">Restaurant - Repartidor</li>
						</ul>

						<ul class="collection with-header">
							<li class="collection-item bg_gray">#2 - <i class="fa fa-calendar"></i> 15/06/20</li>
							<li class="collection-item">Usuario: Usuario</li>
							<li class="collection-item">Restaurant - Repartidor</li>
						</ul>

						<ul class="collection with-header">
							<li class="collection-item bg_gray">#3 - <i class="fa fa-calendar"></i> 19/06/20</li>
							<li class="collection-item">Usuario: Usuario</li>
							<li class="collection-item">Restaurant - Repartidor</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

