<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=cuentas" class="clr_white"><i class="fa fa-list prefix"></i> Cuentas </a>
		</div>
	</div>
</div>

<div class="text-right mb-3">
	<br><a class="waves-effect waves-light btn btn-primary verificar" href="#!" >Nuevo <i class="fa fa-plus"></i></a><br>
</div>

<table id="data-table-simple" class="table display dt-responsive" cellspacing="0">
	<thead>
		<tr>
			<th>#</th>
			<th>Nombre de la cuenta</th>
			<th>Opciones</th>
		</tr>
	</thead>

	<tbody>
		<!--<tr>
			<td>#</td>
			<td>Nombre de la cuenta</td>
			<td>Número de cuenta</td>
			<td>Tipo</td>
			<td>Título</td>
			<td>Métodos de pago</td>
			<td>
				<a href="#md-verCuenta" class="btn btn-floating btn-primary modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ver información de la cuenta"><i class="fa fa-eye"></i></a>
				<a href="#md-nuevaCuenta" class="btn btn-floating btn-primary modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar información de la cuenta"><i class="fa fa-edit"></i></a>
				<a class="waves-effect btn btn-primary btn-floating tooltipped" data-position="bottom" data-delay="50" data-tooltip="Eliminar administrador" onclick="Materialize.toast('<span>¿Desea eliminar éste registro?</span><a class=&quot;btn-flat green-text&quot; href=&quot;#!&quot;>Sí<a><a class=&quot;btn-flat blue-text&quot; href=&quot;#!&quot;>No<a>', 5000)"><i class="fa fa-trash"></i></a>
			</td>
		</tr>-->
	</tbody>
</table>

<div id="md-nuevaCuenta" class="modal">
	<div class="modal-header">
		<span id="tit-mod">Nueva cuenta</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<form action="" method="" id="form_registrar_cuenta">
				<input id="iden" name="iden" type="hidden" value="">
				<div class="row mb-0">
					<div class="input-field col s12 m4">
						<p class="m-0">Nombre</p>
						<input type="text" id="nombre" name="nombre" class="form-control mb-0">
					</div>

					<div class="input-field col s12 m4">
						<p class="m-0">Número de cuenta</p>
						<input type="text" id='numero' name='numero' class="form-control mb-0 cuenta" maxlength="24">
					</div>

					<div class="input-field col s12 m4">
						<p class="m-0">Tipo</p>
						<input type="text" id='tipo' name='tipo' class="form-control mb-0" maxlength="50">
					</div>
				</div>
				
				<div class="row mb-0">
					<div class="input-field col s12">
						<p class="m-0">Detalles</p>
						<textarea name="ext" id="ext" class="form-control"></textarea>
					</div>
				</div>
				<br>
				<hr>
				<h6 class="text-bold text-center m-4">Métodos de pago</h6>

				<table id="list-metodos">
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Opción</th>
					</tr>

					<!--<tr>
						<td>#</td>
						<td>Nombre</td>
						<td>
							<a href="#" class="btn btn-floating btn-primary modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Aceptar"><i class="fa fa-check"></i></a>
						</td>
					</tr>-->
				</table>
				<div class="row">
					<div class="progress col s12 fileprogress hide" style="">
					    <div class="determinate" style="width: 50%"></div>
					</div>
				</div>
				<div class="row mt-3 mb-3">
					<div class="form-group text-center">
						<button type="submit" name="btg" class="waves-effect waves-green btn btn-primary bt_save">Guardar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="md-verCuenta" class="modal">
	<div class="modal-header">
		<span>Ver detalles</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<ul class="collection with-header">
				<li class="collection-header">
					<h6 class="text-bold text-center">Detalles de la cuenta</h6>
				</li>
				<li class="collection-item"><b>Nombre:</b> <span class="nom-view"></span></li>
				<li class="collection-item"><b>Número de cuenta:</b> <span class="num-view"></span></li>
				<li class="collection-item"><b>Tipo:</b> <span class="tip-view"></span></li>
				<li class="collection-item"><b>Detalles:</b> <span class="des-view"></span></li>
			</ul>
			<h6 class="text-bold text-center m-4">Métodos de pago</h6>
			<table id="list-view-metodos">
				
			</table>
		</div>
	</div>
</div>
