<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=doomialiados" class="clr_white"><i class="fa fa-coffee prefix"></i> Doomialiados </a>
		</div>
	</div>
</div>

<div class="text-right mb-3">
	<br><a id="nuevoResBtn" class="waves-effect waves-light btn btn-primary abrirmodal" href="#!"><span>Nuevo</span> <i class="fa fa-plus"></i></a><br>
</div>


<table id="data-table-simple" class="table display dt-responsive" cellspacing="0">
	<thead>
		<tr>
			<th>#</th>
			<th>Logo</th>
			<th>Nombre</th>
			<th style="width:145px;">Laborando</th>
			<th style="width:145px;">Estatus</th>
			<th>Opciones</th>
		</tr>
	</thead>

	<tbody>
	</tbody>
</table>


<div id="md-nuevoRestaurant" class="modal modalFull">
	<div class="modal-header">
		<span id="tit-mod">Nuevo doomialiado</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<form class="col s12" id="form_registrar_resta">
		<input id="iden" name="iden" type="hidden" value="">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">

					<div class="col s12 m6 text-center">
						<div class="cont_img">
							<h6 class="m-0 text-center text-bold">Imagen del Doomialiado</h6>
							<img src="../../static/img/user.png" class="hide img-perfil all_img" id="imagen">

							<div id="resizer-demo"></div>

							<div class="file-field input-field center m-0">
								<div class="file-field input-field center m-0">
									<div class="btn-floating bg_first-color btn-blue" style="cursor: pointer;">
										<span><i class="fa fa-upload"></i></span>
										<input type="file" onchange="abrirEditor(this,'0');" id="file-input" accept="image/*" id="imagenn">
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col s12 m6 text-center mb-2">
						<div class="cont_img">
							<h6 class="m-0 text-center text-bold">Imagen de Portada</h6>
							<!--<img src="../../static/img/logo.jpg" class="all_img view-img-rif img-perfil" onerror="this.src='../../static/img/logo.jpg'">-->
							
							<img src="../../static/img/logo.jpg" class="hide img-perfil all_img" id="imagen1">
						
							<div id="resizer-demo-1"></div>
							
							<div class="file-field input-field center m-0">
								<div class="btn-floating bg_first-color btn-blue" style="cursor: pointer;">
									<span><i class="fa fa-upload"></i></span>
									<input type="file" onchange="abrirEditor(this,'1');"  accept="image/*" id="imagenn1">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col s12 m6 p-0">
						<div class="row">
							<div class="input-field col s12">
								<p class="m-0">Nombre del Doomialiado</p>
								<input placeholder="" id="nombre" name="nombre" type="text" class="form-control mb-0">
							</div>

							<div class="input-field col s12">
								<p class="m-0">Descripción</p>
								<textarea class="form-control mb-0" id="descripcion" name="descripcion"></textarea>
							</div>

						</div>
					</div>

					<div class="col s12 m6 p-0">
						<div class="row">
							<div class="input-field col s12">
								<p class="m-0">Categoría</p>
								<select name="categoria" id="categoria" class="select2 initialized">
									<option value="">Seleccione</option>
								</select>
							</div>

							<div class="input-field col s12">
								<p class="m-0">Subcategoría</p>
								<select placeholder="Seleccione una categoría" name="subcategoria[]" id="subcategoria" class="initialized" multiple>
									<option></option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-2">
					<div class="input-field col s12 m6">
						<div class="row">
							<div class="col s12">
								<p class="m-0">RIF</p>
							</div>

							<div class="input-field col s3 m2 m-0 p-0">
								<div class="select-wrapper" >
									<select name="rif_letra" id="rif_letra" class="rif_data initialized">
										<option value=""></option>
										<option value="J">J</option>
										<option value="G">G</option>
										<option value="V">V</option>
										<option value="E">E</option>
										<option value="P">P</option>
									</select>
								</div>
							</div>

							<div class="pt-0 col s5 m5">
								<input placeholder="" id="rif_numero" name="rif_numero" maxlength="8" type="text" class="rif_data form-control mb-0 text-center">
							</div>

							<div class="pt-0 col s4 m5">
								<input placeholder="" id="rif_chequeo" name="rif_chequeo" maxlength="1" type="text" class="rif_data form-control mb-0 text-center">
							</div>
						</div>
					</div>
					
					<div class="input-field col s12 m3">
						<p class="m-0">Facebook</p>
						<input type="text" name="facebook" id="facebook" class="form-control mb-0">
					</div>
					<div class="input-field col s12 m3">
						<p class="m-0">Instagram</p>
						<input type="text" name="instagram" id="instagram" class="form-control mb-0">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s6">
						<p class="m-0">Teléfono local</p>
						<input id="telefono" name="telefono" type="text" class="form-control mb-0">
					</div>

					<div class="input-field col s6">
						<p class="m-0">Ubicación</p>
						<input id="ubicacion" name="ubicacion" type="text" class="form-control mb-0">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<p class="m-0">Ubicación geográfica</p>
						<div id="map" style="width: 100%; height: 260px;margin-bottom: 50px;"></div>
						<input type="hidden" name="lat" id="lat">
						<input type="hidden" name="lon" id="lon">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12 m4">
						<p class="m-0">País</p>
						<select name="pais" id="pais" class="select2 initialized">
							<option value="">Seleccione</option>
						</select>
					</div>

					<div class="input-field col s12 m4">
						<p class="m-0">Estado</p>
						<select name="estado" id="estado" class="select2 initialized">
							<option value="">Seleccione</option>
						</select>
					</div>

					<div class="input-field col s12 m4">
						<p class="m-0">Ciudad</p>
						<select name="ciudad" id="ciudad" class="select2 initialized">
							<option value="">Seleccione</option>
						</select>
					</div>
				</div><br>

				<div class="row">
					<div class="col s12 mb-4">
						<div class="bg_gray p-2">
							<h6 class="text-center">Encargados con acceso <a href="#!" class="btn btn-primary btn-floating add-usu"><i class="fa fa-plus	"></i></a></h6>
						</div>
					</div>
				</div>

				<div class="row mt-4">
					<div class="col s12">
						<table class="responsive-table">
							<thead>
								<tr>
									<th class="pb-4">#</th>
									<th class="pb-4">Nombre y Apellido</th>
									<th class="pb-4">Cédula</th>
									<th class="pb-4">Correo</th>
									<th class="pb-4">Contraseña</th>
									<th class="pb-4">Opción</th>
								</tr>
							</thead>

							<tbody id="list-usuarios">
							</tbody>
							
						</table>
					</div>

					<div class="row">
						<div class="progress col s12 fileprogress hide" style="">
						    <div class="determinate" style="width: 50%"></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<div class="modal-footer text-center">
			<button type="submit" name="btg" class="waves-effect waves-green btn btn-primary bt_save">Guardar</button>
			<a href="#!" class="modal-close waves-effect waves-green btn btn-primary">Cancelar</a>			
		</div>
	</form>
</div>


<div id="md-verRestaurant" class="modal modalFull">
	<div class="modal-header">
		<span>Ver Doomialiado</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">

			<div class="row">
				<div class="col s12 m6">
					<ul class="collection with-header">
						<li class="collection-item">
							<h6 class="text-bold text-center">Detalles del Doomialiado</h6>
						</li>

						<li class="collection-item text-center p-0 pt-2">
							<div class="row">
								<div class="col s12 m6">
									<h6 class="text-bold">Logo </h6>
									<img src="../../static/img/logo.jpg" class="img-view img-ver w100" onerror="this.src='../../static/img/logo.jpg'">
								</div>

								<div class="col s12 m6">
									<h6 class="text-bold">Portada </h6>
									<img src="../../static/img/logo.jpg" class="img-view-por img-ver w100" onerror="this.src='../../static/img/logo.jpg'">
								</div>
							</div>
						</li>
					</ul>
					<div id="map_ver" style="width: 100%; height: 350px;margin-bottom: 50px;"></div>
				</div>

				<div class="col s12 m6">
					<ul class="collection with-header">
						<li class="collection-item"><b>Categoría: </b><span class="cat-view"></span></li>
						<li class="collection-item"><b>Subcategorías: </b><span class="sub-view"></span></li>
						<li class="collection-item"><b>Nombre del Doomialiado</b> <span class="nom-view"></span></li>
						<li class="collection-item"><b>Descripción:</b> <span class="des-view"></span></li>
						<li class="collection-item"><b>RIF: </b><span class="rif-view"></span></li>
						<li class="collection-item"><b>Telefono: </b><span class="telefono"></span></li>
						<li class="collection-item"><b>Facebook: </b><span class="facebook"></span></li>
						<li class="collection-item"><b>Instagram: </b><span class="instagram"></span></li>
						<li class="collection-item"><b>Usuarios:</b> <span class="usu-view"></span></li>
						<li class="collection-item"><b>País:</b> <span class="pai-view"></span></li>
						<li class="collection-item"><b>Estado:</b> <span class="est-view"></span></li>
						<li class="collection-item"><b>Ciudad:</b> <span class="ciu-view"></span></li>
						<li class="collection-item"><b>Ubicación:</b> <span class="ubi-view"></span>
						<li class="collection-item"><b>Laborando:</b> <span class="lab-view"></span>
						<li class="collection-item"><b>Estatus:</b> <span class="sts-view"></span>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="modal-footer text-center">
			<a href="#!" class="modal-close waves-effect waves-green btn btn-primary">Cerrar</a>			
		</div>
	</div>
</div>

