<div class="row">
	<div class="col s6 m3 mb-2 view-admin hide">
		<a href="?op=repartidores">
			<div class="boxInicio__content bg_first-color p-3 text-center">
				<i class="clr_white fa-3x fa fa-car"></i>
				<h6 class="clr_white">Repartidores <span class="clr_white conta-rep"><i class="fa fa-spinner fa-spin fa-fw "></i></span></h6>
			</div>
		</a>
	</div>

	<div class="col s6 m3 mb-2 view-admin hide">
		<a href="?op=clientes">
			<div class="boxInicio__content bg_first-color p-3 text-center">
				<i class="clr_white fa-3x fa fa-users"></i>
				<h6 class="clr_white">Clientes <span class="clr_white conta-cli"><i class="fa fa-spinner fa-spin fa-fw "></i></span></h6>
			</div>
		</a>
	</div>

	<div class="col s6 m3 mb-2 view-admin hide">
		<a href="?op=doomialiados">
			<div class="boxInicio__content bg_first-color p-3 text-center">
				<i class="clr_white fa-3x fa fa-utensil-spoon"></i>
				<h6 class="clr_white">Doomialiados <span class="clr_white conta-res"><i class="fa fa-spinner fa-spin fa-fw "></i></span></h6>
			</div>
		</a>
	</div>

	<div class="col s6 m3 mb-2 view-admin hide">
		<a href="?op=administradores">
			<div class="boxInicio__content bg_first-color p-3 text-center">
				<i class="clr_white fa-3x fa fa-inbox"></i>
				<h6 class="clr_white">Solicitudes <span class="clr_white conta-sol"><i class="fa fa-spinner fa-spin fa-fw "></i></span></h6>
				
			</div>
		</a>
	</div>

	<div class="col s12 m3 mb-2 view-resta hide">
		<a href="?op=categorias">
			<div class="boxInicio__content bg_first-color p-3 text-center">
				<i class="clr_white fa-3x fa fa-list"></i>
				<h6 class="clr_white">Categorias <span class="clr_white conta-cat"><i class="fa fa-spinner fa-spin fa-fw "></i></span></h6>
				
			</div>
		</a>
	</div>
	<div class="col s12 m3 mb-2 view-resta hide">
		<a href="?op=menu">
			<div class="boxInicio__content bg_first-color p-3 text-center">
				<i class="clr_white fa-3x fa fa-utensil-spoon"></i>
				<h6 class="clr_white">Menú <span class="clr_white conta-men"><i class="fa fa-spinner fa-spin fa-fw "></i></span></h6>
				
			</div>
		</a>
	</div>
	<div class="col s12 m3 mb-2 view-resta hide">
		<a href="?op=pedidosrestaurant">
			<div class="boxInicio__content bg_first-color p-3 text-center">
				<i class="clr_white fa-3x fa fa-inbox"></i>
				<h6 class="clr_white">Pedidos <span class="clr_white conta-ped"><i class="fa fa-spinner fa-spin fa-fw "></i></span></h6>
				
			</div>
		</a>
	</div>
</div>