<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=menu" class="clr_white"><i class="fa fa-utensil-spoon prefix"></i> Menú </a>
		</div>
	</div>
</div>

<div class="text-right mb-3">
	<br><a id="nuevoMenuBtn" class="waves-effect waves-light modal-trigger btn btn-primary" href="#md-nuevoMenu" onclick="clickNuevoMenu()/* static/js/back/menu.js */">Nuevo <i class="fa fa-plus"></i>
	</a><br>
</div>

<table id="data-table-simple" class="table display dt-responsive" cellspacing="0">
	<thead>
		<tr>
			<th>#</th>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Precios USD / Bs</th>
			<th>Categoría</th>
			<th>Estatus</th>
			<th>Opciones</th>
		</tr>
	</thead>

	<tbody>
	</tbody>
</table>

<div id="md-nuevoMenu" class="modal">
	<div class="modal-header">
		<span id="tit-mod">Nuevo menú</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<form class="col s12" id="form_registrar_menu">
				<input id="iden" name="iden" type="hidden" value="">
				<div class="row">
					<div class="col s12 text-center">
						<div class="col s4 offset-s4 text-center">
							<div class="flexCenter">
								<img src="../../static/img/logo.jpg" class="hide all_img img-perfil" id="imagen">
							</div>
								
							<div class="text-center">
								<div id="resizer-demo"></div>
							</div>
						</div>
						<div class="col s12 text-center">
							<div class="file-field input-field center m-0">
								<div class="btn-floating bg_first-color btn-blue" style="cursor: pointer;">
									<span><i class="fa fa-upload"></i></span>
									<input type="file" onchange="abrirEditor(this,'0');" accept="image/*" id="imagenn">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<p class="m-0">Nombre</p>
						<input placeholder="" id="nom_men" name="nom_men" type="text" class="form-control mb-0">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<p class="m-0">Descripción</p>
						<textarea class="form-control mb-0" id="descripcion" name="descripcion"></textarea>
					</div>
				</div>
				
				
				<div class="row">
					<div class="input-field col s6">
						<p class="m-0">Precios USD</p>
						<input id="usd_men" name="usd_men" type="text" placeholder="Ingrese el precio" data-decimal="," data-thousands="." class="Amount validate valid form-control mb-0">
					</div>

					<div class="input-field col s6">
						<p class="m-0">Precio Bs</p>
						<input id="bs_men" name="bs_men" type="text" class="form-control mb-0" disabled="">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<p class="m-0">Existencias</p>
						<input id="exi_men" name="exi_men" type="text" class="form-control mb-0">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12 m6">
						<p class="m-0">Categoría</p>
						<div class="select-wrapper">
							<select name="cat_men" id="cat_men" class="select2 initialized">
								<option value="">Seleccione</option>
							</select>
						</div>
					</div>

					<div class="input-field col s12 m6">
						<p class="m-0">Estatus</p>
						<div class="select-wrapper">
							<select name="est_men" id="est_men" class="select2 initialized">
								<option value="">Seleccione</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row" style="margin-top: 80px;">
					<div class="col s12 mb-4">
						<div class="bg_gray p-2">
							<h6 class="text-center">Adicionales <a href="#!" class="btn btn-primary btn-floating add-adi"><i class="fa fa-plus"></i></a></h6>
						</div>
					</div>
				</div>

				<div class="row mt-4">
					<div class="col s12">
						<table class="responsive-table">
							<thead>
								<tr class="bg_gray">
									<th class="pb-4">#</th>
									<th class="pb-4">Nombre</th>
									<th class="pb-4">Precio USD</th>
									<th class="pb-4">Precio Bs</th>
									<th class="pb-4">Opción</th>
								</tr>
							</thead>

							<tbody id="lista-adicionales"></tbody>

						</table>
					</div>
				</div>

				<div class="row">
					<div class="progress col s12 fileprogress hide" style="">
					    <div class="determinate" style="width: 50%"></div>
					</div>
				</div>

				<div class="row mt-3">
					<div class="form-group text-center">
						<button type="submit" name="btg" class="waves-effect waves-green btn btn-primary bt_save">Guardar</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="modal-footer text-center"></div>
</div>


<div id="md-verMenu" class="modal">
	<div class="modal-header">
		<span>Ver detalles</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<ul class="collection with-header">
				<li class="collection-header">
					<h6 class="text-bold text-center">Detalles del menú</h6>
				</li>
				<li class="collection-item text-center"><img src="../../static/img/logo.jpg"  class="img-icono" width="200px;"></li>
				<li class="collection-item"><b>Nombre: </b><span class="nom-view"></span></li>
				<li class="collection-item"><b>Descripción: </b><span class="desc-view"></span></li>
				<li class="collection-item"><b>Precio: </b>$<span class="pres-usd-view"></span> / Bs. <span class="pres-bs-view"></span>
				</li>
				<li class="collection-item"><b>Existencias: </b><span class="exi-view"></span></li>
				<li class="collection-item"><b>Categoría: </b><span class="cat-view"></span></li>
				<li class="collection-item"><b>Estatus: </b><span class="est-view"></span></li>
				<li class="collection-item"><b></b><span class="adi-view"></span></li>
			</ul>
		</div>
	</div>

	<div class="modal-footer text-center">
		<a href="#!" class="modal-close waves-effect waves-green btn btn-primary">Cerrar</a>
	</div>
</div>

<style type="text/css">

	.adi-view tr:nth-child(odd) {
		background-color: #fafafa;
	}

	#data-table-simple td:nth-last-child(2) {
		width: 200px !important;
	}

</style>
