<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=metodosdepago" class="clr_white"><i class="fa fa-list prefix"></i> Métodos de pago </a>
		</div>
	</div>
</div>

<div class="text-right mb-3">
	<br><a class="waves-effect waves-light modal-trigger btn btn-primary" href="#md-nuevoMetododepago" onclick='$("#form_registrar_metodo")[0].reset();$("#iden").val("");$(".bt_save").html("Guardar");$("#tit-mod").html("Nuevo método de pago");'>Nuevo <i class="fa fa-plus"></i></a><br>
</div>

<table id="data-table-simple" class="table display dt-responsive" cellspacing="0">
	<thead>
		<tr>
			<th>#</th>
			<th>Nombre</th>
			<th>Opciones</th>
		</tr>
	</thead>

	<tbody>
		<!--<tr>
			<td>#</td>
			<td>Nombre</td>
			<td>
				<a href="#md-verCuenta" class="btn btn-floating btn-primary modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ver información del método de pago"><i class="fa fa-eye"></i></a>
				<a href="#md-nuevoMetododepago" class="btn btn-floating btn-primary modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar información del método de pago"><i class="fa fa-edit"></i></a>
				<a class="waves-effect btn btn-primary btn-floating tooltipped" data-position="bottom" data-delay="50" data-tooltip="Eliminar administrador" onclick="Materialize.toast('<span>¿Desea eliminar éste registro?</span><a class=&quot;btn-flat green-text&quot; href=&quot;#!&quot;>Sí<a><a class=&quot;btn-flat blue-text&quot; href=&quot;#!&quot;>No<a>', 5000)"><i class="fa fa-trash"></i></a>
			</td>
		</tr>-->
	</tbody>
</table>

<div id="md-nuevoMetododepago" class="modal">
	<div class="modal-header">
		<span id="tit-mod">Nuevo método de pago</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<form action="" method="" id="form_registrar_metodo">
				<input id="iden" name="iden" type="hidden" value="">
				<div class="row">
					<div class="input-field col s12">
						<p class="m-0">Método de pago</p>
						<input type="text" id="nom_met" name="nombre" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="progress col s12 fileprogress hide" style="">
					    <div class="determinate" style="width: 50%"></div>
					</div>
				</div>
				<div class="row mt-3 mb-3">
					<div class="form-group text-center">
						<button type="submit" name="btg" class="waves-effect waves-green btn btn-primary bt_save">Guardar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="md-verCuenta" class="modal">
	<div class="modal-header">
		<span>Ver detalles</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<ul class="collection with-header">
				<li class="collection-header">
					<h6 class="text-bold text-center">Detalles del método de pago</h6>
				</li>
				<li class="collection-item"><b>Método de pago:</b> <span class="nom-view"></span></li>
			</ul>
		</div>
	</div>
	<div class="modal-footer text-center">
		<a href="#!" class="modal-close waves-effect waves-green btn btn-primary">Cerrar</a>
	</div>
</div>
