<style type="text/css">
	.no-vist{
		background: #f3f3f3;
	}
</style>
<div class="row">
	<div class="col s12 m10 offset-m1">
		<div>
			<a href="#" style="padding:.5rem;">
				<h5 class="boxModulo__title p-0">Notificaciones</h5>
			</a>
			<p class="text-right"><a href="#!" class="vertodasnotificacion"><i class="fa fa-eye"></i> Marcar todo como leido</a></p>
		</div>
		<div class="row col12 view_more text-right" style="">
			<a href="#!" onclick="$(this).html('Cargando...'); obtener_mis_notis(); "><i class="fa fa-plus"></i> Cargar más</a>
		</div>
		<div class="misNotificaciones"></div>
		
		<!--<div class="boxNotificaciones pb-2">
			<p>
				<a href="#" class="clr_black p-1">
					<i class="fa fa-money-bill-alt"></i> Control de Pago
				</a>
			</p>
			<small class="timeago text-right p-0">Hace 6 días</small>
		</div>

		<div class="boxNotificaciones pb-2">
			<p>
				<a href="#" class="clr_black p-1">
					<i class="fa fa-user"></i> Nuevo usuario</a>
				</a>
			</p>
			<small class="timeago text-right p-0">Hace 6 días</small>
		</div>-->
	</div>
</div>