<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=pedidos" class="clr_white"><i class="fa fa-user-circle prefix"></i> Pedidos de clientes </a>
		</div>
	</div>
</div>


<div class="row mt-3 mb-3">
	<div class="input-field col s12 m2">
		<p class="m-0">Desde</p>
		<input type="date" id="" name="" class="form-control">
	</div>

	<div class="input-field col s12 m2">
		<p class="m-0">Hasta</p>
		<input type="date" id="" name="" class="form-control">
	</div>

	<div class="input-field col s12 m3">
		<p class="m-0">Clientes</p>
		<div class="select-wrapper">
			<select name="" id="" class="initialized">
				<option value="">Seleccione</option>
				<option></option>
				<option></option>
			</select>
		</div>
	</div>

	<div class="input-field col s12 m3">
		<p class="m-0">Status</p>
		<div class="select-wrapper">
			<select name="" id="" class="initialized">
				<option value="">Seleccione</option>
				<option value="">Seleccione</option>
				<option value="">Enviado (El pedido fue enviado por el cliente, pero no ha sido verificado por el restaurante)</option>
				<option value="">Verificando (El pedido está siendo verificado por el restaurante)</option>
				<option value="">Aceptado (El restaurante verificó el pago y está procesando su pedido)</option>
				<option value="">En tránsito (El restaurante realizo el pedido y está en proceso de entrega)</option>
				<option value="">Entregado (El repartidor entrego el pedido al cliente)</option>
				<option value="">Finalizado (El cliente recibe su paquete y marca cómo finalizado el proceso)</option>
				<option value="">Rechazado (El restaurante rechazó el pedido porque el pago no fue correcto)</option>
			</select>
		</div>
	</div>

	<div class="input-field col s12 m2">
		<br>
		<a href="#" class="btn btn-primary">Buscar <i class="fa fa-search"></i></a>
	</div>
</div>

<table id="data-table-simple" class="table display dt-responsive" cellspacing="0">
	<thead>
		<tr class="bg_gray">
			<th>#</th>
			<th>Fecha</th>
			<th>Cédula</th>
			<th>Cliente</th>
			<th>Estatus</th>
			<th>Opciones</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>#</td>
			<td>fecha</td>
			<td>Cédula</td>
			<td>Cliente</td>
			<td>Estatus</td>
			<td>
				<a href="#md-verPedido" class="btn btn-floating btn-primary modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ver información del pedido"><i class="fa fa-eye"></i></a>
			</td>
		</tr>
	</tbody>
</table>


<div id="md-verPedido" class="modal modalFull">
	<div class="modal-header">
		<span>Ver detalles</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<div class="row">
				<div class="col s12 m6">
					<div class="row m-0">
						<div class="col s12">
							<ul class="collection with-header">
								<li class="collection-header">
									<h6 class="text-bold text-center">Detalles del cliente <b class="bg_gray p-1">ID: #22</b></h6>
								</li>
								<li class="collection-item"><b>Fecha:</b> Fecha</li>
								<li class="collection-item"><b>C.I:</b> 21.160.654 - Nombre y apellido</li>
								<li class="collection-item"><b>Teléfono:</b> Teléfono</li>
							</ul><br>
						</div>

						<div class="col s12">
							<h6 class="text-bold text-center">Detalles del pedido <b class="bg_gray p-1">ID: #22</b></h6>
							<table class="responsive-table">
								<thead>
									<tr class="bg_gray">
										<th>#</th>
										<th>Cantidad</th>
										<th>Descripción</th>
										<th>Precio</th>
										<th>Adicional</th>
										<th>Precio</th>
										<th>Notas</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td>#</td>
										<td>Cantidad</td>
										<td>Descripción</td>
										<td>Precio</td>
										<td>Adicional</td>
										<td>Precio</td>
										<td>Notas</td>
									</tr>
								</tbody>

							</table>

							<table>
								<tr>
									<td class="bg_gray p-2 text-bold">Subtotal</td>
									<td class="bg_gray p-2">20</td>
								</tr>

								<tr>
									<td class="bg_gray p-2 text-bold">Adicionales</td>
									<td class="bg_gray p-2">12</td>
								</tr>

								<tr>
									<td class="bg_gray p-2 text-bold">Total</td>
									<td class="bg_gray p-2">32</td>
								</tr>
							</table>
						</div>

						<div class="col s12">
							<ul class="collection with-header">
								<li class="collection-item bg_gray">Estatus: </li>
								<li class="collection-item">
									<div class="select-wrapper">
										<select name="" id="" class="initialized">
											<option value="">Seleccione</option>
											<option value="">Enviado (El pedido fue enviado por el cliente, pero no ha sido verificado por el restaurante)</option>
											<option value="">Verificando (El pedido está siendo verificado por el restaurante)</option>
											<option value="">Aceptado (El restaurante verificó el pago y está procesando su pedido)</option>
											<option value="">En tránsito (El restaurante realizo el pedido y está en proceso de entrega)</option>
											<option value="">Entregado (El repartidor entrego el pedido al cliente)</option>
											<option value="">Finalizado (El cliente recibe su paquete y marca cómo finalizado el proceso)</option>
											<option value="">Rechazado (El restaurante rechazó el pedido porque el pago no fue correcto)</option>
										</select>
									</div>
								</li>

								<li class="collection-item bg_gray">Nota: </li>
								<li class="collection-item">
									<textarea class="form-control" name="" id="" placeholder="Nota"></textarea>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col s12 m6">
					<div class="row m-0">
						<div class="col s12">
							<ul class="collection with-header">
								<li class="collection-header">
									<h6 class="text-bold text-center">Modalidad del Pedido</h6>
								</li>
								<li class="collection-item"><b>Delivery:</b> - </li>
								<li class="collection-item"><b>Dirección:</b> - </li>
								<li class="collection-item"><b>Punto de referencia:</b> - </li>
							</ul>
						</div>

						<div class="col s12">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15761.529073566548!2d-69.73705351352696!3d9.02884944574273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x665aefc562885366!2sPlade%20Company!5e0!3m2!1ses!2sve!4v1600115310157!5m2!1ses!2sve" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
						</div>

						<div class="col s12">
							<ul class="collection with-header">
								<li class="collection-item text-center"><img src="../../static/img/logo.jpg" class="img_referencia"></li>
								<li class="collection-item"><b>Método de pago: </b> -</li>
								<li class="collection-item"><b>Cuenta: </b> -</li>
								<li class="collection-item"><b>Referencia: </b> -</li>
							</ul>
						</div>
					</div>
				</div>
			</div>


			<div class="row mt-3">
				<div class="form-group text-center">
					<button type="submit" name="btg" class="waves-effect waves-green btn btn-primary bt_save">Procesar</button>
				</div>
			</div>
		</div>
	</div>
</div>
