<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=perfilencargado" class="clr_white"><i class="fa fa-user-circle prefix"></i> Perfil del Encargado &nbsp;&nbsp;<span style="font-size: 20px">#<span id="titulo_id_encargado"></span><span></span> </a>
			<a href="index.html?op=inicio" class="modal-close cerrar-modal" style="float: right; left: 50%;"><i class="fa fa-times"></i></a>
		</div>
	</div>
</div>

<div class="row">
	<div class="card-panel boxModulo p-0">
		<div class="row">
			<form action="" id="form_perfil" method="POST" enctype="multipart/form-data" data-parsley-validate class="col s12 p-0">
				<div class="row bg_gray">
					<!--<img src="../../static/img/logo.jpg"  class="img-perfil">
					<p class="text-center">Indicaciones para subir la foto de perfil correctamente:<br> Formato: JPG - Dimensión: 500x500</p>-->
					<div class="col s12 m4 offset-m4 text-center">
						<div class="flexCenter">
							<img src="../../static/img/user.png" class="hide img-perfil" id="imagen">
						</div>
						
						<div class="text-center">
							<div id="resizer-demo"></div>
						</div>
					</div>

					<div class="col s12 text-center">
						<div class="file-field input-field center">
							<div class="btn-floating btn-blue" style="cursor: pointer;">
								<span><i class="fa fa-upload"></i></span>
								<input type="file" onchange="abrirEditor(this,'0');" accept="image/*" id="imagenn">
							</div>
						</div><br><br>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12 m6">
						<p class="m-0">Nombre y Apellido</p>
						<input placeholder="" id="nombre_apellido" name="nombre_apellido" type="text" class="form-control mb-0">
					</div>
					<div class="input-field col s12 m6">
						<p class="m-0">Cédula</p>
						<input placeholder="" id="cedula" name="cedula" class="form-control mb-0" maxlength="8"></input>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12 m6">
						<p class="m-0">Correo</p>
						<input placeholder="" id="correo" name="correo" type="text" class="form-control mb-0">
					</div>
					<div class="input-field col s12 m6">
						<p class="m-0">Contraseña</p>
						<input placeholder="Sin cambios" id="pass" name="pass" type="text" class="form-control mb-0">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12 m6">
						<p class="m-0">Teléfono</p>
						<input placeholder="" id="telefono" name="telefono" type="text" class="form-control mb-0">
					</div>
					<div class="input-field col s12 m6">
						<p class="m-0">Whatsapp</p>
						<input placeholder="" id="whatsapp" name="whatsapp" type="text" class="form-control mb-0">
					</div>
				</div>

				<div class="row">
					<div class="progress col s12 fileprogress hide" style="">
					    <div class="determinate" style="width: 50%"></div>
					</div>
				</div>
				<br><br>
				<div class="row mt-3">
					<div class="text-center col s12">
						<button type="submit" name="btg" id="bt_guardar_cambios" class="waves-effect waves-green btn btn-primary mb-2 bt_save" >Guardar cambios</button>
						<a href="index.html?op=inicio" class="modal-close waves-effect waves-green btn btn-primary mb-2">Cerrar</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
