<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=repartidores" class="clr_white"><i class="fa fa-car prefix"></i> Repartidores </a>
		</div>
	</div>
</div>

<div class="text-right mb-3">
	<br><a class="waves-effect waves-light btn btn-primary abrirmodal" href="#!" >Nuevo <i class="fa fa-plus"></i></a><br>
</div>

<div class="row">
	<table id="data-table-aprobados" class="table display dt-responsive" cellspacing="0">
		<thead>
			<tr>
				<th colspan="7" class="text-center">REPARTIDORES APROBADOS</th>
			</tr>
			<tr>
				<th>#</th>
				<th>Cédula</th>
				<th>Nombre y apellido</th>
				<th>ID</th>
				<th>Tipo de vehiculo</th>
				<!-- <th>Fotos del vehiculo</th> -->
				<th style="width:145px;">Estatus</th>
				<th style="width:140px;">Opciones</th>
			</tr>
		</thead>

		<tbody>
		</tbody>
	</table>
</div>


<div class="row">
	<table id="data-table-esperando" class="table display dt-responsive" cellspacing="0">
		<thead>
			<tr>
				<th colspan="7" class="text-center">REPARTIDORES EN ESPERA DE APROBACIÓN</th>
			</tr>
			<tr>
				<th>#</th>
				<th>Cédula</th>
				<th>Nombre y apellido</th>
				<th>ID</th>
				<th>Tipo de vehiculo</th>
				<!-- <th>Fotos del vehiculo</th> -->
				<th style="width:145px;">Estatus</th>
				<th style="width:140px;">Opciones</th>
			</tr>
		</thead>

		<tbody>
		</tbody>
	</table>
</div>

<div id="md-nuevoRepartidor" class="modal modalFull">
	<div class="modal-header">
		<span id="tit-mod">Nuevo repartidor</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content p-0">
		<div class="modal-body">
			<form class="col s12" id="form_registrar_repar">
				<input id="id_nuevo_repartidor" name="id_nuevo_repartidor" type="hidden" value="">
				<input id="iden" name="iden" type="hidden" value="">

				<div class="row p-2">
					<div class="col s12 m6 text-center">
						<div class="cont_img">
							<h6 class="m-0 text-center text-bold">Imagen de perfil</h6>
							<div class="flexCenter">
								<img src="../../static/img/user.png" class="hide img-perfil" id="imagen">
							</div>

							<div class="text-center">
								<div id="resizer-demo"></div>
							</div>

							<div class="text-center">
								<!--<img src="../../static/img/user.png" class="all_img_u all_img_p img-perfil">-->
								<div class="file-field input-field center m-0">
									<div class="btn-floating bg_first-color btn-blue" style="cursor: pointer;">
										<span><i class="fa fa-upload"></i></span>
										<input type="file" onchange="abrirEditor(this,'0');" id="file-input" accept="image/*" id="imagenn">
										<!--<input type="file" onchange="subirImg(this,'.all_img_p','700');" id="file-input" accept="image/*" name="img">-->
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col s12 m6 text-center">
						<div class="cont_img">
							<h6 class="m-0 text-center text-bold">Imagen RIF</h6>
							<!--<img src="../../static/img/logo.jpg" class="all_img view-img-rif img-perfil" onerror="this.src='../../static/img/logo.jpg'">-->
							<div class="flexCenter">
								<img src="../../static/img/logo.jpg" class="hide img-perfil all_img" id="imagen4">
							</div>

							<div class="text-center">
								<div id="resizer-demo-4"></div>
							</div>
							<div class="file-field input-field center m-0">
								<div class="btn-floating bg_first-color btn-blue" style="cursor: pointer;">
									<span><i class="fa fa-upload"></i></span>
									<input type="file" onchange="abrirEditor(this,'4');" id="file-input-rif" accept="image/*" id="imagenn4">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12 m4">
						<p class="m-0">Identificación</p>
						<div class="select-wrapper">
							<select name="identificacion" id="identificacion" class="initialized">
								<option value="">Seleccione</option>
								<option value="V">V-</option>
								<option value="E">E-</option>
								<option value="J">J-</option>
								<option value="G">G-</option>
							</select>
						</div>
					</div>

					<div class="input-field col s12 m4">
						<p class="m-0">Número de identificación</p>
						<input placeholder="" id="cedula" name="cedula" type="text" class="form-control mb-0">
					</div>

					<div class="input-field col s12 m4">
						<p class="m-0">Nombre</p>
						<input placeholder="" id="nombre" name="nombre" type="text" class="form-control mb-0">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12 m4">
						<p class="m-0">Apellido</p>
						<input placeholder="" id="apellido" name="apellido" type="text" class="form-control mb-0">
					</div>

					<div class="input-field col s12 m4">
						<p class="m-0">Correo</p>
						<input id="correo" name="correo" type="email" class="form-control mb-0">
					</div>

					<div class="input-field col s12 m4">
						<p class="m-0">Tipo de vehiculo</p>
						<select name="tipo_veh" id="tipo_veh" class="input-field m-0">
							<option value="">Seleccione</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12 m4">
						<p class="m-0">Teléfono</p>
						<input placeholder="" id="telefono" name="telefono" type="text" class="form-control mb-0">
					</div>

					<div class="input-field col s12 m4">
						<p class="m-0">Whatsapp</p>
						<input placeholder="" id="whatsapp" name="whatsapp" type="text" class="form-control mb-0">
					</div>

					<div class="col s12 m4">
						<div class="row">
							<div class="col s12">
								<p class="mt-3">Sexo</p>
							</div>

							<div class="col s6 m6 l6">
								<p class="m-0">
									<input class="with-gap" name="sexo" type="radio" id="Hombre" value="M">
									<label for="Hombre">Hombre</label>
								</p>
							</div>

							<div class="col s6 m6 l6">
								<p class="m-0">
									<input class="with-gap" name="sexo" type="radio" id="Mujer" value="F">
									<label for="Mujer">Mujer</label>
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col s12 m6 p-0">
						<div class="row">
							<div class="input-field col s12">
								<p class="m-0">Usuario</p>
								<input placeholder="" id="usuario" name="usuario" type="text" class="form-control mb-0">
							</div>

							<div class="input-field col s12">
								<p class="m-0">Contraseña</p>
								<input placeholder="" id="pass" name="pass" type="password" class="form-control mb-0">
							</div>
						</div>
					</div>

					<div class="col s12 m6 p-0">
						<div class="row">
							<div class="input-field col s12">
								<p class="m-0">Domicilio</p>
								<textarea class="form-control" id="domicilio" name="domicilio"></textarea>
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-2 p-2">
					<div class="col s12">
						<p class="m-0 text-bold text-center">Fotos del vehículo</p>

						<div class="row">
							<div class="col s12 m4 text-center mb-2">
								<div class="cont_img">
									<div class="flexCenter">
										<img src="../../static/img/logo.jpg" class="hide img-perfil all_img" id="imagen1">
									</div>

									<div class="text-center">
										<div id="resizer-demo-1"></div>
									</div>

									<div class="file-field input-field center">
										<div class="btn-floating bg_first-color btn-blue" style="cursor: pointer;">
											<span><i class="fa fa-upload"></i></span>
											<input type="file" onchange="abrirEditor(this,'1');" id="file-input1" accept="image/*"  id="imagenn1">
										</div>
									</div>
								</div>
							</div>

							<div class="col s12 m4 text-center mb-2">
								<div class="cont_img">
									<div class="flexCenter">
										<img src="../../static/img/logo.jpg" class="hide img-perfil all_img" id="imagen2">
									</div>

									<div class="text-center">
										<div id="resizer-demo-2"></div>
									</div>

									<div class="file-field input-field center">
										<div class="btn-floating bg_first-color btn-blue" style="cursor: pointer;">
											<span><i class="fa fa-upload"></i></span>
											<input type="file" onchange="abrirEditor(this,'2');" id="file-input2" accept="image/*" id="imagenn2">
										</div>
									</div>
								</div>
							</div>

							<div class="col s12 m4 text-center mb-2">
								<div class="cont_img">
									<!--<img src="../../static/img/logo.jpg"  class="all_img view_img3 img-perfil">-->
									<div class="flexCenter">
										<img src="../../static/img/logo.jpg" class="hide img-perfil all_img" id="imagen3">
									</div>

									<div class="text-center">
										<div id="resizer-demo-3"></div>
									</div>

									<div class="file-field input-field center">
										<div class="btn-floating bg_first-color btn-blue" style="cursor: pointer;">
											<span><i class="fa fa-upload"></i></span>
											<input type="file" onchange="abrirEditor(this,'3');" id="file-input3" accept="image/*" id="imagenn3">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="progress col s12 fileprogress hide" style="">
					    <div class="determinate" style="width: 50%"></div>
					</div>
				</div>
				<div class="row mt-3 mb-3">
					<div class="col s12 text-center">
						<button type="submit" name="btg" class="waves-effect waves-green btn btn-primary bt_save">Guardar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


<div id="md-verRepartidor" class="modal">
	<div class="modal-header">
		<span>Ver detalles</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<ul class="collection with-header">
				<li class="collection-header">
					<h6 class="text-bold text-center">Detalles del repartidor</h6>
				</li>
				<li class="collection-item text-center">
					<img src="../../static/img/user.png" onerror="this.src='../../static/img/logo.jpg'" class="all_img_view_u img-view img-perfil" width="100px;">
				</li>
				<li class="collection-item"><b>ID:</b> <span class="id-view"></span></li>
				<li class="collection-item"><b>Cédula:</b> <span class="ced-view"></span></li>
				<li class="collection-item"><b>Nombre:</b> <span class="nom-view"></span></li>
				<li class="collection-item"><b>Apellido:</b> <span class="ape-view"></span></li>
				<li class="collection-item"><b>Tipo de vehículo:</b> <span class="veh-view"></span></li>
				<li class="collection-item"><b>Sexo:</b> <span class="sex-view"></span></li>
				<li class="collection-item"><b>Teléfono:</b> <span class="tel-view"></span></li>
				<li class="collection-item"><b>Correo:</b> <span class="cor-view"></span></li>
				<li class="collection-item"><b>Domicilio:</b> <span class="dom-view"></span></li>
				<li class="collection-item"><b>Usuario:</b> <span class="usu-view"></span></li>
				<li class="collection-item"><b>Whatsapp:</b> <span class="wha-view"></span></li>
				<li class="collection-item text-center" id="rif-li-view"><b>Imagen RIF: </b><br>
					<img src="../../static/img/logo.jpg" width="100px;" class="rif-img-view" onerror="this.src='../../static/img/logo.jpg'">
				</li>
				<li class="collection-item text-center"><b>Fotos del vehículo:</b><br>
					<img src="../../static/img/logo.jpg" onerror="this.src='../../static/img/logo.jpg'" class="all_img_view img1-view" width="100px;">
					<img src="../../static/img/logo.jpg" onerror="this.src='../../static/img/logo.jpg'" class="all_img_view img2-view" width="100px;">
					<img src="../../static/img/logo.jpg" onerror="this.src='../../static/img/logo.jpg'" class="all_img_view img3-view" width="100px;">
				</li>
			</ul>
		</div>
	</div>

	<div class="modal-footer text-center">
		<a href="#!" class="modal-close waves-effect waves-green btn btn-primary">Cerrar</a>
	</div>
</div>


<div id="md-solRepartidor" class="modal modalFull">
	<div class="modal-header">
		<span>Solicitudes atendidas</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<div class="row mt-3 mb-3">
				<div class="input-field col s12 m2 offset-m2">
					<p class="m-0">Desde</p>
					<input type="date" id="" name="" class="form-control">
				</div>

				<div class="input-field col s12 m2">
					<p class="m-0">Hasta</p>
					<input type="date" id="" name="" class="form-control">
				</div>

				<div class="input-field col s12 m3">
					<p class="m-0">Restaurantes</p>
					<div class="select-wrapper">
						<select name="" id="" class="initialized">
							<option value="">Seleccione</option>
							<option></option>
							<option></option>
						</select>
					</div>
				</div>

				<div class="input-field col s12 m2">
					<br>
					<a href="#" class="btn btn-primary">Buscar <i class="fa fa-search"></i></a>
				</div>
			</div>

			<table class="table display dt-responsive" cellspacing="0" style="width: 100%;">
				<thead>
					<tr>
						<th>#</th>
						<th>Cédula</th>
						<th>Nombre y apellido</th>
						<th>Tipo de vehículo</th>
						<th>Foto de vehículo</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>#</td>
						<td>Cédula</td>
						<td>Nombre y apellido</td>
						<td>Tipo de vehículo</td>
						<td>
							<img src="../../static/img/logo.jpg" width="50px">
							<img src="../../static/img/logo.jpg" width="50px">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


<div id="md-aprRepartidor" class="modal">
	<div class="modal-header">
		<span>Aprobar / Rechazar solicitud</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<ul class="collection with-header">
				<li class="collection-header">
					<h6 class="text-bold text-center">Detalles del repartidor</h6>
				</li>
				<input type="hidden" name="iden" class="iden">
				<li class="collection-item"><b>Cédula:</b> <span class="ced-view"></span></li>
				<li class="collection-item"><b>Nombre:</b> <span class="nom-view"></span></li>
				<li class="collection-item"><b>Apellido:</b> <span class="ape-view"></span></li>
				<li class="collection-item"><b>Tipo de vehículo:</b> <span class="veh-view"></span></li>
				<li class="collection-item"><b>Sexo:</b> <span class="sex-view"></span></li>
				<li class="collection-item"><b>Teléfono:</b> <span class="tel-view"></span></li>
				<li class="collection-item"><b>Correo:</b> <span class="cor-view"></span></li>
				<li class="collection-item"><b>Domicilio:</b> <span class="dom-view"></span></li>
				<li class="collection-item"><b>Usuario:</b> <span class="usu-view"></span></li>
				<li class="collection-item"><b>Whatsapp:</b> <span class="wha-view"></span></li>
				<li class="collection-item text-center" id="rif-li-view"><b>Imagen RIF: </b><br>
					<img src="../../static/img/logo.jpg" width="100px;" class="rif-img-view" onerror="this.src='../../static/img/logo.jpg'">
				</li>
				<li class="collection-item text-center"><b>Fotos del vehículo:</b><br>
					<img src="../../static/img/logo.jpg" onerror="this.src='../../static/img/logo.jpg'" class="all_img_view img1-view" width="100px;">
					<img src="../../static/img/logo.jpg" onerror="this.src='../../static/img/logo.jpg'" class="all_img_view img2-view" width="100px;">
					<img src="../../static/img/logo.jpg" onerror="this.src='../../static/img/logo.jpg'" class="all_img_view img3-view" width="100px;">
				</li>
			</ul>

			<p class="mb-0 text-bold">Observaciones</p>
			<textarea class="materialize-textarea form-control" id=""></textarea>
		</div>
	</div>

	<div class="modal-footer text-center">
		<a href="#!" value="1" class="btn-aprobar-rechazar modal-close waves-effect waves-green btn btn-primary">Aprobar</a>
		<a href="#!" value="0" class="btn-aprobar-rechazar modal-close waves-effect waves-green btn btn-primary">Rechazar</a>
	</div>
</div>