<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=repartidores" class="clr_white"><i class="fa fa-inbox prefix"></i> Solicitudes </a>
		</div>
	</div>
</div>

<div class="row mt-3 mb-3">
	<div class="input-field col s12 m4">
		<p class="m-0">Usuario</p>
		<div class="select-wrapper">
			<select name="" id="" class="initialized">
				<option value="">Seleccione</option>
				<option></option>
				<option></option>
			</select>
		</div>
	</div>

	<div class="input-field col s12 m3">
		<p class="m-0">Desde</p>
		<input type="date" id="" name="" class="form-control m-0">
	</div>

	<div class="input-field col s12 m3">
		<p class="m-0">Hasta</p>
		<input type="date" id="" name="" class="form-control m-0">
	</div>

	<div class="input-field col s12 m2 text-center">
		<br>
		<a href="#" class="btn btn-primary">Buscar <i class="fa fa-search"></i></a>
	</div>
</div>

<table id="data-table-simple" class="table display dt-responsive mt-4" cellspacing="0">
	<thead>
		<tr>
			<th>#</th>
			<th>Usuario</th>
			<th>Fecha de envío</th>
			<th>Restaurante</th>
			<th>Repartidor</th>
			<th>Estatus</th>
			<th>Opciones</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>#</td>
			<td>Usuario</td>
			<td>Fecha de envío</td>
			<td><img src="../../static/img/logo.jpg" width="40px;"> Restaurante</td>
			<td>Repartidor</td>
			<td>Estatus</td>
			<td>
				<a href="#md-verSolicitud" class="btn btn-primary btn-floating modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ver información de la solicitud"><i class="fa fa-eye"></i></a>
			</td>
		</tr>
	</tbody>
</table>

<div id="md-verSolicitud" class="modal">
	<div class="modal-header">
		<span>Ver detalles</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<ul class="collection with-header">
				<li class="collection-header">
					<h6 class="text-bold text-center">Detalles de la Solicitud</h6>
				</li>
				<li class="collection-item"><b>Usuario:</b> Usuario</li>
				<li class="collection-item"><b>Fecha de envío:</b> Fecha de envío</li>
				<li class="collection-item"><b>Restaurant:</b> Restaurant</li>
				<li class="collection-item"><b>Repartidor:</b> Repartidor</li>
				<li class="collection-item"><b>Estatus:</b> Estatus</li>
			</ul>
		</div>
	</div>

	<div class="modal-footer text-center">
		<a href="#!" class="modal-close waves-effect waves-green btn btn-primary">Guardar</a>
	</div>
</div>
