<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=tipodevehiculos" class="clr_white"><i class="fa fa-car prefix"></i> Tipos de vehículos </a>
		</div>
	</div>
</div>

<div class="text-right mb-3">
	<br><a class="waves-effect waves-light modal-trigger btn btn-primary" href="#md-nuevoVehiculo" onclick='$("#form_registrar_tipoauto")[0].reset();$("#iden").val("");$(".bt_save").html("Guardar");$("#tit-mod").html("Nuevo tipo de vehículo");'>Nuevo <i class="fa fa-plus"></i></a><br>
</div>

<table id="data-table-simple" class="table display dt-responsive" cellspacing="0">
	<thead>
		<tr>
			<th>#</th>
			<th>Icono</th>
			<th>Tipo de vehículo</th>
			<th>Opciones</th>
		</tr>
	</thead>

	<tbody>
	</tbody>
</table>

<div id="md-nuevoVehiculo" class="modal">
	<div class="modal-header">
		<span id="tit-mod">Nuevo tipo de vehículo</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<form action="" method="" id="form_registrar_tipoauto">
				<input id="iden" name="iden" type="hidden" value="">
				<div class="row">
					<div class="col s12 text-center">
						<img src="../../static/img/car.png" class="img-tipovehiculo">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12 m6">
						<p class="m-0">Tipo de vehículo</p>
						<input type="text" id="nombre_veh" name="nombre_veh" class="form-control mb-0">
					</div>

					<div class="input-field col s12 m6">
						<p class="m-0">Selecciona tipo de vehículo</p>
						<select id="icono_veh" name="icono_veh" class="select2 input-field m-0">
							 <option value="bicycle.png" data-icon="../../static/img/transporte/bicycle.png">Bicicleta</option>
							 <option value="car.png" data-icon="../../static/img/transporte/car.png">Carro</option>
							 <option value="crane-truck.png" data-icon="../../static/img/transporte/crane-truck.png">Camión Grua</option>
							 <option value="pickup-truck.png" data-icon="../../static/img/transporte/pickup-truck.png">Pickup</option>
							 <option value="scooter.png" data-icon="../../static/img/transporte/scooter.png">Scooter</option>
							 <option value="truck.png" data-icon="../../static/img/transporte/truck.png">Camión</option>
							 <option value="monopatin.png" data-icon="../../static/img/transporte/monopatin.png">Monopatin</option>
							 <option value="motodelivery.png" data-icon="../../static/img/transporte/motodelivery.png">Moto Delivery</option>
							 <option value="motorbike.png" data-icon="../../static/img/transporte/motorbike.png">Moto Bike</option>
						</select>
					</div>
				</div>
			
					<!--<div class="col s12 m12 text-center">
						<div class="file-field input-field center">
							<p class="m-0 text-center">Subir icono del vehículo</p>
							<img src="../../static/img/car.png"  class="img-perfil circle img-custom cover"><br>
							<div class="btn-floating bg_first-color btn-blue" style="cursor: pointer;">
								<span><i class="fa fa-upload"></i></span>
								<input type="file" onchange="subirImg(this);" id="file-input" accept="image/*" name="imagen">
							</div>
						</div>
					</div>-->
				</div>
				<div class="row">
					<div class="progress col s12 fileprogress hide" style="">
					    <div class="determinate" style="width: 50%"></div>
					</div>
				</div>
				
				<div class="row mt-3 mb-3">
					<div class="form-group text-center">
						<button type="submit" name="btg" class="waves-effect waves-green btn btn-primary bt_save">Guardar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="md-verVehiculo" class="modal">
	<div class="modal-header">
		<span>Ver detalles</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<ul class="collection with-header">
				<li class="collection-header">
					<h6 class="text-bold text-center">Detalles del vehículo</h6>
				</li>
				<li class="collection-item"><b>Nombre:</b> <span class="nom-view"></span></li>
				<li class="collection-item"><b>Icono:</b><br> <img src="../../static/img/car.png"  class="img-icono" width="80"></li>
			</ul>
		</div>
	</div>
	<div class="modal-footer text-center">
		<a href="#!" class="modal-close waves-effect waves-green btn btn-primary">Cerrar</a>
	</div>
</div>
