@import 'materialize.css';
@import 'padding-margin.css';
@import 'select.css';
@import 'responsive.css';
@import '../lib/font-awesome/css/fontawesome-all.css';
@import '../lib/JTable/css/jquery.dataTables.min.css';
@import '../lib/JTable/css/dataTables.bootstrap.css';
@import '../lib/JTable/css/responsive.dataTables.min.css';
@import '../js/select2/select2.css';
@import '../js/select2/sel2.css';


:root {
	--first-color        : #182C61;
	--second-color       : #980c53;
	--dark-color         : #333333;
	--dark-color-dark    : #000000;
	--white-color        : #FFFFFF;
	--gray-color         : #EEEEEE;
}


@font-face{
	font-family: 'Roboto-Regular';
	src: url("../font/roboto/Roboto-Regular.ttf");
}

@font-face{
	font-family: 'Raleway-Medium';
	src: url("../font/Raleway-Medium.ttf");
}

body, h1, h2, h3, h4, h5, h6, nav, p{
	font-family: 'Raleway-Medium' !important;
}

a{
	color: #182C61;
}

body {
	overflow-x: hidden !important;
	font-family: 'Raleway-Medium', sans-serif !important;
}


/* ----------------------- FLEXBOX -------------------------*/
.flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.flexbox.column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

/* Position flexbox ( X ) */
.flexbox.xCenter /* Center */ {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.flexbox.xLeft /* Left */ {
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.flexbox.xRight /* Right */ {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.flexbox.xSpace-Between /* Space-Between */ {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.flexbox.xSpace-Around /* Space-Around */ {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-around;
	-ms-flex-pack: justify;
	justify-content: space-around;
}

/* Position flexbox ( Y ) */
.flexbox.yCenter /* center */ {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.flexbox.yTop /* Top */ {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.flexbox.yBottom /* Bottom */ {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}


/* ----------------------- TEXTO -------------------------*/
.text-bold {font-weight: bold}
.text-center {text-align: center}
.text-left {text-align: left}
.text-right {text-align: right}
.text-justify {text-align: justify}
.text-uppercase {text-transform: uppercase}
.text-capitalize {text-transform: capitalize}
.text-lowercase {text-transform: lowercase}
.text-normal {text-transform: initial}
.text-nodecoracion{text-decoration: none;}


/* ----------------------- WIDTH - HEIGHT -------------------------*/
.w100 {width: 100%}
.h100 {height: 100%}
.vw100 {width: 100vw}
.vh100 {height: 100vh}

/* ----------------------- IMAGENES -------------------------*/
.img-custom.cover {object-fit: cover; -o-object-fit: cover}
.img-custom.contain {object-fit: contain; -o-object-fit: contain}
.img-custom.TopCenter {object-position: top center; -o-object-position: top center}
.img-custom.CenterCenter {object-position: center center; -o-object-position: center center}
.img-custom.img-w100 {width: 100%}
.img-custom.img-h100 {height: 100%}
.img-table{ width: 50px; height: 50px; border: 2px solid #ddd; border-radius: 50%; object-fit: contain; object-position: center center;}
.img-logo{width: 70%;height: auto;object-fit: contain;object-position: center center;}
.img-perfil{border: 2px solid #ddd;border-radius: 50%;object-fit: cover;object-position: center;}
.img-tipovehiculo, .img-ver{border: 1px solid #ddd !important;border-radius: .5rem;padding: .5rem;}
.img_referencia{width: 60%;height: auto;object-fit: contain;object-position: center center;}


/* ----------------------- BACKGROUNDS -------------------------*/
.bg_first-color, .bg_primary{background: var(--first-color) !important;}
.bg_white-color				{background: var(--white-color) !important;}
.bg_gray					{background: var(--gray-color) !important;}


/* ----------------------- COLORS -------------------------*/
.clr_first-color, .clr_primary	{color: var(--first-color);}
.clr_second-color				{color: var(--second-color);}
.clr_white-color, .clr_white	{color: var(--white-color);}
.clr_black-color				{color: var(--dark-color-dark);}


/* -----------------------FORMULARIOS -------------------------*/
.form-control{
	background: #fff !important;
	border: 1px solid #ddd !important;
	border-radius: .5rem !important;
	height: 30px !important;
}

[type="checkbox"]:checked+label:before{
    border-right: 2px solid #182C61;
    border-bottom: 2px solid #182C61;
}

input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none !important; margin: 0 !important}

input[type=date],
input[type=number] {-moz-appearance: textfield !important}


input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid #ddd !important;
	-webkit-box-shadow: 0 1px 0 0 #0078c2;
	box-shadow: 0 1px 0 0 #0078c2;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after{
	background: var(--second-color);
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after{
	border-color: var(--second-color);
}

input[type=text]:not(.browser-default):focus:not([readonly])+label,
.input-field label.active{
	color: var(--first-color) !important;
}

select, .select{
	border:none;
	background: transparent !important;
	padding-left: 1rem !important;
	border-bottom: 1px solid #9e9e9e;
}

textarea.form-control{
	background: #fff !important;
	border: 1px solid #ddd !important;
	border-radius: .5rem !important;
	min-height: 100px !important;
}

select{
	background: #fff !important;
	border: 1px solid #ddd !important;
	border-radius: .5rem !important;
	height: 30px !important;
}

.btn-drop{padding: .5em;
}

.drop-top li > a{
	font-size: 1rem;
	color: #0014f4;
	display: block;
	padding: .5rem 1rem;
	width: auto;
}

/* -----------------------BOTONES -------------------------*/
[class*="btn"]{
	border-radius: .5rem;
	font-size: 12px;
    height: 30px;
    line-height: 30px;
}

.btn-floating{
    height: 30px;
    line-height: 30px !important;
    width: 30px !important;
    padding: 0px !important;
}
.btn-floating i, .btn i{
	font-size: 1rem !important;
    line-height: 30px;
}

.btn{
	height: 30px;
	line-height: 30px;
}

.btn-primary{
	background: #182C61 !important;
	border-color: #182C61 !important;
	border-radius: 1rem;
	font-size: 12px;
}

.btn-floating i{
	line-height: 0px;
}


/* -----------------------INICIO -------------------------*/
.boxInicio__content{
    border-bottom: 6px solid var(--second-color);
}

/* -----------------------MENU -------------------------*/
.boxMenuLeft, .side-nav{
	background: -webkit-linear-gradient(#182C61, #980c53);
	background: -o-linear-gradient(#182C61, #980c53);
	background: -moz-linear-gradient(#182C61, #980c53);
	background: linear-gradient(#182C61, #980c53);
}
.boxMenuLeft a, .boxMenuLeft.fixed a, .collapsible b, .side-nav li a{
	border-radius: .5em;
	font-size: 14px !important;
	padding: 0 20px !important;
	color: #fff !important;
}

.boxMenuLeft .collapsible-body, .boxMenuLeft.fixed .collapsible-body{
	background: var(--first-color);
}

.boxMenuLeft a {
	height: 50px;
	line-height: 50px;
	font-size: 16px !important;
}

.boxMenuLeft li:hover, .boxMenuLeft li.active, .boxMenuLeft ul a:hover{
	background: var(--gray-color) !important;
}

.boxMenuLeft li:hover a, .boxMenuLeft li.active a {
	color: #182C61 !important;
}

.boxMenuLeft .boxMenuLeft__logo{
	border-bottom: 4px solid #182C61;
}

.icon-dropdown {
	color: var(--second-color);
	margin-left: .5rem !important;
}

.drop-top.dropdown-content.drop-down-navigation {
	width: 220px !important;
	top: 100% !important;
	left: auto !important;
	right: 0 !important;
	overflow: hidden;
}

nav ul a:hover{
	background-color: rgba(255 255 255, .1);
}


/* ----------------------- FOOTER -------------------------*/
.cont-footer{
	background: #172a5c;
	padding: 1rem !important;
	color: #fff !important;
}

/* ----------------------- CONT - LOGIN -------------------------*/
.cont-body{
	height: 90vh;
}

.cont-login{
	background: #fff;
	border: 1px solid #ddd;
	border-radius: .5rem;
}

.cont_bg{
	background: linear-gradient(#980c53, #182C61);

	background: #182C61;
	background: -webkit-linear-gradient(-120deg, #980c53, #182C61);
	background: -o-linear-gradient(-120deg, #980c53, #182C61);
	background: -moz-linear-gradient(-120deg, #980c53, #182C61);
	background: linear-gradient(-120deg, #980c53, #182C61);

	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


/* ----------------------- CONT - BARRA -------------------------*/
.boxBarra{
	background: var(--first-color);
	border-bottom: 3px solid var(--second-color);
	border-radius: .3em;
	padding: .5em;
	text-align: center;
}

.boxBarra .boxBarra__content{
	background: rgba(0,0,0,.05);
	border-radius: .5rem;
	color: var(--second-color);
	font-weight: bold;
	padding: .5rem;
	width: 100%;
}

/* ----------------------- MODALES -------------------------*/
.IconCerrarModal {
	position: absolute;
	top: .5rem;
	right: .5rem;
	font-size: 2rem;
	font-weight: bold;
	color: var(--first-color);
}

.modal-header{
	background: #172a5c;
	padding: 1rem;
	color: #fff !important;
}

.modal-header .cerrar-modal{
	background: #172a5c !important;
	border-radius: 50%;
	color: #fff;
	padding: .1rem .5rem;
	font-size: 16px;
	position: absolute;
	right: 20px;
}
.modalFull{
	width: 100% !important;
	height: 100% !important;
	max-height: 100% !important;
	top: 0px !important;
	overflow-y: auto !important;
	z-index: 9999 !important;
}


/* -----------------------GENERAL -------------------------*/
::-webkit-scrollbar {
    width: .5em;
}
 
::-webkit-scrollbar-track {
}
 
::-webkit-scrollbar-thumb {
  background-color: #333;
  outline: 1px solid slategrey;
}

.caja-new{
	background: #0d1741;
	padding: 3px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-size: 12px;
}

.pagination li.disabled a{
	font-size: 12px;
}

.cont_img{
	border: 2px solid #eaeaea;
	border-radius: .5rem;
	background: #eee;
	padding: 1rem;
}

.select2{
    border: 1px solid #ddd;
    border-radius: .5rem;
    left: 0px !important;
    height: 30px !important;
    line-height: 30px !important;
}

.select2-container-multi .select2-choices{
    border: 1px solid #ddd !important;
    border-radius: .5rem;
}

.select2-container{
	left: 0px !important;
}

.switch label input[type=checkbox]:checked+.lever,
.switch label input[type=checkbox]:checked+.lever:after{
	background: #182c61;
}