/*--background--*/
.bg_blue{
	background-color:#273c75 !important;
}

.c_white{
	color: white;
}

.text-end{
	text-align: end;
}

.clr_white{
	color: #fff;
}

.clr_blue{
	color: #273c75;
}

.img-perfil{
	border: 1px solid #ddd;
	border-radius: .4rem;
	height: auto;
	object-fit: cover;
	object-position: center;
	width: 50%;
}

/*-- home--*/
.cont_home{
	background-image: linear-gradient(#273c75, #182C61);
	height: 100vh;
	overflow: scroll;
}

.input-search{
	background: #fff !important;
	border: 1px solid #ddd;
	border-radius: .5rem;
    padding-bottom: 0rem;
    height: 40px;
}

.img-search{
	background: #fff !important;
	border: 1px solid #fff;
	border-radius: .2rem;
	object-fit: cover;
	object-position: center;
	width: 90%;
	height: 80px;
	padding: 1rem !important;
}

.q-layout__section--marginal{
	background: #273c75 !important;
	width: 100%;
}

.btn-footer .q-btn__content {
	background: #48dbfb;
	color: #fff;
	border-radius: 50%;
}

.circle{
	border-radius: 50%;
}

.cl_standar{
	background-color: #387dff;
	color: white;
}

.bg-snarpy{
	background-image: url(../statics/images/2.png);
	background-size: cover;
	background-position-y:-20px ;
}

.bg-coco{
	background-image: url(../statics/images/3.jpg);
	background-size: cover;
    
}

.bg-tecno{
	background-image: url(../statics/images/4.png);
	background-size: cover;
    background-position-y:-35px ;
}

.bg-donas{
	background-image: url(../statics/images/1.jpg);
	background-size: cover;

}

.bg-doomi{
	background-image: url(../statics/images/logo.png);
	background-size: cover;
	background-color: white;

}

.bordes{
	border: gray 1px solid;
}

.degradado{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000438+25,000438+25,000946+49 */
background: rgb(0,4,56); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,4,56,1) 25%, rgba(0,4,56,1) 25%, rgba(0,9,70,1) 49%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,4,56,1) 25%,rgba(0,4,56,1) 25%,rgba(0,9,70,1) 49%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,4,56,1) 25%,rgba(0,4,56,1) 25%,rgba(0,9,70,1) 49%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000438', endColorstr='#000946',GradientType=0 ); /* IE6-9 */
}

.ml-xs{
	margin-left: 10%;
}

.ml-sm{
	margin-left: 25%;
}

.ml-md{
	margin-left: 50%;
}

.ml-xl{
	margin-left: 80%;
}

.alt-xs{
	height: 10%;
}

.alt-sm{
	height: 25%;
}

.alt-md{
	height: 50%;
}

.alt-xl{
	height: 80%;
}

.alt-full{
	height: 100%;
}

.img-xs{
	width: 100px;
	height: 100px;
}

.img-xxs{
	width: 70px;
	height: 70px;
}

.img-sm{
	width: 150px;
	height: 150px;
}

.no-disponible{
	opacity: 0.5;
}

.rounded{
	border-radius: 5rem;
}

.rounded-1{
	border-radius: 1rem;
}

.w-20{
	width: 20%;
}

.w-50{
	width: 50%;
}

.w-70{
	width: 70%;
}

.w-90{
	width: 90%;
}

.w-100{
	width: 100%;
}

.fixed-top{
	position: fixed;
	top: 0;
}

.content-between{
	justify-content: space-between;
}

.content-around{
	justify-content: space-around;
}

.item-center{
	align-items: center;

}

.position{
	position: absolute;
	right: 0;
	margin-top: 0%;
}

.position-map{
	position: fixed;
	right: 0;
	margin-right: 5%;
	margin-top: 10%;
	z-index: 2;
}

.elipses{
	height: 67px;
	width:100%;
	overflow: hidden;
	 text-overflow: ellipsis;
	font-size: 12px;
}

.tags-home{
	text-transform: uppercase;
}

.btn-map-home {
    width: 70%;
    padding: 5px;
    background: #1976D2;
    margin-left: 15%;
    display: block;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.positon-fav{
	position:absolute;
	right: 0;
	z-index:1;
}

.all-cate .full-height {
    width: 100% !important;
}

.btn-modal a{
	margin: 0px !important;
}

/*--- menu doomialiados---*/
.portada_doomialiado{
	width:80%;max-height:200px;z-index: -1;
}

.logo_doomialiado{
	width:20%; margin-top: -2rem; border:1px solid #ddd; border-radius: 50%;background: #fff;padding:1rem;
}

.cont_doomialidado{
	background: #eee; border-radius: .5rem; border:1px solid #ddd; margin-top: -3rem;z-index:2;
}

.cont_categorias{
	height: 55px; width:100%; background-color: #CCC;
}

.cont_menu{
	height: 300px;overflow: scroll;
}

.cont_menu--scroll{
	height: 50vh; max-width: 100%;
}

.cont_menu--nombre{
	line-height: 1.5rem;
}

.cont_menu--precio{
	font-size: 14px;
}

.cont_menu--nohay{
	width: 100%; font-size: 15px; margin-top: 50px;
}

.cont_horario--dia{
	border-bottom: 1px solid #ddd;background: #eee;
}

.cont_horario--hora{
	border-bottom: 1px solid #ddd;
}
/*---fin menu doomialiados---*/

.text-b{
	color:#888;font-size:10px;
}

.text-titulo{
	font-size: 18px;
}

.mayusculas{
	text-transform:uppercase;
}

.text-categoria{
	font-size: 15px;
}

.text-subcategoria{
	font-size: 10px;
}

.etiquetas{
	text-align: center;
	font-size: 15px;
	font-weight: 900px;
	margin: 0;
	color: rgb(255, 236, 236);
	background-color: rgb(26, 26, 68);
}