<template>

	<div class="row no-wrap q-pa-sm flex " style="width: 600px;height:1px ">

		<q-chip clickable @click="clickTag(chip_abierto)" color="primary" text-color="white">
			ABIERTO
		</q-chip>

		<q-chip clickable @click="clickTag(chip_cerrado)" color="primary" text-color="white">
			CERRADO
		</q-chip>

		<q-chip
			clickable
			color="primary"
			text-color="white"
			class="tags-home"
			v-for="tag in tags"
			:key="tag.id"
			@click="clickTag(tag)"
			>
				{{ tag.nombre }}
		</q-chip>

		<q-chip clickable @click="clickTag(chip_todos)" color="primary" text-color="white">
			TODOS
		</q-chip>

	</div>

</template>


<script>

export default {
	name: 'FilterTags',

	props: {
		tags: { type: Array },
	},


	data(){
		return {
			chip_todos: {id:-1, nombre:'TODOS'},
			chip_abierto: {id:-2, nombre:'ABIERTO'},
			chip_cerrado: {id:-3, nombre:'CERRADO'},
		};
	},


	methods: {
		clickTag(tag){
			if(tag.id=='-1')
				this.$router.push({ path:'/Vertodos' });
			else
				this.$router.push({ path:'/Home/'+tag.id });
		},
	},

};

</script>