<template>
	<div>
				<div
					ref="mapa"
					map-type-id="terrain"
					class="col-12"
					style="height: 100vh"
					>
				</div>

				<template>
					<slot :google="googlee" v-bind:lat="lat" v-bind:lon="lon"/></slot>
				</template>

	</div>
</template>


<script>

import { EventBus } from '../router/index';

export default {
	name: 'GoogleMap',
	props: {
		mapConfig: {
			type: Object,
			default(){
					return {
						center: { lat: 10.336902, lon: -68.745944 },
						zoom: 8,
					}
			},
		},
	},

	data(){
		return {
			// markers: [],
			map: null,
			options: {
				mapTypeControl: false,
				streetViewControl: false,
				fullscreenControl: false,
				zoomControl: true,
				scaleControl: true,
				zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                backgroundColor: "#fff"
			},
			lat: null,
			lon: null,
			googlee: google,
			listado: []
		}
	},
	async mounted(){
		var cordenadas = await this.$api.general.geo();


		await this.$api.general.recuperarDataConData('restaurantes/app', {lat:cordenadas.lat, lon: cordenadas.lon})
	        .then(r => {
	        	this.listado = r;
	          	//console.log(this.listado);
	        })
	        .catch(err => {
	          console.log(err);
	        });
	    if(cordenadas.lat){
	    	this.mapConfig.center.lat = cordenadas.lat;
			this.mapConfig.center.lon = cordenadas.lon;
		}
		

		this.options.center = new google.maps.LatLng(this.mapConfig.center.lat, this.mapConfig.center.lon);
		var map = new google.maps.Map(
            this.$refs.mapa,
            this.options
        );
		const self = this;
		const centroMarker = new google.maps.LatLng(this.mapConfig.center.lat, this.mapConfig.center.lon);
		var infowindow = new google.maps.InfoWindow();
		var image_user = {
			url: "statics/images/map-aqui-estoy.png",
			size: new google.maps.Size(81, 81),
			origin: new google.maps.Point(0, 0),
			anchor: new google.maps.Point(17, 34),
			scaledSize: new google.maps.Size(30, 30)
		};
		var marker = new google.maps.Marker({position: centroMarker,icon: image_user});
		marker.setMap(map);
		var i;
		var marca = this.listado;
		for (i = 0; i < this.listado.length; i++) {
			if(this.listado[i].laborando)
				var image_ico = "statics/images/map-verde.png";
			else
				var image_ico = "statics/images/map-gris.png";
			var image = {
			  url: image_ico,
			  size: new google.maps.Size(81, 81),
			  origin: new google.maps.Point(0, 0),
			  anchor: new google.maps.Point(17, 34),
			  scaledSize: new google.maps.Size(30, 30)
			};
			var marker_n = new google.maps.Marker({
			 	position: {lat: parseFloat(this.listado[i].lat), lng: parseFloat(this.listado[i].lon)},
			 	icon: image,
			 	title: this.listado[i].nombre,
			 	draggable: false
			});
			
			
			// Add info window to marker    
	        google.maps.event.addListener(marker_n, 'click', (function(marker, i) {
	            return function() {
	            	var off_on = '<p style="color:green;"><b>Domiliado:</b> Abierto</p>';
	            	if(!marca[i]['laborando'])
	            		off_on = '<p style="color:red;"><b>Domiliado:</b> Cerrado</p>';

	            	var conten = '<img src="'+marca[i]['img']+'" style="width:100%;"/><h5 style="margin:0;">'+marca[i]['nombre']+'</h5>'+
						'<p>'+marca[i]['descripcion']+'</p>'+
						'<p style="margin-bottom: 0;"><b>Telefono:</b> '+marca[i]['telefono']+'</p>'+off_on+
						'<a class="btn-map-home" id="'+marca[i]['id']+'">Ver Domiliado</a>';
	            	infowindow.setContent(conten);
	                infowindow.open(map, marker);
	                setTimeout(function(){ 
	                	var elementos = document.querySelectorAll('.btn-map-home');
						// Recorremos cada uno de nuestros elementos
						elementos.forEach(function(elemento) {
						  	// Obtenemos el id
						  	var id = elemento.id;
						  	// Agregamos un listener a cada elemento
							elemento.addEventListener('click', function() {
							    self.$router.push({ name:'Menudoomialiadohome', params: {id:parseFloat(id)} })
							});
				  		});

	                }, 500);
	               
	            }
	        })(marker_n, i));
	        
			marker_n.setMap(map);

		};
		
		
		//marker.setMap(map);//crea la marca en el mapa
		

	},
};
</script>
