<template>
	<div>
				<div
					ref="mapa"
					map-type-id="terrain"
					class="col-12"
					style="height: 300px"
					>
				</div>

				<template>
					<slot :google="googlee" v-bind:lat="lat" v-bind:lon="lon"/></slot>
				</template>

	</div>
</template>


<script>

import { EventBus } from '../router/index';

export default {
	name: 'GoogleMap',
	props: {
		mapConfig: {
			type: Object,
			default(){
					return {
						center: { lat: 10.336902, lon: -68.745944 },
						zoom: 8,
					}
			},
		},
	},

	data(){
		return {
			// markers: [],
			map: null,
			options: {
				mapTypeControl: false,
				streetViewControl: false,
				fullscreenControl: false,
				zoomControl: true,
				scaleControl: true,
				zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                backgroundColor: "#fff"
			},
			lat: null,
			lon: null,
			googlee: google,
			listado: []
		}
	},
	async mounted(){
		
		
		const data_user = this.$api.cliente.obtenerDatos(); //obtener informacion del user cliente
		const rutaactual = this.$router.currentRoute.path; //obtener la ruta actual 
		//CUANDO SE ESTA EN PROFILE CON LA SESION CLIENTE
		if(data_user && data_user.lat && data_user.lon && rutaactual=='/profile'){ 
			this.mapConfig.center.lat = parseFloat(data_user.lat);
		    this.mapConfig.center.lon = parseFloat(data_user.lon);
		}else if(rutaactual=='/Misdirecciones' || rutaactual.indexOf("/Editardireccion/") == 0){ 
			var cordenadas = await this.$api.general.geo();
			if(cordenadas.lat){
				this.mapConfig.center.lat = parseFloat(cordenadas.lat);
		    	this.mapConfig.center.lon = parseFloat(cordenadas.lon);
		    }
		    if(this.$route.params.id){

				var iden = this.$route.params.id;
				await this.$api.general.recuperarData('direcciones/'+iden)
		          .then(r => {
		          	this.mapConfig.center.lat = parseFloat(r.lat_dir);
		    		this.mapConfig.center.lon = parseFloat(r.lon_dir);
		            //console.log(r);
		          }).catch(err => {
		            console.log(err);
		          });
		    }
		}else{ //CUANDO NO EXISTA NINGUNA CONDICION

			if (navigator.geolocation) { //validar si esta activo la funcion de geolocation en el movil o navegador
				const self = this;
				//Funcion para obtener cordenadas actuales
		        navigator.geolocation.getCurrentPosition(function(position){ 
		            self.mapConfig.center.lat = position.coords.latitude;
		            self.mapConfig.center.lon = position.coords.longitude;
		        });
		    }
		}

			this.options.center = new google.maps.LatLng(this.mapConfig.center.lat, this.mapConfig.center.lon);
			var map = new google.maps.Map(
                this.$refs.mapa,
                this.options
            );
            
			const self = this;
			const centroMarker = new google.maps.LatLng(this.mapConfig.center.lat, this.mapConfig.center.lon);
			var marker = new google.maps.Marker({position: centroMarker});
			if(rutaactual=='/profile'){ 
				//CUANDO SE ESTA EN PROFILE CON LA SESION CLIENTE
				self.lat = centroMarker.lat();//guarda coordenada en el input hidden
				self.lon = centroMarker.lng();//guarda coordenada en el input hidden
				marker.setMap(map);//crea la marca en el mapa
				
			}else if(rutaactual.indexOf("/Editardireccion/") == 0 && this.$route.params.id){ 
				self.lat = centroMarker.lat();//guarda coordenada en el input hidden
				self.lon = centroMarker.lng();//guarda coordenada en el input hidden
				marker.setMap(map);//crea la marca en el mapa
				
			}else{ 
				//CUANDO NO EXISTA NINGUNA CONDICION
				self.lat = null;//se vacian las cordenadas para que se exija la validación
				self.lon = null;//se vacian las cordenadas para que se exija la validación
			}
			
			//posicion del marcador al hacer click
			var eb = EventBus;
			google.maps.event.addListener(map, 'click', function(event) {
				marker.setMap(null);
				marker = new google.maps.Marker({position: event.latLng});
				marker.setMap(map);
				// map.panTo();

				self.lat = event.latLng.lat();
				self.lon = event.latLng.lng();
				eb.$emit('EmitirLAT', event.latLng.lat());
			});
		

	},
	methods: {},
};
</script>
