<template>
	<div>
		<q-footer elevated>
			<q-toolbar>
				<q-toolbar-title>
					<div class="row text-center">
						<div class="col">
							<q-btn push class="btn-footer" color="white" text-color="primary" round :icon="iconos[0]" :to="enlaces[0]" />
						</div>
						<div class="col">
							<q-btn push class="btn-footer" color="white" text-color="primary" round :icon="iconos[1]" :to="enlaces[1]"/>
						</div>
						<div class="col">
							<q-btn push class="btn-footer" color="white" text-color="primary" round :icon="iconos[2]" :to="enlaces[2]" @click="clickEnlace()" />
						</div>
						<div class="col">
							<q-btn push class="btn-footer" color="white" text-color="primary" round :icon="iconos[3]" :to="enlaces[3]" @click="clickEnlace()" />
						</div>
					</div>
				</q-toolbar-title>
			</q-toolbar>
		</q-footer>

		<q-dialog v-model="mostrarAlertaLogin">
			<q-card style="width: 100%;" class="bg_blue">
				<q-card-section class="text-center">
					<div class="text-right" >
						<q-btn label="x" flat class="rounded " v-close-popup />
					</div>
					<div><i class="fa fa-user-circle fa-5x clr_white"></i></div>
					
					<div class="row pt-4">
						<div class="col s6 p-0 btn-modal">
							<q-btn  icon="account_circle" to="/Iniciodesesion" class="q-ma-md rounded cl_standar">Ingresa</q-btn>
						</div>

						<div class="col s6 p-0 btn-modal">
							<q-btn  icon="touch_app" to="/Registro" class="q-ma-md rounded cl_standar">Regístrate</q-btn>
						</div>
					</div>
				</q-card-section>
			</q-card>
		</q-dialog>
	</div>
</template>


<script>
	export default {
		name: 'MenuFooter',
		props: ['logueado', 'tipoUsuario'],

		data(){
			return {
				mostrarAlertaLogin: false,

				iconosNoLogueado: ['home', 'map', 'favorite', 'notifications'],

				iconosCliente: ['home', 'map', 'favorite', 'notifications'],

				iconosRepartidor: ['home', 'reorder', 'search', 'done_all'],


				enlacesCliente: ['/home', '/Mapahome', '/Favoritos', '/notifications'],

				enlacesRepartidor: ['/Pedidos', '/Loginrepartidor', '/Loginrepartidor', '/Loginrepartidor'],

				enlacesNoLogueado: ['/home', '/Mapahome', '', ''],

			};
		},


		computed: {
			enlaces(){
				switch(this.tipoUsuario){
					case 'cliente': return this.enlacesCliente;
					case 'repartidor': return this.enlacesRepartidor;
					default: return this.enlacesNoLogueado;
				}
			},

			iconos(){
				switch(this.tipoUsuario){
					case 'cliente': return this.iconosCliente;
					case 'repartidor': return this.iconosRepartidor;
					default: return this.iconosNoLogueado;
				}
			},
		},


		methods: {
			clickEnlace(){
				if(!this.logueado)
					this.mostrarAlertaLogin = true;
			},
		},
	};
</script>
