<template>
<div>

	<q-header elevated>
		<q-toolbar>
			<!--Logeado y Repartidor-->
			<q-btn v-if="logueado"
				icon="menu"
				aria-label="Menu"
				@click="abrirMenu()"
			/>

			<div v-else style="width: 56px; height: 36px;"></div>
			<!--Logeado y Repartidor-->
			<q-toolbar-title class="text-subtitle2 text-center">
				<img src="statics/images/logo-icon.png" alt="" width="50px" @click="$store.dispatch('actualizarTodo')">
			</q-toolbar-title>

			<div style="right: 8px;">
				<a @click="Carrito()" class="clr_white"><i class="fa fa-shopping-cart"></i>
					<span> ({{ itemsCarrito }})</span>
				</a>
			</div>
		</q-toolbar>
	</q-header>


	<q-drawer v-if="logueado"
		v-model="leftDrawerState"
		show-if-above
		bordered
		content-class="bg-grey-1"
		>
		<q-img
		src="statics/images/logo.png"
		spinner-color="white"
		style="height: 170px; width: 100%"
		:ratio="16/9"
		img-class="my-custom-image"
		class="rounded-borders"
		>
		<div style="font-size:20px" class="absolute-bottom flex flex-center p-0 item-center m-0 text-subtitle2 text-center">
			<q-btn flat icon="account_circle" ></q-btn>
			{{ saludo }}
		</div>
		</q-img>

		<!--Logeado-->
		<q-list>
			</q-item-label>
			<EssentialLink
				v-for="link in opciones"
				:key="link.title"
				v-bind="link"
			/>
		</q-list>
		 <q-expansion-item :content-inset-level="0.5" expand-separator icon="settings" label="Configuraciones">
			 <EssentialLink
				v-for="link in configuraciones"
				:key="link.title"
				v-bind="link"
			/>
		 </q-expansion-item>
		  <!--Logeado-->


		  <!--Logeado y Repartidor-->
		<div style="align-items:center;" class="flex">
			<q-btn flat  icon="undo"/>
			<label style="margin-left:5%;" @click="confirm = true" >Salir</label>
		</div>
		  <!--Logeado y Repartidor-->


	<q-dialog v-model="confirm" persistent>
		<q-card  class="bg_blue">
			<q-card-section class="row items-center" text-color="white">
				<div class="text-center col-12"><q-avatar icon="warning" text-color="white" style="color: #fff !important; text-align:center;" /></div>

				<span class="q-ml-sm" style="color: #fff !important; text-align:center;">¿Está seguro que desea cerrar sesión? </span>
			</q-card-section>

			<q-card-actions align="center">
				<q-btn push  @click="salir()" class="rounded cl_standar" label="Aceptar" v-close-popup />
				<q-btn push class="rounded cl_standar" label="Cancelar" v-close-popup />
			</q-card-actions>
		</q-card>
	</q-dialog>

  </q-expansion-item>
	</q-drawer>

</div>
</template>


<script>

import EssentialLink from 'components/EssentialLink'

export default {
	name: 'MenuDrawer',

	props: ['logueado', 'opciones', 'configuraciones'],

	components: {
		EssentialLink,
	},


	data() {
		return {
			leftDrawerOpen: false,
			titleCurrenView: this.$store.state.titleCurrenView ,
			 confirm: false,
			 alert:false,
			 ConfiguracionesRepartidor:[
				{
					title: 'Editar perfil repartidor',
					link: '/profileRepartidor',
					icon: 'directions_bike',
				},
				{
					title: 'Cambiar contraseña',
					link: '/Contraseñarepartidor',
					icon: 'lock',
				},
			],
			 Opcionesrepartidor: [
				{
					title: 'Inicio',
					link: '/Pedidos',
					icon: 'home',
				},
				{
					title: 'Notificaciones',
					link: '/Notificationsrepartidor',
					icon: 'notifications_active',
				},
				{
					title: 'Historial de pedidos',
					link: '/Historial',
					icon: 'star',
				},
			],
			Configuraciones:[
				{
					title: 'Editar perfil',
					link: '/profile',
					icon: 'account_box',
				},
				{
					title: 'Cambiar contraseña',
					link: '/Cambiarcontraseña',
					icon: 'lock',
				},
				
			],
			Opcioneslogeado: [
				{
					title: 'Inicio',
					link: '/Home',
					icon: 'home',
				},
				{
					title: 'Mis direcciones',
					link: '/Listadirecciones',
					icon: 'location_on',
				},
					{
					title: 'Mis favoritos',
					link: '/Favoritos',
					icon: 'favorite',
				},
					{
					title: 'Mis ordenes',
					link: '/Misordenes',
					icon: 'add_shopping_cart',
				},
				 {
					title: 'Notificaciones',
					link: '/notifications',
					icon: 'done_all',
				},
			],
		}
	},

	methods: {
		Carrito(){
			 this.$router.push({ path:'/Carrito' });
		},

		abrirMenu(){
			this.$store.commit('openLeftDrawer')
		},

		salir(){
			this.$auth.salir()
				.then(() => this.$router.push('/Iniciodesesion'));
		},
	},

	computed: {
		leftDrawerState: {
				get(){return this.$store.getters.leftDrawerState},
				set(val){this.$store.commit('setLeftDrawer', val)},
		},

		saludo(){
			return this.logueado ?
				'Hola, '+this.$api.general.obtenerNombreUsuario()
				: 'Hola'
			},

		itemsCarrito(){
			return this.$store.getters['carrito/items'];
		},
	},

	watch: {
		logueado(n){
			console.log('logueado cambio:', n);
			this.saludo = 'hola ' + this.$api.general.obtenerNombreUsuario();
		},
	},

};

</script>