<template>


	<!-------------------------
		OBSOLETO: Usando Menu.vue
	---------------------------->


	<q-layout view="lHh Lpr lFf">
		<q-header elevated>
			<q-toolbar>
				<!--Logeado y Repartidor-->
				<q-btn
					icon="menu"
					aria-label="Menu"
					@click="leftDrawerOpen = !leftDrawerOpen"
				/>
				<!--Logeado y Repartidor-->
				<q-toolbar-title class="text-subtitle2 text-center">
					<img src="statics/images/logo-icon.png" alt="" width="50px">
				</q-toolbar-title>

				<div style="right: 8px;">
					<a href="/Notifications" class="clr_white"><i class="fa fa-bell"></i><span></span></a>
					<a @click="Carrito()" class="clr_white"><i class="fa fa-shopping-cart"></i><span> (1)</span></a>
				</div>
			</q-toolbar>
		</q-header>


		<q-drawer
			v-model="leftDrawerOpen"
			show-if-above
			bordered
			content-class="bg-grey-1"
			>

			<q-img
			src="statics/images/logo.png"
			spinner-color="white"
			style="height: 50pxh max-width: 100px"
			:ratio="16/9"
			img-class="my-custom-image"
			cl	ass="rounded-borders"
			>
			<div style="font-size:20px" class="absolute-bottom flex flex-center p-0 item-center m-0 text-subtitle2 text-center">
				<q-btn flat icon="account_circle" ></q-btn>
				{{ saludo }}
			</div>

			</q-img>
			<!--Logeado-->
			<q-list>
				</q-item-label>
					<EssentialLink
						v-for="link in Opcioneslogeado"
						:key="link.title"
						v-bind="link"
					/>
				</q-list>

				<q-expansion-item :content-inset-level="0.5" expand-separator icon="settings" label="Configuraciones">
					<EssentialLink
						v-for="link in Configuraciones"
						:key="link.title"
						v-bind="link"
					/>
				</q-expansion-item>
				
				<!--Logeado-->
				<!--Repartidor-->
				<q-list>
			</q-item-label>
			
			<EssentialLink
				v-for="link in Opcionesrepartidor"
				:key="link.title"
				v-bind="link"
			/>
			</q-list>

			<q-expansion-item :content-inset-level="0.5" expand-separator icon="settings" label="Configuraciones">
				<EssentialLink
					v-for="link in ConfiguracionesRepartidor"
					:key="link.title"
					v-bind="link"
				/>
			</q-expansion-item>
			<!--Repartidor-->


			<!--Logeado y Repartidor-->
			<div style="align-items:center;" class="flex">
				<q-btn flat  icon="undo"/>
				<label style="margin-left:5%;" @click="confirm = true" >Salir</label>
			</div>
			<!--Logeado y Repartidor-->
	  </q-expansion-item>
	  
		</q-drawer>

		 <!--Vista de pagina-->
		<q-page-container>
			<router-view />
		</q-page-container>
		  <!--Vista de pagina-->

		 <!--Logeado y No-logeado , Repartidor por los momentos no-->
		<q-footer elevated>
			<q-toolbar>
				<q-toolbar-title>
					<div class="row text-center">
						<div class="col">
							<q-btn push class="btn-footer" color="white" text-color="primary" round icon="home" to="/Ventanadecarga" />
						</div>
						<div class="col">
							<q-btn push class="btn-footer" color="white" text-color="primary" round icon="map" to="/business"/>
						</div>
						<div class="col">
							<q-btn push class="btn-footer" color="white" text-color="primary" round icon="favorite"  @click="alert = true" />
						</div>
						<div class="col">
							<q-btn push class="btn-footer" color="white" text-color="primary" round icon="assignment" @click="alert = true" to="/notifications" />
						</div>
					</div>
				</q-toolbar-title>
			</q-toolbar>
		</q-footer>
		  <!--Logeado y No-logeado , Repartidor por los momentos no-->

		  <!--Logeado y Repartidor-->
		<q-dialog v-model="confirm" persistent>
			<q-card  class="bg_blue">
				<q-card-section class="row items-center" text-color="white">
					<div class="text-center col-12"><q-avatar icon="warning" text-color="white" style="color: #fff !important; text-align:center;" /></div>

					<span class="q-ml-sm" style="color: #fff !important; text-align:center;">¿Está seguro que desea cerrar sesión? </span>
				</q-card-section>

				<q-card-actions align="center">
					<q-btn push  @click="logout()" class="rounded cl_standar" label="Aceptar" v-close-popup />
					<q-btn push class="rounded cl_standar" label="Cancelar" v-close-popup />
				</q-card-actions>
			</q-card>
		</q-dialog>
		<!--Logeado y Repartidor-->

		  <!--NO-logeado-->
		<q-dialog v-model="mostrarAlertaLogin">
			<q-card style="width: 100%;" class="bg_blue">
				<q-card-section class="text-center">
					<div class="text-right" >
						<q-btn label="x" flat class="rounded " v-close-popup />
					</div>
					<div><i class="fa fa-user-circle fa-5x clr_white"></i></div>
					
					<div class="row pt-4">
						<div class="col s6 p-0 btn-modal">
							<q-btn  icon="account_circle" to="/Iniciodesesion" class="q-ma-md rounded cl_standar">Ingresa</q-btn>
						</div>

						<div class="col s6 p-0 btn-modal">
							<q-btn  icon="touch_app" to="/Registro" class="q-ma-md rounded cl_standar">Regístrate</q-btn>
						</div>
					</div>
				</q-card-section>
			</q-card>
		</q-dialog>
		<!--NO-logeado-->

	</q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink'

export default {
	name: 'Menu',

	components: {
		EssentialLink
	},
	
	data () {
		return {
			saludo: 'Hola',
			leftDrawerOpen: false,
			titleCurrenView: this.$store.state.titleCurrenView ,
			 confirm: false,
			 alert:false,
			 ConfiguracionesRepartidor:[
				{
					title: 'Editar Perfil Repartidor',
					link: '/profileRepartidor',
					icon: 'directions_bike',
				},
				{
					title: 'Cambiar Contraseña',
					link: '/Contraseñarepartidor',
					icon: 'lock',
				},
			],
			 Opcionesrepartidor: [
				{
					title: 'Inicio',
					link: '/Pedidos',
					icon: 'home',
				},
				{
					title: 'Notificaciones',
					link: '/Notificationsrepartidor',
					icon: 'notifications_active',
				},
				{
					title: 'Historial de Pedidos',
					link: '/Historial',
					icon: 'star',
				},
			],
			Configuraciones:[
				{
					title: 'Editar Perfil',
					link: '/profile',
					icon: 'account_box',
				},
				{
					title: 'Cambiar Contraseña',
					link: '/Cambiarcontraseña',
					icon: 'lock',
				},
				
			],
			Opcioneslogeado: [
				{
					title: 'Inicio',
					link: '/Home',
					icon: 'home',
				},
				{
					title: 'Mis Direcciones',
					link: '/Listadirecciones',
					icon: 'location_on',
				},
					{
					title: 'Mis favoritos',
					link: '/Favoritos',
					icon: 'favorite',
				},
					{
					title: 'Mis ordenes',
					link: '/Misordenes',
					icon: 'add_shopping_cart',
				},
				 {
					title: 'Notificaciones',
					link: '/notifications',
					icon: 'done_all',
				},
			],
		}
	},

	mounted(){
		if (this.$auth.autenticado()){
			const tipoUsuario = this.$auth.obtenerTipoUsuario();

			if (tipoUsuario && tipoUsuario.length > 0)
				this.saludo = 'Hola, ' + (this.$api.repartidor.obtenerDatos()).nombre;
		}
	},

	methods: {
		logout(){
			this.$auth.salir()
				.then(() => this.$router.push('/Iniciodesesion'));
		},
		Carrito(){
			 this.$router.push({ path:'/Carrito' })
		}
	},
}
</script>
