<template>


	<!-------------------------
		OBSOLETO: Usando Menu.vue
	---------------------------->



<div id="Menurepartidor">
	<q-layout view="lHh Lpr lFf">
		<q-header elevated>
			<q-toolbar>
				<q-btn
					flat
					dense
					round
					icon="menu"
					aria-label="Menu"
					@click="leftDrawerOpen = !leftDrawerOpen"
				/>

				<q-toolbar-title class="text-subtitle2 text-center">
					<img src="statics/images/logo-icon.png" alt="" width="50px">
				</q-toolbar-title>
				
				<div style="right: 8px;">
					<a href="/Notifications" class="clr_white"><i class="fa fa-bell"></i><span></span></a>
					<a @click="Carrito()" class="clr_white"><i class="fa fa-shopping-cart"></i><span> (1)</span></a>
				</div>
			</q-toolbar>
		</q-header>

		<q-drawer
			v-model="leftDrawerOpen"
			show-if-above
			bordered
			content-class="bg-grey-1"
		>
			<q-img
			src="statics/images/logo.png"
			spinner-color="white"
			style="height: 50pxh max-width: 100px"
			:ratio="16/9"
			img-class="my-custom-image"
			class="rounded-borders"
		>
			<div class="absolute-bottom text-subtitle2 text-center">
				{{ saludo }}
			</div>
			</q-img> 
			<q-list>
				</q-item-label>
				<EssentialLink
					v-for="link in essentialLinks"
					:key="link.title"
					v-bind="link"
				/>
			</q-list>
			 <q-expansion-item :content-inset-level="0.5" expand-separator icon="settings" label="Configuraciones">
				 <EssentialLink
					v-for="link in Configuraciones"
					:key="link.title"
					v-bind="link"
				/>
        </q-expansion-item>
		<q-list>
				</q-item-label>
				<EssentialLink
					v-for="link in essentialLinkss"
					:key="link.title"
					v-bind="link"
				/>
			</q-list>
       <div style="align-items:center;" class="flex">
             <q-btn flat  icon="undo"/>
             <label style="margin-left:5%;" @click="confirm = true" to="/" >Salir</label>
            </div>
<q-dialog v-model="confirm" persistent>
			<q-card  class="bg_blue">
				<q-card-section class="row items-center" text-color="white">
					<div class="text-center col-12"><q-avatar icon="warning" text-color="white" style="color: #fff !important; text-align:center;" /></div>

					<span class="q-ml-sm" style="color: #fff !important; text-align:center;">¿Está seguro que desea cerrar sesión? </span>
				</q-card-section>

				<q-card-actions align="center">
				    <q-btn push color="white" @click="salir()" text-color="primary" label="Aceptar" v-close-popup />
				    <q-btn push color="white" text-color="primary" label="Cancelar" v-close-popup />
				</q-card-actions>
			</q-card>
		</q-dialog>
      </q-expansion-item>
		</q-drawer>

		<q-page-container>
			<router-view />
		</q-page-container>
		<q-footer elevated>
				<q-toolbar>
					<q-toolbar-title>
						<div class="row text-center">
							<div class="col">
								<q-btn push class="btn-footer" color="white" text-color="primary" round icon="home" to="/Pedidos" />
							</div>
							<div class="col">
								<q-btn push class="btn-footer" color="white" text-color="primary" round icon="reorder" to="/Loginrepartidor"/>
							</div>
							<div class="col">
								<q-btn push class="btn-footer" color="white" text-color="primary" round icon="search" to="/loginrepartidor" />
							</div>
							<div class="col">
								<q-btn push class="btn-footer" color="white" text-color="primary" round icon="done_all" to="/loginrepartidor" />
							</div>
						</div>
					</q-toolbar-title>
				</q-toolbar>
		</q-footer>
	</q-layout>
</div>
</template>

<script>
import EssentialLink from 'components/EssentialLink'


export default {
	name: 'Menu',

	components: {
		EssentialLink
	},
    
	data () {
		return {
			saludo: 'Hola',
			leftDrawerOpen: false,
			titleCurrenView: this.$store.state.titleCurrenView ,
			confirm: false,
			Configuraciones:[
                {
					title: 'Editar Perfil Repartidor',
					link: '/profileRepartidor',
					icon: 'directions_bike',
                },
                {
					title: 'Cambiar Contraseña',
					link: '/Contraseñarepartidor',
					icon: 'lock',
                },
			],
			essentialLinks: [
				{
					title: 'Inicio',
					link: '/Pedidos',
					icon: 'home',
				},
            ],
            essentialLinkss: [
                {
					title: 'Notificaciones',
					link: '/Notificationsrepartidor',
					icon: 'notifications_active',
				},
                {
					title: 'Historial de Pedidos',
					link: '/Historial',
					icon: 'star',
				},
            ]
		}
	},
	mounted(){
		if (this.$auth.autenticado()){
			const datos =  this.$api.repartidor.obtenerDatos();
			this.saludo = 'Hola, ' + datos.nombre;
		}
	},
	methods: {
		salir(){
			this.$auth.salir()
				.then(() => this.$router.push({name:'Iniciodesesion'}));
		},
	},
}
</script>
